.content_wrapper_block .catalog_section_list .section_item {
    text-align: left;
    padding: 35px 30px 20px;
}
.content_wrapper_block .sections_wrapper .list .item .name a,
.content_wrapper_block .sections_wrapper .list .item .name a:not(.option-font-ignore),
.content_wrapper_block .catalog_section_list .section_item li.name a span:not(.option-font-ignore){
    font-weight: 600;
}
.content_wrapper_block .sections_wrapper .list .row:not(.margin0) > div {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 6px;
}
.sections_wrapper .list.items {
    padding: 0px 13px;
}
.section-subsect-list-item {
    margin: 10px 0 15px;
}
.section-subsect-list-item a {
    color: #565656;
}
.section-subsect-list-item a:hover {
    color: #839737;
}
.section_item_inner{
    height: 100%;
    display: grid;
}
.sect-list-more {
    margin-top: auto;
}
.section_item_inner .more_items{
    position: absolute;
    bottom: 0;
}
.section_item_inner li {
    max-width: 70%;
}
@media(max-width:420px){
    .section-subsect-list-item {
        margin: 8px 0 10px;
        font-size: 15px;
        line-height: 1.1;
    }
    .catalog_section_list .section_item li.name {
        line-height: 1.1;
    }
    .content_wrapper_block .catalog_section_list .section_item {
        text-align: left;
        padding: 25px 20px 15px;
    }
    .sect-list-more {
        font-size: 15px;
    }
}
