:root {
	--ui-icon-size-xs: 26px;
	--ui-icon-size-sm: 31px;
	--ui-icon-size-md: 39px;
	--ui-icon-size-lg: 47px;
	--ui-icon-size: 39px;
}

.landing-b24-widget-button-social-item
{
	display: inline-flex;
	align-items: center;
	padding: 12px 12px 12px calc(var(--ui-icon-size-md) * 2);
	margin-bottom: 9px;
	background-repeat: no-repeat;
	background-position: calc(var(--ui-icon-size-md) / 2) center !important;
	background-size: var(--ui-icon-size-md) !important;
	color: white;
	border-radius: 4px;
	font-size: 16px;
	width: 100%;
}

.landing-b24-widget-button-social-item:hover
{
	color: white;
	text-decoration: none;
	opacity: .85;
}
.landing-b24-widget-button-social-item.b24-widget-button-openline_livechat {
	background-color: #ffa900;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-livechat.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-whatsapp {
	background-color: #01e675;
	/*background-size: 30px;*/
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-whatsapp.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-avito {
	background-color: #0af;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-avito.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-viber {
	background-color: #995aca;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-viber.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-fb-messenger {
	background-color: #0183ff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb-messenger.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-telegram {
	background-color: #2fc6f6;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-telegram.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-wechat {
	background-color: #2ec100;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-wechat.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-skype {
	background-color: #02aff0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-skype.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-bitrix24 {
	background-color: #3ac8f5;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-bitrix24.svg);
}

.landing-b24-widget-button-social-item.ui-icon-service-ya,
.landing-b24-widget-button-social-item.ui-icon-service-yandex {
	background-color: #fff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-ya.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-apple {
	background-color: #000;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-apple.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-apple {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-apple.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-vk,
.landing-b24-widget-button-social-item.ui-icon-service-vkontakte {
	background-color: #3871ba;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-vk.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-vk,
.landing-b24-widget-button-social-item.ui-icon-service-light-vkontakte {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-vk.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-fb,
.landing-b24-widget-button-social-item.ui-icon-service-facebook {
	background-color: #38659f;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-fb,
.landing-b24-widget-button-social-item.ui-icon-service-light-facebook {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-fb.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-fb-comments {
	background-color: #38659f;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb-comments.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-fb-comments {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-fb-comments.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-instagram-fb {
	background-color: #e85998;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-instagram-fb.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-instagram-fb {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-instagram-fb.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-instagram {
	background-color: #d56c9a;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-instagram.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-instagram {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-instagram.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-slack {
	background-color: #776ebd;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-slack.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-slack {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-slack.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-office365 {
	background-color: #fff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-office365.svg);
}
.landing-b24-widget-button-social-item.ui-icon-service-light-office365 {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-office365.svg);
}