.has-secion-banner .header_wrap .wrapper_inner, .has-secion-banner .header_wrap .maxwidth-theme, .has-secion-banner .top-block > .maxwidth-theme > .wrapp_block,
.has-secion-banner .top-block-wrapper .maxwidth-theme,
.fill_bg_n .has-secion-banner .menu-row.middle-block.bgdark{background: none;}
.has-secion-banner .menu-row.middle-block.bgdark .menu-only{background: #333;}

body .has-secion-banner.light-menu-color header .subbottom .mega-menu table td .wrap > a,
body .has-secion-banner.light-menu-color header .bg_none .mega-menu table td .wrap > a:not(:hover), body .has-secion-banner.light-menu-color header .logo-row .top-description,
body .has-secion-banner.light-menu-color header .logo-row .subtop.lines-block .menu > li > a, body .has-secion-banner.light-menu-color header .logo-row .subtop.lines-block .menu > li > span,
body .has-secion-banner.light-menu-color header .logo-row .search_wrap.only_bg .search-input,
body .has-secion-banner.light-menu-color header .logo_and_menu-row .logo-row .top-btn:not(:hover) > span{color:#fff;}
body .has-secion-banner.light-menu-color header .logo_and_menu-row .logo-row .svg:not(.svg-inline-search2):not(.light-ignore) svg path, body .has-secion-banner.light-menu-color header .logo_and_menu-row .logo svg path,
body .has-secion-banner.light-menu-color header .logo-row .search_wrap.only_bg .svg path,
body .has-secion-banner.light-menu-color header .bg_none .mega-menu table td .wrap > a:not(:hover) .svg path{fill:#fff !important;}
body .wrapper1.has-secion-banner.light-menu-color header .mega-menu table td .wrap > a.more-items span:before{background-position: -124px -51px;}

body .has-secion-banner.light-menu-color header .logo_and_menu-row .region_wrapper .js_city_chooser, body .has-secion-banner.light-menu-color header .logo_and_menu-row .phone > a, body .has-secion-banner.light-menu-color header .logo_and_menu-row .callback-block,
body .has-secion-banner.light-menu-color header .logo_and_menu-row .logo-row .wrap_icon .title, body .has-secion-banner.light-menu-color header .logo_and_menu-row .logo-row .wrap_icon .name,
body .has-secion-banner .sticky_menu.light-menu-color .logo_and_menu-row .content-block .subcontent .top-block .menu.topest>li > a,
body .has-secion-banner .sticky_menu.light-menu-color .logo_and_menu-row .content-block .subcontent .top-block .menu.topest>li > span,
body .has-secion-banner.light-menu-color .logo_and_menu-row .address{color:#fff;}

body .has-secion-banner.light-menu-color .logo_and_menu-row .region_wrapper .js_city_chooser:hover, body .has-secion-banner.light-menu-color .logo_and_menu-row .callback-block:hover,
body .has-secion-banner.light-menu-color .logo-row .subtop.lines-block .menu > li:hover > a, body .has-secion-banner.light-menu-color .logo-row .subtop.lines-block .menu > li:hover > span,
body .has-secion-banner .sticky_menu.light-menu-color .logo_and_menu-row .content-block .subcontent .top-block .menu.topest>li > a:hover{opacity:0.5;}

.has-secion-banner.light-menu-color .logo-row .lines-block:before,
.has-secion-banner.light-menu-color .header-wrapper .lines-row:before{background: rgba(255,255,255,0.07);}

body .has-secion-banner .menu-row.bgcolored{background:transparent;}
.has-secion-banner .menu-row .menu-only{border-radius: 3px;}
body .has-secion-banner .fix-logo .menu-row .menu-only-wr{border-left-color: transparent;border-radius: 3px 0px 0px 3px;}
body .has-secion-banner .fix-logo .menu-row:not(.bgcolored) .menu-only-wr{border-left-color: transparent;}
body .has-secion-banner .menu-row .menu-item:first-of-type{border-radius: 3px 0px 0px 3px;}
body .has-secion-banner .fix-logo .menu-row .search-block{padding-right: 20px;}

.fill_bg_n .has-secion-banner .menu-row.middle-block.bglight, .fill_bg_y .has-secion-banner .menu-row.middle-block.bglight .mega-menu{border-bottom-color:rgba(255,255,255,0.2);}
.has-secion-banner .logo_and_menu-row .search_wrap.only_bg .search-wrapper,
.has-secion-banner .menu-row.middle-block.bglight .mega-menu{border-color:rgba(255,255,255,0.2);}

/* body .has-secion-banner.light-menu-color header input::placeholder{color: #fff;} */
body .has-secion-banner.light-menu-color header input::-ms-input-placeholder{color:#fff;}
body .has-secion-banner.light-menu-color header input:-ms-input-placeholder{color:#fff;}

/*search header*/
    /*white*/
    .long_banner.header_search_opacity .light-menu-color .logo_and_menu-row .search .search-input,
    body .long_banner.header_search_opacity .light-menu-color .menu-row .search .search-input,
    .has-secion-banner.light-menu-color.header_search_opacity .logo_and_menu-row .search .search-input,
    .light-menu-color.long_banner_contents.header_search_opacity .logo_and_menu-row .search .search-input{background: rgba(255, 255, 255, 0.15) !important;border-color: rgba(255, 255, 255, 0.06) !important;color: #fff;}
    .long_banner.header_search_opacity .light-menu-color .logo_and_menu-row .search .search-input::placeholder,
    .long_banner.header_search_opacity .light-menu-color .menu-row .search .search-input::placeholder,
    .has-secion-banner.light-menu-color.header_search_opacity .logo_and_menu-row .search .search-input::placeholder,
    .light-menu-color.long_banner_contents.header_search_opacity .logo_and_menu-row .search .search-input::placeholder{color: #fff !important;}
    .long_banner.header_search_opacity .light-menu-color .logo_and_menu-row .search .btn-search .svg path,
    .long_banner.header_search_opacity .light-menu-color .logo_and_menu-row .search .btn-search:hover .svg svg path,
    .long_banner.header_search_opacity .light-menu-color .menu-row .search .btn-search .svg path,
    .long_banner.header_search_opacity .light-menu-color .menu-row .search .btn-search:hover .svg svg path,
    .has-secion-banner.light-menu-color.header_search_opacity .logo_and_menu-row .search .btn-search .svg path,
    .has-secion-banner.light-menu-color.header_search_opacity .logo_and_menu-row .search .btn-search:hover .svg svg path,
    .has-secion-banner.light-menu-color.header_search_opacity .menu-row .search .btn-search .svg path,
    .has-secion-banner.light-menu-color.header_search_opacity .menu-row .search .btn-search:hover .svg svg path,
    .light-menu-color.long_banner_contents.header_search_opacity .menu-row .search .btn-search .svg path,
    .light-menu-color.long_banner_contents.header_search_opacity .menu-row .search .btn-search:hover .svg svg path,
    .light-menu-color.long_banner_contents.header_search_opacity .logo_and_menu-row .search .btn-search .svg path,
    .light-menu-color.long_banner_contents.header_search_opacity .logo_and_menu-row .search .btn-search:hover .svg svg path{fill: #fff;}

    /*dark*/
    body .long_banner.header_search_opacity .logo_and_menu-row .search .search-input,
    body .long_banner.header_search_opacity .menu-row .search .search-input,
    .has-secion-banner.header_search_opacity .logo_and_menu-row .search .search-input,
    .has-secion-banner.header_search_opacity .menu-row .search .search-input,
    .long_banner_contents.header_search_opacity .logo_and_menu-row .search .search-input,
    .long_banner_contents.header_search_opacity .menu-row .search .search-input{background: rgba(255, 255, 255, 0.15) !important;border-color: rgba(0, 0, 0, 0.06) !important;color: #000;}
    body .long_banner.header_search_opacity .logo_and_menu-row .search .svg path,
    body .long_banner.header_search_opacity .logo_and_menu-row .search .btn-search:hover .svg svg path,
    body .has-secion-banner.header_search_opacity .logo_and_menu-row .search .svg path,
    body .has-secion-banner.header_search_opacity .logo_and_menu-row .search .btn-search:hover .svg svg path,
    body .long_banner_contents.header_search_opacity .logo_and_menu-row .search .svg path,
    body .long_banner_contents.header_search_opacity .logo_and_menu-row .search .btn-search:hover .svg svg path{fill: #000;}
    body .long_banner.header_search_opacity .logo_and_menu-row .search .search-input::placeholder,
    body .has-secion-banner.header_search_opacity .logo_and_menu-row .search .search-input::placeholder,
    body .long_banner_contents.header_search_opacity .logo_and_menu-row .search .search-input::placeholder{color: #000;}
/**/

@media (max-width: 1399px) and (min-width: 992px){
    .top_big_banners.with_childs.nop .slide.col-md-6{width: 100%;left: 0px;}
    .top_big_banners.with_childs.nop .col-md-6 + .child.col-md-3,
    .top_big_banners.with_childs.nop .col-md-6 + .child.col-md-3 + .child.col-md-3{width: 50%;right: 0px;}
    .top_big_banners.with_childs.nop .child.col-md-6{width: 100%;}
}
@media (max-width: 991px){
	body .has-secion-banner .section-banner-top__picture{top:0px;}
}
@media (min-width: 400px){
	.has-secion-banner .wraps > .wrapper_inner{padding-top: 50px;}
	.has-secion-banner .top-block-wrapper{padding-top: 79px;position: relative;}
	.has-secion-banner .page-top{position: static;}
	.has-secion-banner .page-top > div:last-of-type{padding: 16px 0px 37px;}
	.has-secion-banner.light-menu-color .page-top h1, .has-secion-banner.light-menu-color .page-top .element-count{color: #fff;border-color: #fff;}
	.has-secion-banner.light-menu-color .page-top .element-count{opacity: 0.5;}
	.has-secion-banner.light-menu-color .page-top .breadcrumbs__arrow-down svg path{fill: #fff;}
	.has-secion-banner.light-menu-color .page-top .breadcrumbs__link:hover .breadcrumbs__item-name{color: #fff;}
}
@media (max-width: 400px){
	body .has-secion-banner .section-banner-top__picture{display: none;}
}

@media (max-width: 500px){
	.banners-content .maxwidth-banner .buttons_block {text-align: center;}
	.banners-content .maxwidth-banner .buttons_block > span {display: inline-block;}
}

.banners-content .maxwidth-banner .btn-default.white:not(:hover) {border-color:#fff;color: #333!important;}

.banners-content h1{line-height: 1.25em;}

@media (min-width: 991px){
	.top_big_banners.short_block.v2 .top_slider_wrapp .flexslider .banner_title .head-title {font-size: 1.9333em;}
    .top_big_banners.short_block.v2 .top_slider_wrapp .slides .banner_title .prices {margin-top: 11px;}
    .top_big_banners.short_block.v2 .top_slider_wrapp .slides .banner_buttons {margin-top: 23px;}
	.top_big_banners.short_block.v2 .top_slider_wrapp .slides .banner_buttons.with_actions {margin-top: 20px;}
	.top_big_banners.short_block.v2 .top_slider_wrapp .flexslider .banner_buttons a {padding: 12px 21px 12px;}
	.top_big_banners.short_block.v2 .top_slider_wrapp .flexslider .banner_buttons .btn-video {padding: 19px 21px 19px;}
	.top_big_banners.short_block.v2 .top_slider_wrapp .slides .wraps_buttons .wrap {width: 40px;height: 40px;}

	/*banner over head*/
	body.top_header_opacity .top-block.top-block-v1 {
        position: absolute;
        width: 100%;
        border-bottom-width: 0px;
        background: transparent;
    }

    body.top_header_opacity .wrapper1.has-secion-banner:not(.front_page) header .header-wrapper {
        padding-top: 46px
    }

    body.top_header_opacity .wrapper1.light-menu-color .top-block.top-block-v1 * {
        color: #fff
    }

    body.top_header_opacity .wrapper1.light-menu-color .top-block.top-block-v1 .svg.inline * {
        fill: #fff
    }

    body.top_header_opacity .wrapper1.light-menu-color .top-block.top-block-v1 .top-block-item .phone.with_dropdown .more_phone a {
        color: #222
    }

    body.top_header_opacity .wrapper1.light-menu-color .top-block.top-block-v1 .top-block-item .phone.with_dropdown .more_phone a span {
        color: #999
    }

    body.top_header_opacity .wrapper1.light-menu-color .top-block.top-block-v1 .auth_wr_inner a {
        color: #222
    }

    body.top_header_opacity .wrapper1.light-menu-color .top-block.top-block-v1 .menu.topest li.more>span {
        color: #fff
    }

    body.top_header_opacity .wrapper1.light-menu-color .top-block.top-block-v1 .menu.topest li.more ul.dropdown span {
        color: #000
    }

    body.top_header_opacity .light-menu-color .top-block.top-block-v1:before {
        background: rgba(255,255,255,.07)
    }

    body.top_header_opacity .top-block.top-block-v1:before {
        content: "";
        display: block;
        left: 0;
        right: 0;
        height: 1px;
        background: rgba(0,0,0,.07);
        position: absolute;
        bottom: -2px
    }
    body.top_header_opacity .section-banner-top__picture{top:-183px;}
	/**/
}