/* COMMON */
.bx-messenger-content-item-notify .bx-messenger-ajax { color: #727373; border-bottom-color: #acaeae;}
.bx-im-smile-like, .bx-im-smile-dislike { display: inline-block; height: 20px; width: 20px; background: url("./../images/im-sprite-v37.png") repeat -211px -52px; margin-bottom: -1px;}
.bx-im-smile-dislike { background-position:  -239px -52px;}
.bx-messenger-message-extra {
	padding: 10px 12px 2px;
	display: block;
	margin: 0 63px 0 61px;
	border-radius: 4px;
	transition: background 2s, border 2s, box-shadow .5s;
	font: 12px/19px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #a8a9ab;
}

/* CL */
.bx-messenger-input-wrap-active .bx-messenger-input-close { opacity: 1 }
.bx-messenger-command { border-bottom: 1px dashed #2067B0; cursor: pointer; color: #2067B0; }
.bx-messenger-command-data { display: none; }
.bx-messenger-content-item-system .bx-messenger-content-item-arrow {display:none;}

/* LINES */
.bx-lines-rating-box {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 105px;
	background-image: url("./../images/im-sprite-v37.png");
	background-position: -208px 0;
	background-repeat: repeat-x;
	margin-right: 5px;
	vertical-align: bottom;
}
.bx-lines-rating-box-current {
	height: 20px;
	background-image: url("./../images/im-sprite-v37.png");
	background-position: -208px -22px;
}
.bx-lines-rating-box-live {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.bx-lines-rating-box-item {
	display: block;
	float: left;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-image: url("./../images/im-sprite-v37.png");
	background-repeat: no-repeat;
	background-position: -208px -22px;
}
.bx-lines-rating-box-item:hover ~ span {
	background-position: -208px 0;
}
.bx-lines-rating-box-live:hover {
	opacity: 1;
}

/* ATTACH */
.bx-messenger-attach-box { position: relative; }
.bx-messenger-attach {
	display: block;
	border-left: 3px solid transparent;
	padding-left: 10px;
	margin-left: 1px;
	margin-top: 8px;
	font: 13px/19px "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	position: relative;
}
.bx-messenger-attach a { text-decoration: none; }
.bx-messenger-attach a:hover { text-decoration: underline; }
.bx-messenger-attach+.bx-messenger-attach { margin-top: 12px; }
.bx-messenger-attach-users { display: block; }
.bx-messenger-attach-users+.bx-messenger-attach-users {margin-top: 3px;}
.bx-messenger-attach-user { display: block; white-space: nowrap; overflow: hidden; }
.bx-messenger-attach-user-avatar {
	display: inline-block; width: 22px; height: 22px;
	vertical-align: baseline; margin-right: 2px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 2px;
	position: relative;
}
.bx-messenger-attach-user-avatar-img { width: inherit; height: inherit; border: 0; border-radius: 50%; background: #fff; display: inline-block; }
.bx-messenger-attach-user-avatar-default {  background: url("./../images/im-sprite-v37.png") repeat scroll 0 -1990px #77828e; }
.bx-messenger-attach-chat-avatar-default {  background: url("./../images/im-sprite-v37.png") repeat scroll -2px -2030px #77828e; }
.bx-messenger-attach-bot-avatar-default {  background: url("./../images/im-sprite-v37.png") repeat scroll -1px -2050px #77828e; }
.bx-messenger-attach-user-name {
	display: inline-block; font: bold 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;padding-left: 1px; margin-left: 5px;
	overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.bx-messenger-attach-user .bx-messenger-attach-user-name { 	color: #323232!important;  font-weight: bold!important; }
.bx-messenger-attach-user-name.bx-messenger-ajax { border-color: #323232; }
.bx-messenger-attach-user-link { cursor:pointer; }
.bx-messenger-attach-rich-links {
	display: inline-block;
	border: 1px solid #e4e3e3;
    border-radius: 11px;
	background-color: #fff;
	margin-right: 5px;
	min-width: 254px;
}
.bx-messenger-content-item-content-rich-link .bx-messenger-attach-rich-links  { margin-right: 0; }
.bx-messenger-attach-rich-links .bx-messenger-file-image-src {
	border: 0;
	border-radius: 10px 10px 0 0;
}
.bx-messenger-attach-rich-links .bx-messenger-attach-rich-link-panel {
	border-radius: 10px;
}
.bx-messenger-attach-rich-links .bx-messenger-file-image-src+.bx-messenger-attach-rich-link-panel {
	border-radius: 0 0 10px 10px;
}

.bx-messenger-attach-rich-link-with-preview { padding-bottom: 5px; }
.bx-messenger-attach-rich-link-name {
	font-size: 14px; display: block; font-weight: bold; color: #000!important; margin-bottom: 4px;
	max-height: 40px;
    overflow: hidden;
}
.bx-messenger-attach-rich-link-desc {
	display: block; color: #666666!important;
	max-height: 40px;
    overflow: hidden;
}
.bx-messenger-attach-rich-link-source {
	max-width: 100%;
	max-width: calc(100% - 120px);
	overflow: hidden;
	white-space: nowrap;
	color: #7d7c7c;
	font-size: 12px;
	margin-bottom: -3px;
	margin-top: 3px;
	text-overflow: ellipsis;
}

.bx-messenger-attach-rich-links .bx-messenger-file-image-src {
	line-height: inherit; font-size: inherit;
	position: relative;
	height: 150px;
}
.bx-messenger-attach-rich-links .bx-messenger-file-image {
	margin: 0;
	max-width: 295px;
}
.bx-messenger-attach-rich-links .bx-messenger-file-image-without-preview {
	max-width: 100%;
}
.bx-messenger-file-image-without-preview .bx-messenger-attach-rich-link-desc {
	max-height: 118px;
}

.bx-messenger-attach-links { display: block; }
.bx-messenger-attach-link-with-preview { padding-bottom: 5px; }
.bx-messenger-attach-link-name { display: block; }
.bx-messenger-attach-link-desc { display: block; color: #666666!important; }
.bx-messenger-attach-message { display: block;  position: relative;  }
.bx-messenger-attach-link { display: block; }
.bx-messenger-attach-links .bx-messenger-file-image-src {
	max-width: 295px;
}

.bx-messenger-file-image:hover { text-decoration: none!important; color: #000!important; text-align: left; }


.bx-messenger-file-image-src-empty { width: 500px; background: none; }


.bx-messenger-attach-message { display: block;  position: relative;  }
.bx-messenger-attach-rich-link { display: block; }
.bx-messenger-attach-rich-link-panel {
	display: block;
    background: rgba(255,255,255, .90);
	position: relative;
	padding: 10px 15px;
	text-align: left;
	bottom: 0;
}

.bx-messenger-attach:hover .bx-messenger-attach-delete {opacity: 1}
.bx-messenger-attach-delete { opacity: 0; transition: opacity .4s; outline: none; position:absolute; z-index: 4; font: 12px/17px "Helvetica Neue",Helvetica,Arial,sans-serif; cursor: pointer; display: block; right: 10px; margin-top: 10px; background: #000; width: 15px; height: 15px;  background: url(./../images/im-sprite-v37.png) -222px -591px no-repeat;}
.bx-messenger-attach-delete:hover {background-position: -106px -962px;}
.bx-messenger-attach-delimiter {
	background-color: #c6c6c6;
	display: block;
	font-size: 0;
	height: 1px;
	margin-top: 8px;
	margin-bottom: 7px;
	width: 300px;
}
.bx-messenger-attach-blocks + .bx-messenger-attach-delimiter { margin-top: 0; }
.bx-messenger-attach-blocks { display: block; }
.bx-messenger-attach-block {
	display: block;
	vertical-align: top;
	padding-bottom: 10px;
}
.bx-messenger-attach-blocks:first-child .bx-messenger-attach-block { padding-top: 0 }
.bx-messenger-attach-block-line { display: inline-block; width: 200px; }
.bx-messenger-attach-block-card { display: inline-block; width: 200px; }
.bx-messenger-attach-block-row + .bx-messenger-attach-block-block,
.bx-messenger-attach-block-column + .bx-messenger-attach-block-row,
.bx-messenger-attach-block-line + .bx-messenger-attach-block-row,
.bx-messenger-attach-block-card + .bx-messenger-attach-block-row,
.bx-messenger-attach-block-block + .bx-messenger-attach-block-row,
.bx-messenger-attach-block-column + .bx-messenger-attach-block-column,
.bx-messenger-attach-block-block + .bx-messenger-attach-block-block,
.bx-messenger-attach-block-row + .bx-messenger-attach-block-row { margin-top: -6px;}
.bx-messenger-attach-block-row .bx-messenger-attach-block-name { display: inline-block; width: 100px; }
.bx-messenger-attach-block-row .bx-messenger-attach-block-value { display: inline-block;
	vertical-align: top;
}
.bx-messenger-attach-block-name { font-weight: bold;
	display: block;
}
.bx-messenger-attach-block-value {
	display: block;
}
.bx-messenger-attach-images { display: block; }
.bx-messenger-attach-files { display: block; }

.bx-messenger-attach-block-spoiler { cursor: pointer; position: relative; }
.bx-messenger-attach-block-spoiler-name { display: inline-block; }
.bx-messenger-attach-block-spoiler-icon { display: inline-block; margin-left: 5px;}
.bx-messenger-attach-block-spoiler-icon:after {content: ""; border: 4px solid transparent; border-top: 4px solid #7d7d7d;  position: absolute; margin-top: -6px; }
.bx-messenger-attach-block-spoiler-show .bx-messenger-attach-block-spoiler-icon:after { border: 4px solid transparent; border-bottom: 4px solid #5d5d5d; margin-top: -10px;  }
.bx-messenger-attach-block-spoiler .bx-messenger-attach-block-value {  overflow: hidden;  transition: all .4s;  cursor: pointer;  }

.bx-messenger-content-item-params {
	padding-right: 10px;
    margin-right: -10px;
	transition: background .3s;
	border-radius: 12px;
	background: transparent;
}
.bx-messenger-content-item-content-rich-link .bx-messenger-message { display: none; }
.bx-messenger-content-item-content-large-font .bx-messenger-message {
	font-size: 30px;
    line-height: 35px;
}
.bx-messenger-content-item-content-without-padding:hover .bx-messenger-content-item-params {
	background-color: rgba(14, 14, 14, 0.78);
}
.bx-messenger-content-item .bx-messenger-content-item-content.bx-messenger-content-item-content-transparent {
	background-color: transparent;
	border-color: transparent;
	transition: none;
}
.bx-messenger-content-item .bx-messenger-content-item-content.bx-messenger-content-item-content-transparent  .bx-messenger-content-item-arrow { opacity: 0; }
.bx-messenger-content-item .bx-messenger-content-item-content.bx-messenger-content-item-content-transparent  .bx-messenger-content-item-avatar { margin-top: 10px;}

.bx-messenger-content-quote .bx-messenger-file-image { margin-left: 0; }

.bx-messenger-content-reply { display: block; margin: 5px 68px 5px 61px; }
.bx-messenger-content-reply-comment { display: inline-block; white-space: nowrap; float: right; padding-top: 3px }
.bx-messenger-content-reply-join { display: inline-block; margin-right: 10px; float: left; }
.bx-messenger-content-reply-join-button {
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 4px 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #b5b5b5;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    min-width: 24px;
    cursor: pointer;
    transition: opacity .5s;
    opacity: 1;
}
.bx-messenger-content-reply-block { display: inline-block;  }

.bx-messenger-content-reply-users {display: inline-block; float: right; }
.bx-messenger-content-reply-users .bx-notifier-popup-avatar { border: 0; }
.bx-messenger-content-reply-users .bx-notifier-popup-avatar-img-default { background-position: -1px -2011px; }
.bx-messenger-content-reply-answer {display: inline-block; font-size: 11px; border-bottom: 1px dashed #646c7a; margin-left: 7px; color: #646c7a; cursor: pointer; }
.bx-messenger-content-reply-date { display: inline-block; font-size: 11px; color: #646c7a; }
.bx-messenger-content-reply-clear {clear: both;}

.bx-messenger-file-box { margin-bottom: -19px; min-width: 280px; min-height: 47px; }
.bx-messenger-file-box-with-message { margin-bottom: 4px; }


.bx-messenger-file { border-top: 1px solid #dee7ef;margin-top: 4px; padding-top: 4px; position: relative; }

.bx-messenger-file:first-child { border-top: 0; margin-top: 0; padding-top: 0; }
.bx-messenger-file-preview {}
.bx-messenger-file-image { display: block;margin-top: 4px; overflow: hidden;}
.bx-messenger-file-image-src {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-around;
	-ms-flex-pack: justify;
    justify-content: space-around;

	border-radius: 10px;
	min-width: 88px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	border: 1px solid #dedede;
}

.bx-messenger-file-image-type-video-button
{
	background: rgba(0,0,0,.5);
	width: 50px;
	height: 50px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.bx-messenger-file-image-type-video-button-play
{
	border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #fff;
	width: 0;
	height: 0;
	margin-top: 10px;
	margin-left: 16px;
	position: absolute;
}

.bx-messenger-file-image-type-video-button-download-1
{
	background: #fff;
	width: 6px;
	height: 20px;
	margin-top: 14px;
	margin-left: 22px;
	position: absolute;
}
.bx-messenger-file-image-type-video-button-download-2
{
	border-style: solid;
	border-width: 12px 12px 0 12px;
	border-color: #fff transparent transparent transparent;
	width: 0;
	height: 0;
	margin-top: 28px;
	margin-left: 13px;
	position: absolute;
}

.bx-messenger-file-image-text,
.bx-messenger-file-image-src .bx-bxu-proper-canvas{
	max-height: 100vh;
	max-width: 100%;
	vertical-align: top;
	border-radius: 6px;
	background-color: #fff;
}

.bx-ie .bx-messenger-file-image-text,
.bx-ie .bx-messenger-file-image-src .bx-bxu-proper-canvas {
	width: 100%;
}

.bx-messenger-file-image-link { max-width: 450px; max-height: 120px; }

.bx-messenger-file-title {font: bold 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #0562b1;display: inline-block; white-space: nowrap;}
.bx-messenger-file-title-href {
	width: calc(100% - 36px);
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
	text-overflow: ellipsis;
}
.bx-messenger-history-items .bx-messenger-file-title-href {
	width: calc(100% - 50px);
}
.bx-messenger-file-link {
	color: #fff;
	text-decoration: underline;
}
.bx-messenger-file-link:hover {
	text-decoration: none;
	color: #fff;
}
.bx-messenger-file-size {font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #777;margin-left: 6px;display: inline-block;}
.bx-messenger-file-preview+.bx-messenger-file-attrs { display:none; }
.bx-messenger-file-download {margin-top: -2px;}
.bx-messenger-file-download-link {font: 11px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #63635c;cursor: pointer;margin-right: 10px;text-decoration: none;}
.bx-messenger-file-download-link:hover { color: #63635c; }
.bx-messenger-file-download-pc {}
.bx-messenger-file-download-disk {}
.bx-messenger-file-download-block { cursor: wait; }
.bx-messenger-file-user {}
.bx-messenger-file-author { display: none; }
.bx-messenger-file-date { display: none; }
.bx-messenger-file-menu { display: none; }

.bx-messenger-message-deleted .bx-messenger-file-box,
.bx-messenger-message-deleted .bx-messenger-attach-box { display: none; }


/* PUBLIC */
.bx-messenger-textarea-open-invite, .bx-messenger-textarea-general-invite, .bx-messenger-textarea-open-lines {
	position: absolute;
	background: #fff; width: 100%; height: 100%;
	display: none;
	z-index: 250;
	margin: 0 -15px;
	box-sizing: content-box;
}
.bx-messenger-textarea-open-invite-text-box {  height: 100%;  padding-right: 150px;  box-sizing: border-box;  display: block;  width: 100%;  color: #7d7d7d;  font-size: 13px;  padding-left: 17px;  }
.bx-messenger-textarea-open-invite-text-box-element {  display: table-cell;  vertical-align: middle;  height: 72px;  overflow: hidden;  }
.bx-messenger-textarea-open-invite-text {  overflow: hidden;  overflow-y: auto;  box-sizing: border-box;  padding: 10px 0;  text-overflow: ellipsis;  }
.bx-messenger-textarea-open-invite-join, .bx-messenger-textarea-open-invite-answer, .bx-messenger-textarea-open-invite-skip, .bx-messenger-textarea-open-invite-transfer { max-width: 107px;  overflow: hidden;  text-overflow: ellipsis;  margin-right: 10px; vertical-align: top;  }
.bx-messenger-textarea-open-invite-join, .bx-messenger-textarea-open-invite-join-box { position: absolute;  right: 15px;  top: 23px;  }

.bx-messenger-chat-general-first-open .bx-messenger-textarea-general-invite,
.bx-messenger-chat-general-access .bx-messenger-textarea-general-invite { display: block; }
.bx-messenger-chat-general-access .bx-messenger-textarea-open-invite-text-box { padding-right: 10px; }
.bx-messenger-chat-general-access .bx-messenger-textarea-open-invite-join { display: none;}

.bx-messenger-chat-guest .bx-messenger-content-like-button { width: 0; overflow: hidden;  padding-right: 0; cursor: default;}
.bx-messenger-chat-guest .bx-messenger-panel-title-chat,
.bx-messenger-chat-general .bx-messenger-panel-title-chat { cursor: default;}
.bx-messenger-chat-guest .bx-messenger-panel-avatar-upload,
.bx-messenger-chat-general .bx-messenger-panel-avatar-upload { cursor: default; display: none; }
.bx-messenger-chat-guest .bx-messenger-panel-history { display:none!important; }
.bx-messenger-chat-guest .bx-messenger-panel-chat,
.bx-messenger-chat-general .bx-messenger-panel-chat { display: none; }
.bx-messenger-chat-guest .bx-messenger-panel-mute { display: none; }
.bx-messenger-chat-general-first-open .bx-messenger-content-item-menu,
.bx-messenger-chat-guest .bx-messenger-content-item-menu,
.bx-messenger-chat-general-first-open .bx-messenger-content-item-reply,
.bx-messenger-chat-guest .bx-messenger-content-item-reply { display: none; }
.bx-messenger-chat-guest .bx-messenger-textarea-open-invite { display: block; }
.bx-messenger-chat-general-first-open .bx-messenger-textarea,
.bx-messenger-chat-general-access .bx-messenger-textarea,
.bx-messenger-chat-guest .bx-messenger-textarea { border-top: 1px solid #e2e3e3; }
.bx-messenger-chat-guest.bx-messenger-chat-lines .bx-messenger-textarea-open-invite { display: none; }
.bx-messenger-chat-guest.bx-messenger-chat-lines .bx-messenger-textarea-open-lines { display: block; }

/*NOTIFY BUTTON*/

.bx-notifier-item-button-wrap { display: block; padding-top: 5px; padding-left: 45px;}

.bx-notifier-item-button, .bx-messenger-mark .popup-window-button {
	margin: 0 3px;
	border: 1px solid #eef0f2;
	border-radius: 3px;
	color: #535658;
	display: inline-block;
	padding: 2px 20px;
	background: #eef0f2;
	cursor: pointer;
	text-decoration:none!important;
	height: 22px;
	box-shadow: none;
	white-space: nowrap;
	font: 12px/22px "Helvetica Neue", Helvetica, Arial, sans-serif!important;
	text-shadow: none!important;
	transition: background .3s;
	text-transform: none !important;
}
.bx-notifier-item-button:hover, .bx-messenger-mark .popup-window-button:hover {
	line-height: 22px;
}

.bx-messenger-mark .popup-window-button-text { padding: 0 0;
	height: inherit;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif; text-shadow: none!important;
	color: #525865; text-transform: capitalize; line-height: 22px !important;
}
.bx-notifier-item-button:hover, .bx-messenger-mark .popup-window-button:hover,
.bx-notifier-item-button:active, .bx-messenger-mark .popup-window-button:active {
	border-color: #e5e5e5;
	background: #e5e5e5;
}
.bx-notifier-item-button-accept, .bx-messenger-mark .popup-window-button-accept {
	color: #fff!important;
	border: 0;
	padding: 3px 11px;
	background: #a4c31e;
}

.bx-messenger-mark .popup-window-button-accept .popup-window-button-text { color: #fff!important; }
.bx-messenger-mark .popup-window-button::before, .bx-messenger-mark .popup-window-button::before,
.bx-messenger-mark .popup-window-button::after, .bx-messenger-mark .popup-window-button::after { display: none!important;  }

.bx-notifier-item-button-accept:hover, .bx-messenger-mark .popup-window-button-accept:hover {
	background: #80ab17!important;
}
.bx-notifier-item-button-cancel, .bx-messenger-mark .popup-window-button-decline {
	color: #fff;
	border: 0;
	padding: 3px 11px;
	background: #ef4b57;
}
.bx-messenger-mark .popup-window-button-decline .popup-window-button-text { color: #fff; }
.bx-notifier-item-button-cancel:hover, .bx-messenger-mark .popup-window-button-decline:hover {
	background: #c9424c!important;
}
.bx-messenger-keyboard {  display: block;  margin: 3px 59px 0 61px; text-align: left; }
.bx-messenger-keyboard-button { display: block;  margin-top: 5px; }
.bx-messenger-keyboard-button-line { display: inline-block; margin-right: 4px; }
.bx-messenger-keyboard-button-text {  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;  padding: 4px 10px; display: inline-block;  text-decoration: none; background-color: #e8e9eb; border-radius: 4px; color: #535c68; text-align: center;  min-width: 24px;  cursor: pointer; transition: opacity .5s; opacity: 1; }
.bx-messenger-keyboard-button-text:hover { text-decoration: none; color: #000;  }
.bx-messenger-keyboard-button-progress  { opacity: .5 }
.bx-messenger-keyboard-button-ajax { display: inline-block; width: 29px; height: 29px; background: url("./../images/im-sprite-v37.png") no-repeat scroll -73px -998px; -webkit-animation: imRotate360 1.2s linear infinite; animation: imRotate360 1.2s linear infinite; position: absolute;}
.bx-messenger-keyboard-new-line { display: block; }

/* message colors */
.bx-messenger-content-item-ol-start {
	margin-top: 20px!important;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 6px!important;
	margin-bottom: 0px!important;
}
.bx-messenger-content-item-ol-end {
	margin-bottom: 20px!important;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px!important;
	margin-top: -11px!important;
}


.bx-messenger-content-item-notice.bx-messenger-content-item-ol-end .bx-messenger-message,
.bx-messenger-content-item-notice.bx-messenger-content-item-ol-start .bx-messenger-message {
	font-weight: bold;
}

.bx-messenger-content-item-ol-start .bx-messenger-content-item-params  { display: none; }

.bx-messenger-content-item-ol-output .bx-messenger-content-item-date { color: #bac5cd!important; }
.bx-messenger-content-item-ol-output .bx-messenger-hr { border-top-color: #fff!important;;}
.bx-messenger-content-item-ol-output .bx-messenger-content-item-text-center {color: #000000!important;}

.bx-messenger-content-item-ol-attention .bx-messenger-content-item-date { color: #a6aaae!important; }
.bx-messenger-content-item-ol-attention .bx-messenger-hr { border-top-color: #e9faca!important;;}
.bx-messenger-content-item-ol-attention .bx-messenger-content-item-content {background-color: #e9faca!important;;border-color: #fff6c5!important;}
.bx-messenger-content-item-ol-attention .bx-messenger-content-item-text-center {color: #000000!important;}

.bx-messenger-content-item-vote .bx-messenger-content-item-like {display: none;}
.bx-messenger-content-item-vote .bx-messenger-message { text-align: center; display: block;}
.bx-messenger-content-item-vote-block { display: inline-block; width: 165px; min-height: 105px; padding: 26px 26px 10px; }
.bx-messenger-content-item-vote-block-text { text-transform: uppercase; font: bold 10px "Helvetica Neue", Arial, Helvetica, sans-serif;  text-align: center;  }
.bx-messenger-content-item-vote-block-buttons { position: relative; padding-top: 20px; height: 60px; overflow: hidden; }
.bx-messenger-content-item-vote-block-final { text-align: center; height: 0; overflow: hidden;  }
.bx-messenger-content-item-vote-block-smile-like, .bx-messenger-content-item-vote-block-smile-dislike { display: inline-block; height: 60px; width: 60px; background: url("./../images/im-sprite-v37.png") repeat -1px -2125px; }
.bx-messenger-content-item-vote-block-smile-dislike { background-position: -61px -2125px; }
.bx-messenger-content-item-vote-block-like { display: inline-block; height: 60px; width: 60px; background: url("./../images/im-sprite-v37.png") repeat -220px -77px; cursor: pointer; float: left;}
.bx-messenger-content-item-vote-block-dislike { display: inline-block; height: 60px; width: 60px; background: url("./../images/im-sprite-v37.png") repeat -280px -77px; cursor: pointer; float: right; }
.bx-messenger-content-item-vote-block-disabled { cursor: default; }
.bx-messenger-content-item-vote-block-done .bx-messenger-content-item-vote-block-buttons { height: 0;}
.bx-messenger-content-item-vote-block-done .bx-messenger-content-item-vote-block-final { height: 60px;}

.bx-messenger-content-item-vote-message-text { display: inline-block; padding-right: 20px; line-height: 20px; margin-bottom: 15px; }

.bx-messenger-content-item-vote-result { display: inline-block; vertical-align: top;}
.bx-messenger-content-item-vote-result-row { vertical-align: top;}
.bx-messenger-content-item-vote-result-name { display: inline-block; padding-right: 10px; line-height: 20px; vertical-align: top;}
.bx-messenger-content-item-vote-result-value { display: inline-block; padding-right: 10px; line-height: 20px; vertical-align: top; }
.bx-messenger-content-item-vote-comment-edit { color: #717171; font-weight: normal; cursor: pointer; }
.bx-messenger-content-item-vote-comment-not-edit { color: #717171; font-weight: normal; }
.bx-messenger-content-item-vote-comment-add { color: #215ec3; font-weight: normal; cursor: pointer; }

.bx-messenger-content-item-avatar-name { max-width: 55px; }
.bx-messenger-content-item+.bx-messenger-content-item {
	margin-top: -21px;
}
.bx-messenger-content-item+.bx-messenger-content-item-notify { margin-top: 0; padding: 0; }
.bx-messenger-content-item+.bx-messenger-content-item .bx-messenger-content-item-avatar{
	display: none;
}
.bx-messenger-content-item+.bx-messenger-content-item .bx-messenger-content-item-menu{
	margin-top: 10px;
}
.bx-messenger-content-item-1 { text-align: right; }
.bx-messenger-content-item-2 {  text-align: left;  }
.bx-messenger-content-item .bx-messenger-content-item-content { text-align: left; position: relative; }

.bx-messenger-content-item-system+.bx-messenger-content-item-system { margin-top: -20px;  }
/*
@media screen and (min-width: 1024px)
{
	.bx-messenger-content-item+.bx-messenger-content-item {  margin-top: -18px;  }
	.bx-messenger-content-item-system+.bx-messenger-content-item-system {  margin-top: -18px;  }
}
*/

.bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-content-item-text-center {color: #000}
.bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-message a,
.bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-ajax {  color: #000;  border-color: #000;  }
.bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-content-quote-wrap { color: #565656; border-color: #adadad }
.bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-content-quote-name { color: #565656; }

.bx-messenger-box .bx-messenger-content-like-button {
	overflow: hidden;
}

.bx-messenger-progress-box {  margin-bottom: 22px; }
.bx-messenger-progress-box .bx-messenger-file-progress { width: 100%; }

/*audio*/
.bx-messenger-audioplayer-container {
	height: 38px;
	display: flex;
	align-items: stretch;
	cursor: pointer;
}

.bx-messenger-audioplayer-controls-container {
	width: 38px;
	height: 38px;
	min-width: 38px;
	max-width: 38px;
}

.bx-messenger-audioplayer-control {
	height: 38px;
	width: 38px;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 50%;
	transition: 250ms linear background-color;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	background-color: #5DBEEC!important;
}

.bx-messenger-audioplayer-control-play {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2216%22%20viewBox%3D%220%200%2012%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M26.6485373%2C18.2488193%20L16.2539289%2C11.1423292%20C16.0088457%2C10.9724211%2015.6895249%2C10.9531834%2015.4258159%2C11.092439%20C15.1621069%2C11.2316946%2014.9979288%2C11.5062513%2015.0000434%2C11.8044628%20L15.0000434%2C26.0167597%20C14.9969364%2C26.315402%2015.1609667%2C26.5907459%2015.4250644%2C26.7302067%20C15.689162%2C26.8696675%2016.0090495%2C26.8498639%2016.2539289%2C26.6788933%20L26.6485373%2C19.5724031%20C26.8683107%2C19.4238487%2027%2C19.1758823%2027%2C18.9106112%20C27%2C18.6453401%2026.8683107%2C18.3973738%2026.6485373%2C18.2488193%20L26.6485373%2C18.2488193%20Z%22%20transform%3D%22translate%28-15%20-11%29%22/%3E%0A%3C/svg%3E%0A);
	background-position: calc(50% + 2px) 50%;
	cursor: pointer;
}

.bx-messenger-audioplayer-control-play:hover {
	background-color: #3eddff;
}

.bx-messenger-audioplayer-control-play:active {
	background-color: #12b1e3;
}


.bx-messenger-audioplayer-timeline-container {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: 10px;
	margin-top: 9px;
	height: 26px;
	position: relative;
}

.bx-messenger-audioplayer-track-container {
	position: absolute;
	left: 9px;
	top: 4px;
	right: 8px;
	height: 26px;
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.bx-messenger-audioplayer-track-container > * { cursor: pointer; }

.bx-messenger-audioplayer-track-mask {
	height: 26px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22188%22%20height%3D%2223%22%20viewBox%3D%220%200%20188%2023%22%3E%0A%20%20%3Cg%20fill%3D%22%23A1E9FF%22%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22184%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%22180%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%22176%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%22172%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%22168%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22164%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22160%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22156%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22152%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%22148%2015%20150%2015%20150%2023%20148%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22144%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%22140%2014%20142%2014%20142%2023%20140%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22136%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%22132%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%22128%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%22124%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%22120%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22116%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%22112%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22108%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22104%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22100%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2296%2015%2098%2015%2098%2023%2096%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2292%2014%2094%2014%2094%2023%2092%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%2288%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%2284%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%2280%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%223%22%20x%3D%2276%22%20y%3D%2220%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2272%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2220%22%20x%3D%2268%22%20y%3D%223%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%226%22%20x%3D%2264%22%20y%3D%2217%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2260%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2256%2015%2058%2015%2058%2023%2056%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2252%2014%2054%2014%2054%2023%2052%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%2248%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%2244%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%2240%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%2236%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2232%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%2228%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%2224%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2223%22%20x%3D%2220%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2216%2015%2018%2015%2018%2023%2016%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2212%2014%2014%2014%2014%2023%2012%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%228%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%224%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20y%3D%2219%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A) repeat-x -16px 0;
	color: #88D0F0;
}

.bx-messenger-audioplayer-track {
	position: absolute;
	height: 26px;
	z-index: 2;
	top: 0;
	left: 0;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22188%22%20height%3D%2223%22%20viewBox%3D%220%200%20188%2023%22%3E%0A%20%20%3Cg%20fill%3D%22%235DBEEC%22%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22184%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%22180%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%22176%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%22172%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%22168%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22164%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22160%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22156%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22152%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%22148%2015%20150%2015%20150%2023%20148%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22144%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%22140%2014%20142%2014%20142%2023%20140%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22136%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%22132%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%22128%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%22124%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%22120%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22116%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%22112%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22108%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22104%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22100%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2296%2015%2098%2015%2098%2023%2096%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2292%2014%2094%2014%2094%2023%2092%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%2288%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%2284%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%2280%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%223%22%20x%3D%2276%22%20y%3D%2220%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2272%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2220%22%20x%3D%2268%22%20y%3D%223%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%226%22%20x%3D%2264%22%20y%3D%2217%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2260%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2256%2015%2058%2015%2058%2023%2056%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2252%2014%2054%2014%2054%2023%2052%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%2248%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%2244%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%2240%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%2236%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2232%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%2228%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%2224%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2223%22%20x%3D%2220%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2216%2015%2018%2015%2018%2023%2016%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2212%2014%2014%2014%2014%2023%2012%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%228%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%224%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20y%3D%2219%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A) repeat-x -16px 0;
	width: 100%;
}

.bx-messenger-audioplayer-container-dark .bx-messenger-audioplayer-track {
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22188%22%20height%3D%2223%22%20viewBox%3D%220%200%20188%2023%22%3E%0A%20%20%3Cg%20fill%3D%22%235cace1%22%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22184%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%22180%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%22176%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%22172%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%22168%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22164%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22160%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22156%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22152%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%22148%2015%20150%2015%20150%2023%20148%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22144%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%22140%2014%20142%2014%20142%2023%20140%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22136%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%22132%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%22128%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%22124%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%22120%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22116%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%22112%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%22108%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%221%22%20x%3D%22104%22%20y%3D%2222%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%22100%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2296%2015%2098%2015%2098%2023%2096%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2292%2014%2094%2014%2094%2023%2092%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%2288%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%2284%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%2280%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%223%22%20x%3D%2276%22%20y%3D%2220%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2272%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2220%22%20x%3D%2268%22%20y%3D%223%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%226%22%20x%3D%2264%22%20y%3D%2217%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2260%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2256%2015%2058%2015%2058%2023%2056%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2252%2014%2054%2014%2054%2023%2052%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%2248%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%2244%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20x%3D%2240%22%20y%3D%2219%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2210%22%20x%3D%2236%22%20y%3D%2213%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2213%22%20x%3D%2232%22%20y%3D%2210%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%228%22%20x%3D%2228%22%20y%3D%2215%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2215%22%20x%3D%2224%22%20y%3D%228%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2223%22%20x%3D%2220%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2216%2015%2018%2015%2018%2023%2016%2023%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%2212%2014%2014%2014%2014%2023%2012%2023%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%225%22%20x%3D%228%22%20y%3D%2218%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%2211%22%20x%3D%224%22%20y%3D%2212%22/%3E%0A%20%20%20%20%3Crect%20width%3D%222%22%20height%3D%224%22%20y%3D%2219%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A) repeat-x -16px 0;
}


/*loader animation*/
.bx-messenger-loader-default {
	width: 50%;
	height: 100%;
	position: absolute;
	background: #fff;
	border: 2px solid #0b66c3;
	transform-origin: 100% 50%;
}
.bx-messenger-loader {
	position: absolute;
	width: 42px;
	height: 42px;
	top: -4px;
	left: -4px;
	overflow: hidden;
	background: #fff;
}
.bx-messenger-loader-first {
	border-radius: 100% 0 0 100%/50% 0 0 50%;
	z-index: 2;
	border-right: none;
	animation: loader-first-0 60s linear 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-messenger-loader-second {
	left: 50%;
	opacity: 1;
	z-index: 1;
	animation: loader-second 30s steps(1, end) 1;
	border-left: none;
	-webkit-border-radius: 0 100% 100% 0/0 50% 50% 0;
	-moz-border-radius: 0 100% 100% 0/0 50% 50% 0;
	border-radius: 0 100% 100% 0/0 50% 50% 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-messenger-loader-mask {
	width: 50%;
	height: 100%;
	position: absolute;
	background: inherit;
	opacity: 0;
	z-index: 3;
	animation: mask 60s steps(1, end) 1;
}
@keyframes loader-first-0 {0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-1 {0% {-webkit-transform: rotate(3.6deg);-moz-transform: rotate(3.6deg);transform: rotate(3.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-2 {0% {-webkit-transform: rotate(7.2deg);-moz-transform: rotate(7.2deg);transform: rotate(7.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-3 {0% {-webkit-transform: rotate(10.8deg);-moz-transform: rotate(10.8deg);transform: rotate(10.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-4 {0% {-webkit-transform: rotate(14.4deg);-moz-transform: rotate(14.4deg);transform: rotate(14.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-5 {0% {-webkit-transform: rotate(18deg);-moz-transform: rotate(18deg);transform: rotate(18deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-6 {0% {-webkit-transform: rotate(21.6deg);-moz-transform: rotate(21.6deg);transform: rotate(21.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-7 {0% {-webkit-transform: rotate(25.2deg);-moz-transform: rotate(25.2deg);transform: rotate(25.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-8 {0% {-webkit-transform: rotate(28.8deg);-moz-transform: rotate(28.8deg);transform: rotate(28.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-8 {0% {-webkit-transform: rotate(28.8deg);-moz-transform: rotate(28.8deg);transform: rotate(28.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-10 {0% {-webkit-transform: rotate(36deg);-moz-transform: rotate(36deg);transform: rotate(36deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-10 {0% {-webkit-transform: rotate(36deg);-moz-transform: rotate(36deg);transform: rotate(36deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-11 {0% {-webkit-transform: rotate(39.6deg);-moz-transform: rotate(39.6deg);transform: rotate(39.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-12 {0% {-webkit-transform: rotate(43.2deg);-moz-transform: rotate(43.2deg);transform: rotate(43.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-13 {0% {-webkit-transform: rotate(46.8deg);-moz-transform: rotate(46.8deg);transform: rotate(46.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-14 {0% {-webkit-transform: rotate(50.4deg);-moz-transform: rotate(50.4deg);transform: rotate(50.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-15 {0% {-webkit-transform: rotate(54deg);-moz-transform: rotate(54deg);transform: rotate(54deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-16 {0% {-webkit-transform: rotate(57.6deg);-moz-transform: rotate(57.6deg);transform: rotate(57.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-17 {0% {-webkit-transform: rotate(61.2deg);-moz-transform: rotate(61.2deg);transform: rotate(61.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-18 {0% {-webkit-transform: rotate(64.8deg);-moz-transform: rotate(64.8deg);transform: rotate(64.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-19 {0% {-webkit-transform: rotate(68.4deg);-moz-transform: rotate(68.4deg);transform: rotate(68.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-20 {0% {-webkit-transform: rotate(72deg);-moz-transform: rotate(72deg);transform: rotate(72deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-21 {0% {-webkit-transform: rotate(75.6deg);-moz-transform: rotate(75.6deg);transform: rotate(75.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-22 {0% {-webkit-transform: rotate(79.2deg);-moz-transform: rotate(79.2deg);transform: rotate(79.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-23 {0% {-webkit-transform: rotate(82.8deg);-moz-transform: rotate(82.8deg);transform: rotate(82.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-24 {0% {-webkit-transform: rotate(86.4deg);-moz-transform: rotate(86.4deg);transform: rotate(86.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-25 {0% {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);transform: rotate(90deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-26 {0% {-webkit-transform: rotate(93.6deg);-moz-transform: rotate(93.6deg);transform: rotate(93.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-27 {0% {-webkit-transform: rotate(97.2deg);-moz-transform: rotate(97.2deg);transform: rotate(97.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-28 {0% {-webkit-transform: rotate(100.8deg);-moz-transform: rotate(100.8deg);transform: rotate(100.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-29 {0% {-webkit-transform: rotate(104.4deg);-moz-transform: rotate(104.4deg);transform: rotate(104.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-30 {0% {-webkit-transform: rotate(108deg);-moz-transform: rotate(108deg);transform: rotate(108deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-31 {0% {-webkit-transform: rotate(111.6deg);-moz-transform: rotate(111.6deg);transform: rotate(111.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-32 {0% {-webkit-transform: rotate(115.2deg);-moz-transform: rotate(115.2deg);transform: rotate(115.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-33 {0% {-webkit-transform: rotate(118.8deg);-moz-transform: rotate(118.8deg);transform: rotate(118.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-34 {0% {-webkit-transform: rotate(122.4deg);-moz-transform: rotate(122.4deg);transform: rotate(122.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-35 {0% {-webkit-transform: rotate(126deg);-moz-transform: rotate(126deg);transform: rotate(126deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-36 {0% {-webkit-transform: rotate(129.6deg);-moz-transform: rotate(129.6deg);transform: rotate(129.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-37 {0% {-webkit-transform: rotate(133.2deg);-moz-transform: rotate(133.2deg);transform: rotate(133.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-38 {0% {-webkit-transform: rotate(136.8deg);-moz-transform: rotate(136.8deg);transform: rotate(136.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-39 {0% {-webkit-transform: rotate(140.4deg);-moz-transform: rotate(140.4deg);transform: rotate(140.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-40 {0% {-webkit-transform: rotate(144deg);-moz-transform: rotate(144deg);transform: rotate(144deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-41 {0% {-webkit-transform: rotate(147.6deg);-moz-transform: rotate(147.6deg);transform: rotate(147.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-42 {0% {-webkit-transform: rotate(151.2deg);-moz-transform: rotate(151.2deg);transform: rotate(151.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-43 {0% {-webkit-transform: rotate(154.8deg);-moz-transform: rotate(154.8deg);transform: rotate(154.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-44 {0% {-webkit-transform: rotate(158.4deg);-moz-transform: rotate(158.4deg);transform: rotate(158.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-45 {0% {-webkit-transform: rotate(162deg);-moz-transform: rotate(162deg);transform: rotate(162deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-46 {0% {-webkit-transform: rotate(165.6deg);-moz-transform: rotate(165.6deg);transform: rotate(165.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-47 {0% {-webkit-transform: rotate(169.2deg);-moz-transform: rotate(169.2deg);transform: rotate(169.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-48 {0% {-webkit-transform: rotate(172.8deg);-moz-transform: rotate(172.8deg);transform: rotate(172.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-49 {0% {-webkit-transform: rotate(176.4deg);-moz-transform: rotate(176.4deg);transform: rotate(176.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-50 {0% {-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-51 {0% {-webkit-transform: rotate(183.6deg);-moz-transform: rotate(183.6deg);transform: rotate(183.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-52 {0% {-webkit-transform: rotate(187.2deg);-moz-transform: rotate(187.2deg);transform: rotate(187.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-53 {0% {-webkit-transform: rotate(190.8deg);-moz-transform: rotate(190.8deg);transform: rotate(190.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-54 {0% {-webkit-transform: rotate(194.4deg);-moz-transform: rotate(194.4deg);transform: rotate(194.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-55 {0% {-webkit-transform: rotate(198deg);-moz-transform: rotate(198deg);transform: rotate(198deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-56 {0% {-webkit-transform: rotate(201.6deg);-moz-transform: rotate(201.6deg);transform: rotate(201.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-57 {0% {-webkit-transform: rotate(205.2deg);-moz-transform: rotate(205.2deg);transform: rotate(205.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-58 {0% {-webkit-transform: rotate(208.8deg);-moz-transform: rotate(208.8deg);transform: rotate(208.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-59 {0% {-webkit-transform: rotate(212.4deg);-moz-transform: rotate(212.4deg);transform: rotate(212.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-60 {0% {-webkit-transform: rotate(216deg);-moz-transform: rotate(216deg);transform: rotate(216deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-61 {0% {-webkit-transform: rotate(219.6deg);-moz-transform: rotate(219.6deg);transform: rotate(219.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-62 {0% {-webkit-transform: rotate(223.2deg);-moz-transform: rotate(223.2deg);transform: rotate(223.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-63 {0% {-webkit-transform: rotate(226.8deg);-moz-transform: rotate(226.8deg);transform: rotate(226.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-64 {0% {-webkit-transform: rotate(230.4deg);-moz-transform: rotate(230.4deg);transform: rotate(230.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-65 {0% {-webkit-transform: rotate(234deg);-moz-transform: rotate(234deg);transform: rotate(234deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-66 {0% {-webkit-transform: rotate(237.6deg);-moz-transform: rotate(237.6deg);transform: rotate(237.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-67 {0% {-webkit-transform: rotate(241.2deg);-moz-transform: rotate(241.2deg);transform: rotate(241.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-68 {0% {-webkit-transform: rotate(244.8deg);-moz-transform: rotate(244.8deg);transform: rotate(244.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-69 {0% {-webkit-transform: rotate(248.4deg);-moz-transform: rotate(248.4deg);transform: rotate(248.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-70 {0% {-webkit-transform: rotate(252deg);-moz-transform: rotate(252deg);transform: rotate(252deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-71 {0% {-webkit-transform: rotate(255.6deg);-moz-transform: rotate(255.6deg);transform: rotate(255.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-72 {0% {-webkit-transform: rotate(259.2deg);-moz-transform: rotate(259.2deg);transform: rotate(259.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-73 {0% {-webkit-transform: rotate(262.8deg);-moz-transform: rotate(262.8deg);transform: rotate(262.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-74 {0% {-webkit-transform: rotate(266.4deg);-moz-transform: rotate(266.4deg);transform: rotate(266.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-75 {0% {-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);transform: rotate(270deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-76 {0% {-webkit-transform: rotate(273.6deg);-moz-transform: rotate(273.6deg);transform: rotate(273.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-77 {0% {-webkit-transform: rotate(277.2deg);-moz-transform: rotate(277.2deg);transform: rotate(277.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-78 {0% {-webkit-transform: rotate(280.8deg);-moz-transform: rotate(280.8deg);transform: rotate(280.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-79 {0% {-webkit-transform: rotate(284.4deg);-moz-transform: rotate(284.4deg);transform: rotate(284.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-80 {0% {-webkit-transform: rotate(288deg);-moz-transform: rotate(288deg);transform: rotate(288deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-81 {0% {-webkit-transform: rotate(291.6deg);-moz-transform: rotate(291.6deg);transform: rotate(291.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-82 {0% {-webkit-transform: rotate(295.2deg);-moz-transform: rotate(295.2deg);transform: rotate(295.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-83 {0% {-webkit-transform: rotate(298.8deg);-moz-transform: rotate(298.8deg);transform: rotate(298.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-84 {0% {-webkit-transform: rotate(302.4deg);-moz-transform: rotate(302.4deg);transform: rotate(302.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-85 {0% {-webkit-transform: rotate(306deg);-moz-transform: rotate(306deg);transform: rotate(306deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-86 {0% {-webkit-transform: rotate(309.6deg);-moz-transform: rotate(309.6deg);transform: rotate(309.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-87 {0% {-webkit-transform: rotate(313.2deg);-moz-transform: rotate(313.2deg);transform: rotate(313.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-88 {0% {-webkit-transform: rotate(316.8deg);-moz-transform: rotate(316.8deg);transform: rotate(316.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-89 {0% {-webkit-transform: rotate(320.4deg);-moz-transform: rotate(320.4deg);transform: rotate(320.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-90 {0% {-webkit-transform: rotate(324deg);-moz-transform: rotate(324deg);transform: rotate(324deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-91 {0% {-webkit-transform: rotate(327.6deg);-moz-transform: rotate(327.6deg);transform: rotate(327.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-92 {0% {-webkit-transform: rotate(331.2deg);-moz-transform: rotate(331.2deg);transform: rotate(331.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-93 {0% {-webkit-transform: rotate(334.8deg);-moz-transform: rotate(334.8deg);transform: rotate(334.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-94 {0% {-webkit-transform: rotate(338.4deg);-moz-transform: rotate(338.4deg);transform: rotate(338.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-95 {0% {-webkit-transform: rotate(342deg);-moz-transform: rotate(342deg);transform: rotate(342deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-96 {0% {-webkit-transform: rotate(345.6deg);-moz-transform: rotate(345.6deg);transform: rotate(345.6deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-97 {0% {-webkit-transform: rotate(349.2deg);-moz-transform: rotate(349.2deg);transform: rotate(349.2deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-98 {0% {-webkit-transform: rotate(352.8deg);-moz-transform: rotate(352.8deg);transform: rotate(352.8deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-99 {0% {-webkit-transform: rotate(356.4deg);-moz-transform: rotate(356.4deg);transform: rotate(356.4deg);}100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes loader-first-100 {0% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes mask { 0% {opacity: 1;} 50% {opacity: 0;} }
@keyframes loader-second { 0% {opacity: 0;} 100% {opacity: 1;} }