.bx-messenger-dark .im-desktop {
	background-color: #313131 !important;
	border-bottom: none;
	border-top: none;
}

.bx-messenger-dark .bx-im-fullscreen-adaptive {
	background-color: #2c3e50 !important;
}

.bx-messenger-dark .bx-desktop-appearance-menu {
	background-color: #3D3D3D !important;
	border-right: 2px solid rgba(255, 255, 255, 0.03) !important
}

.bx-messenger-dark .bx-messenger-box-contact {
	background-color   : #3D3D3D !important;
}

.bx-messenger-dark .bx-messenger-file-size {
	color: #bdc3c7;
}

.bx-messenger-dark .bx-messenger-cl-user {
	color: rgba(255, 255, 255, 0.7) !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-cl-user,
.popup-window-dark.bx-messenger-mark .bx-messenger-cl-user {
	color: rgba(255, 255, 255, 0.7) !important;
}

.bx-messenger-dark .bx-messenger-cl-item:hover .bx-messenger-cl-user {
	color: rgba(255, 255, 255, 0.8)  !important;
}

.bx-messenger-dark .bx-messenger-cl-item:hover {
	background-color: #585858 !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-cl-item:hover .bx-messenger-cl-user,
.popup-window-dark.bx-messenger-mark .bx-messenger-cl-item:hover .bx-messenger-cl-user {
	color: rgba(255, 255, 255, 0.8)  !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-cl-item:hover,
.popup-window-dark.bx-messenger-mark .bx-messenger-cl-item:hover {
	background-color: #585858 !important;
}

.bx-messenger-dark .bx-timeman-timecontrol-title {
	background-color: #313131;
}

.bx-messenger-dark .bx-messenger-box-dialog {
	color: #bdc3c7;
	background-color: #313131;
}

.bx-messenger-dark .bx-timeman-timecontrol-button-input {
	background-color: #bdc3c7;
	border: 2px solid #bdc3c7;
}

.bx-messenger-dark .bx-timeman-timecontrol-checkbox-input-checked {
	background-color: #585858 !important;
}

.bx-messenger-dark .bx-timeman-timecontrol-checkbox-input-checked::before {
	background-color: #313131;
}

.bx-messenger-dark .bx-timeman-timecontrol-selector-selected .bx-timeman-timecontrol-selector-radio::before {
	background-color: #313131;
}

.bx-messenger-dark .bx-timeman-timecontrol-selector-selected .bx-timeman-timecontrol-selector-radio {
	border-color: #bdc3c7;
}

.bx-messenger-dark .bx-timeman-timecontrol-time-help {
	background-color: #bdc3c7;
}

.bx-messenger-dark .bx-timeman-timecontrol-title-domain {
	color: #bdc3c7;
}

.bx-messenger-dark .bx-desktop-appearance-content {
	background-color: #313131 !important;
}

.bx-messenger-dark .bx-timeman-timecontrol {
	color : #bdc3c7;
	border: 5px solid #313131;
}

.bx-messenger-dark .bx-timeman-timecontrol-checkbox-input-checked {
	border-color: #bdc3c7;
}

.bx-messenger-dark .bx-timeman-timecontrol-message-user-comment-textarea:focus {
	background-color: #3D3D3D;
	color: #bdc3c7;
	border-color: #bdc3c7;
}

.bx-messenger-dark .bx-timeman-timecontrol-message-user-comment-textarea {
	background-color: #3D3D3D;
	color: #bdc3c7;
	border-color: #bdc3c7;
}

.bx-messenger-dark .bx-messenger-recent-group-title {
	text-shadow: none;
	color: #95a5a6;
}

.bx-messenger-dark .bx-messenger-recent-group-title::after {
	background-color: #7f8c8d !important;
}

.bx-messenger-dark .bx-messenger-panel-title {
	text-shadow: none;
}

.bx-messenger-dark .bx-messenger-panel-chat-user {
	color: #bdc3c7;
}

.bx-messenger-dark .bx-messenger-panel-chat-user-name-lines {
	color: #27ae60;
}

.bx-messenger-dark .bx-messenger-chat-title-lines {
	color: #27ae60 !important;
}


.bx-messenger-dark .bx-messenger-panel-call-video,
.bx-messenger-dark .bx-messenger-panel-call-audio {
	background-color: #000000;
	border-color: #000000;
	color: #cacaca
}

.bx-messenger-dark .bx-messenger-panel-call-video:before {
	filter: brightness(0.7);
}

.bx-messenger-dark .bx-messenger-panel-call-menu {
	border: 1px solid #272727;
	background: url("./../images/im-sprite-v37.png") -81px -380px #272727
}

.bx-messenger-dark .bx-messenger-panel-button {
	background-color: #272727;
	border: 1px solid #272727;
	color: #c1c1c1 !important;
	opacity: 1 !important;
}

.popup-window-dark .bx-messenger-command,
.bx-messenger-dark .bx-messenger-command {
	border-bottom: 1px dashed #a6cbff;
	color: #a6cbff;
}

.bx-messenger-dark .bx-messenger-panel-chat {
	color: #c1c1c1 !important
}

.bx-messenger-dark .bx-messenger-panel-chat:hover {
	background-color: #585858;
}

.bx-messenger-dark .bx-messenger-context-chat .bx-messenger-panel-mute:hover {
	background-color: #585858;
}

.bx-messenger-dark .bx-messenger-panel-button:hover {
	background-color: #585858;
}
.bx-messenger-dark .bx-messenger-panel-call-menu:hover {
	background-color: #585858;
}

.popup-window-dark .bx-messenger-message-deleted .bx-messenger-message,
.bx-messenger-dark .bx-messenger-message-deleted .bx-messenger-message {
	color: #c3c3c3;
}

.popup-window-dark .bx-messenger-content-item-content,
.bx-messenger-dark .bx-messenger-content-item-content,
.popup-window-dark .bx-messenger-content-item-ol-output .bx-messenger-content-item-content,
.bx-messenger-dark .bx-messenger-content-item-ol-output .bx-messenger-content-item-content {
	background-color: #525252;
	border: 1px solid #696969;
	color: #d6d6d6;
}

.popup-window-dark .bx-messenger-content-item-notify .bx-messenger-content-item-content,
.bx-messenger-dark .bx-messenger-content-item-notify .bx-messenger-content-item-content {
	background: none;
	border-color: transparent;
}

.popup-window-dark .bx-messenger-content-item-ol-output .bx-messenger-content-item-text-center .bx-messenger-message,
.bx-messenger-dark .bx-messenger-content-item-ol-output .bx-messenger-content-item-text-center .bx-messenger-message {
	color: #e2e2e2 !important;
}

.popup-window-dark .bx-messenger-content-item-1 .bx-messenger-content-item-content,
.bx-messenger-dark .bx-messenger-content-item-1 .bx-messenger-content-item-content {
	background-color: #3e3e3e;
	border: 1px solid #505050;
	color: #c3c3c3
}

.popup-window-dark .bx-messenger-content-group-title,
.bx-messenger-dark .bx-messenger-content-group-title {
	color: #e2e2e2 !important;
    background-color: rgba(105, 105, 105, 0.42);
    border: 1px solid rgba(212, 212, 212, 0.1);
}

.popup-window-dark .bx-messenger-content-group-float .bx-messenger-content-group-title,
.bx-messenger-dark .bx-messenger-content-group-float .bx-messenger-content-group-title {
	color: rgba(226, 226, 226, 0.87) !important;
}

.bx-messenger-dark.bx-messenger-mark,
.popup-window-dark.bx-messenger-mark {
	background: #3d3d3d !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #676767;
}
.popup-window-dark .im-messenger-image-uploader-preview-box {
	background-color: #313131;
	border-color: #7f8c8d !important;
    color: #bdc3c7 !important;
}

#bx-messenger-popup-status.popup-window-dark,
#bx-messenger-popup-createChat.popup-window-dark,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-newchat,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-transfer,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-transfer .popup-window-angly-top:before,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-transfer .popup-window-content,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-newchat .popup-window-angly-top:before,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-newchat .popup-window-content {
	background-color: #3D3D3D !important;
}
#bx-messenger-popup-status.bx-messenger-dark,
#bx-messenger-popup-createChat.bx-messenger-dark,
.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-newchat,
.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-transfer,
.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-transfer .popup-window-angly-top:before,
.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-transfer .popup-window-content,
.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-newchat .popup-window-angly-top:before,
.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-newchat .popup-window-content {
	background-color: #3D3D3D !important;
}
.bx-messenger-dark .bx-messenger-popup-menu-item-text,
.popup-window-dark .bx-messenger-popup-menu-item-text {
	color: #fff;
}
.bx-messenger-dark .bx-messenger-popup-menu-item:hover,
.popup-window-dark .bx-messenger-popup-menu-item:hover {
	background-color: #4a4a4a;
}

.bx-messenger-dark .bx-messenger-textarea-file-popup,
.popup-window-dark.bx-messenger-mark .bx-messenger-textarea-file-popup {
	background: #3D3D3D !important;
}

.bx-messenger-dark .bx-messenger-content-item-system .bx-messenger-content-item-content {
	background-color: #505050;
	opacity: 0.75;
}

.bx-messenger-dark .bx-messenger-cl-status {
	opacity: 0.8;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-popup-newchat-caption,
.popup-window-dark.bx-messenger-mark .bx-messenger-popup-newchat-caption {
	color: #bdc3c7 !important;
}

.bx-messenger-dark .bx-messenger-mark .popup-window-button-text {
	color: #b9b9b9;
}
.bx-messenger-dark .bx-messenger-editform-textarea {
	border: 1px solid;
}

.popup-window-dark.bx-messenger-mark .bx-messenger-popup-newchat-box,
.bx-messenger-dark.bx-messenger-mark .bx-messenger-popup-newchat-box,
.bx-messenger-dark .bx-messenger-input-wrap input,
.bx-messenger-dark.bx-messenger-mark .bx-messenger-input-wrap input,
.popup-window-dark.bx-messenger-mark .bx-messenger-input-wrap input,
.popup-window-dark.bx-messenger-mark .im-messenger-image-uploader-textarea-input,
.bx-messenger-dark .bx-messenger-editform-textarea {
	border-color: #7f8c8d !important;
	color: #bdc3c7 !important;
}
.popup-window-dark.bx-messenger-mark .bx-messenger-popup-newchat-box,
.bx-messenger-dark.bx-messenger-mark .bx-messenger-popup-newchat-box,
.bx-messenger-dark .bx-messenger-editform-textarea {
	background-color: #313131;
}



.bx-messenger-dark .bx-messenger-input-wrap,
.bx-messenger-dark.bx-messenger-mark .bx-messenger-input-wrap,
.popup-window-dark.bx-messenger-mark .bx-messenger-input-wrap {
	border-color: #7f8c8d !important;
	color: #bdc3c7 !important;
}

.bx-messenger-dark.bx-messenger-mark div.bx-messenger-panel-filter-box>.bx-messenger-input-wrap,
.popup-window-dark.bx-messenger-mark div.bx-messenger-panel-filter-box>.bx-messenger-input-wrap,
.bx-messenger-dark div.bx-messenger-panel-filter-box>.bx-messenger-input-wrap {
	border: 1px solid #777777;
	border-bottom-color: #777777;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-popup-newchat-box input::placeholder,
.popup-window-dark.bx-messenger-mark .bx-messenger-popup-newchat-box input::placeholder {
	color: #7f8c8d !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-chatlist-group-title,
.popup-window-dark.bx-messenger-mark .bx-messenger-chatlist-group-title,
.bx-messenger-dark .bx-messenger-chatlist-group-title{
	text-shadow: none;
	color: #969696 !important;
}

.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-transfer .popup-window-button-accept,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-transfer .popup-window-button-accept,
.bx-messenger-dark.bx-messenger-mark #bx-messenger-popup-newchat .popup-window-button-accept,
.popup-window-dark.bx-messenger-mark #bx-messenger-popup-newchat .popup-window-button-accept {
	background-color: #27ae60 !important;
}

.bx-messenger-dark .bx-messenger-cl-notify-text {
	color: #fff;
}

.popup-window-dark .bx-messenger-ajax-self,
.popup-window-dark .bx-messenger-highlight,
.bx-messenger-dark .bx-messenger-ajax-self,
.bx-messenger-dark .bx-messenger-highlight {
	background-color: #084b61 !important;
	border-color: #5EBEEA !important;
	color: #fff;
}
.bx-messenger-dark .bx-messenger-content-item-new .bx-messenger-content-item-content {
	background-color: #084b61 !important;
	border-color: #5EBEEA !important;
	color: #fff;
}

.bx-messenger-dark .bx-messenger-content-item-new .bx-messenger-content-item-date {
	color: #e8e8e8;
}

.popup-window-dark  .bx-messenger-ajax-black,
.bx-messenger-dark .bx-messenger-ajax-black {
	border-bottom: 1px dashed #a6cbff;
	color: #a6cbff;
}

.popup-window-dark .bx-messenger-ajax,
.bx-messenger-dark .bx-messenger-ajax {
	border-bottom: 1px dashed #a6cbff;
	color: #a6cbff;
}

.popup-window-dark .bx-messenger-content-quote-wrap,
.bx-messenger-dark .bx-messenger-content-quote-wrap {
	color: #afafaf;
}

.popup-window-dark .bx-messenger-content-item-system .bx-messenger-content-quote-wrap,
.bx-messenger-dark .bx-messenger-content-item-system .bx-messenger-content-quote-wrap {
	color: #e2e2e2!important;
}

.popup-window-dark .bx-messenger-content-item-system .bx-messenger-content-quote-name,
.bx-messenger-dark .bx-messenger-content-item-system .bx-messenger-content-quote-name {
	color: #e2e2e2!important;;
}

.popup-window-dark .bx-messenger-file-download-link,
.bx-messenger-dark .bx-messenger-file-download-link {
	color: #adada7;
}

.bx-messenger-dark .bx-desktop-tab-counter-digit {
	background-color: #888b8c;
	color: #ecf0f1;
	border-width: 1px;
}

.bx-messenger-dark .bx-desktop-tab-counter {
	background-color: #ecf0f1;
}

.popup-window-dark .bx-messenger-content-item-notify .bx-messenger-content-item-text-center,
.bx-messenger-dark .bx-messenger-content-item-notify .bx-messenger-content-item-text-center {
	padding: 4px 6px !important;
}


.popup-window-dark .bx-messenger-panel-title .bx-messenger-panel-title-link,
.bx-messenger-dark .bx-messenger-panel-title .bx-messenger-panel-title-link {
	color: rgba(255, 255, 255, 0.8)  !important;
}

.popup-window-dark .bx-messenger-content-item-like,
.bx-messenger-dark .bx-messenger-content-item-like {
	padding-left: 0px;
}

.bx-messenger-dark .bx-messenger-textarea,
.bx-messenger-dark .bx-messenger-textarea-place {
	background-color: #ecf0f1 !important;
	color: #000;
}

.bx-messenger-dark .bx-messenger-panel-title,
.bx-messenger-dark.bx-messenger-mark .bx-messenger-panel-title,
.popup-window-dark.bx-messenger-mark .bx-messenger-panel-title {
	text-shadow: none;
	color: #ffffff;
}

.bx-messenger-dark .bx-messenger-panel-basket,
.popup-window-dark .bx-messenger-panel-basket {
	background-color: #1f1f1f;
}
.bx-messenger-dark .bx-messenger-history .bx-messenger-panel,
.popup-window-dark .bx-messenger-history .bx-messenger-panel,
.bx-messenger-dark .bx-messenger-box-extra .bx-messenger-panel,
.popup-window-dark .bx-messenger-box-extra .bx-messenger-panel {
	border-color: transparent;
}

.bx-messenger-dark .bx-messenger-textarea-input {
	color: #2c3e50;
	overflow-x: hidden;
}

.bx-messenger-dark .bx-messenger-ajax-self,
.bx-messenger-dark .bx-messenger-highlight {
	background-color: #72776a;
	border-color: #72776a;
	color: #dadada;
}

.bx-messenger-dark a ,
.popup-window-dark.bx-messenger-mark a {
	color: #a6cbff;
}

.bx-messenger-dark .bx-messenger-confirm {
	color: #ececec;
}

.bx-messenger-dark .bx-messenger-code {
	color: #c5c5c5;
	border-left: 3px solid #c5c5c5;
}

.bx-messenger-dark .bx-messenger-content-quote-name {
	color: #e2e2e2;
}

.bx-messenger-dark .bx-messenger-textarea-input {
	color: #c7c7c7 !important;
}

.bx-messenger-dark .bx-messenger-chat-open .bx-messenger-textarea-focus {
	border-color: #9a9a9a;
}

.popup-window-dark .bx-messenger-cl-item-load:before,
.bx-messenger-dark .bx-messenger-cl-item-load:before,
.popup-window-dark .bx-messenger-cl-item-search:before,
.bx-messenger-dark .bx-messenger-cl-item-search:before {
	background: none;
}
.popup-window-dark .bx-messenger-cl-item-load,
.bx-messenger-dark .bx-messenger-cl-item-load,
.popup-window-dark .bx-messenger-cl-item-search,
.bx-messenger-dark .bx-messenger-cl-item-search {
	color: #b7b7b7;
}

.popup-window-dark .bx-messenger-user-extranet,
.bx-messenger-dark .bx-messenger-user-extranet {
	color: #ff9b00!important;
}


.bx-messenger-dark .bx-messenger-textarea-file-popup-arrow {
	display: none;
}

.bx-messenger-dark .bx-messenger-cl-status-support24 .bx-messenger-cl-user-title,
.bx-messenger-dark .bx-messenger-user-support24 {
	color: #0490f7!important;
}

.bx-messenger-dark span.bx-font {
	color: #bbbbbb !important;
}

.bx-messenger-dark .bx-messenger-cl-notify-wrap {
    border-top: 1px solid #4f5152;
}

.bx-messenger-dark .bx-messenger-textarea,
.bx-messenger-dark .bx-messenger-textarea-place {
	background-color: #313131 !important;
    border-top: 1px solid #505152;
}

.bx-messenger-dark .bx-messenger-record {
	color: #c7c7c7;
}

.bx-messenger-dark .bx-messenger-content-item-notice a,
.bx-messenger-dark .bx-messenger-content-item-notice .bx-messenger-highlight,
.bx-messenger-dark .bx-messenger-content-item-notice .bx-messenger-ajax {
	color: #c7c7c7 !important;
}

.bx-messenger-dark .bx-messenger-record-phone {
	color: #c7c7c7;
}

.bx-messenger-dark .bx-messenger-record-reason {
	color: #c7c7c7;
}

.bx-messenger-dark .bx-messenger-record-stats {
	color: #c7c7c7;
}

.bx-messenger-dark .bx-messenger-record-stats {
	color: #c7c7c7;
}

.popup-window-dark .bx-notifier-item .bx-notifier-item-content,
.bx-messenger-dark .bx-notifier-item .bx-notifier-item-content {
	border-top: none;
}

.popup-window-dark .bx-notifier-item-wrap .bx-notifier-content-load-block-img,
.bx-messenger-dark .bx-notifier-item-wrap .bx-notifier-content-load-block-img {
	display: none;
}
.popup-window-dark .bx-notifier-item-wrap .bx-notifier-item,
.bx-messenger-dark .bx-notifier-item-wrap .bx-notifier-item {
	color: #e6e6e6 !important;
	background-color: #313131 ;
	opacity: 0.95;
	border-top: 1px solid #4a4a4a;
}

.popup-window-dark .bx-notifier-item .bx-notifier-answer-input .bx-messenger-input,
.bx-messenger-dark .bx-notifier-item .bx-notifier-answer-input .bx-messenger-input{
	color: #e6e6e6 !important;
}

.popup-window-dark .bx-notifier-content-load .bx-notifier-item,
.bx-messenger-dark .bx-notifier-content-load .bx-notifier-item {
	border-top: 0;
}

.popup-window-dark .bx-notifier-item-name,
.bx-messenger-dark .bx-notifier-item-name {
	color: #e6e6e6;
}

.popup-window-dark .bx-notifier-item>div,
.bx-messenger-dark .bx-notifier-item>div {
	color: #e6e6e6;
}

.popup-window-dark .bx-notifier-item-content,
.bx-messenger-dark .bx-notifier-item-content,
.popup-window-dark .bx-notifier-item-text,
.bx-messenger-dark .bx-notifier-item-text {
	color: #e6e6e6;
}

.popup-window-dark .bx-notifier-item a,
.bx-messenger-dark .bx-notifier-item a {
	color: #bde0ff !important;
}

.bx-messenger-dark .bx-messenger-attach-user .bx-messenger-attach-user-name {
	color: #e2e2e2 !important;
}

.bx-messenger-dark .bx-messenger-content-item-notice .bx-messenger-content-item-text-center {
	color: #e2e2e2;
}

.bx-messenger-dark .bx-messenger-content-item:hover .bx-messenger-content-item-menu {
	opacity: 0.3 !important;
}

.bx-messenger-dark .bx-messenger-content-item-notice a,
.bx-messenger-dark .bx-messenger-content-item-notice .bx-messenger-highlight,
.bx-messenger-dark .bx-messenger-content-item-notice .bx-messenger-ajax {
	color: #e2e2e2;
}

.bx-messenger-dark .bx-messenger-custom-scroll div::-webkit-scrollbar {
	width: 7px;
}

.bx-messenger-dark .bx-desktop-appearance,
.bx-messenger-dark .bx-messenger-image,
.bx-messenger-dark .bx-messenger-image-link {
	background-image: none !important;
	background-color: #313131 !important;
}

.bx-messenger-dark .bx-messenger-image-link .bx-messenger-body-bg {
	background-color: #313131 !important;
}

.bx-messenger-dark .bx-messenger-box-extra {
	background-color: #313131 !important;
}

.bx-messenger-dark .bx-messenger-body-bg {
	background: none;
	background-color: #313131 !important;
}

.bx-messenger-dark .bx-messenger-box-dialog .bx-messenger-panel {
	color: #c5c5c5;
	border-left: 2px solid rgba(255, 255, 255, 0.03) !important;
	background-color: #313131 !important;
	border-bottom-color: #505152;
}

.bx-messenger-dark .bx-messenger-box-create .bx-messenger-panel {
	height: auto;
}

.bx-messenger-dark .bx-messenger-birthday-icon {
	width: 17px;
	height: 20px;
	background: url(./../images/im-sprite-v37.png) -46px -164px no-repeat;
}

.bx-messenger-dark .bx-messenger-panel-avatar-status {
	height: 17px;
	width: 17px;
	margin-left: -13px;
	margin-top : 21px;
}

.bx-messenger-dark .bx-messenger-cl-status {
	height: 15px;
	width : 15px;
}

.bx-messenger-dark .bx-messenger-textarea-icons>div:not(.bx-messenger-textarea-icon-box) {
	filter: brightness(4);
}
.bx-messenger-dark .bx-messenger-textarea-file div {
	filter: brightness(.5);
}

.bx-messenger-dark .bx-messenger-textarea-file:hover,
.bx-messenger-dark .bx-messenger-textarea-file-active {
	filter: none;
}

.bx-messenger-dark .bx-messenger-textarea-icon-marketplace,
.bx-messenger-dark .bx-messenger-textarea-icon-marketplace-2,
.bx-messenger-dark .bx-messenger-textarea-icon-context-all {
	filter: brightness(0.6);
}

.bx-messenger-dark .bx-messenger-textarea-file {
	background: url(./../images/im-sprite-v37.png) no-repeat scroll 5px -520px;
	height: 31px;
}

.popup-window-dark .bx-notifier-popup-avatar-owner .bx-notifier-popup-avatar-status-icon,
.bx-messenger-dark .bx-notifier-popup-avatar-owner .bx-notifier-popup-avatar-status-icon {
	background-position: -58px -305px;
}

.popup-window-dark .bx-notifier-popup-avatar-status-icon,
.bx-messenger-dark .bx-notifier-popup-avatar-status-icon {
	width: 15px;
}

.bx-messenger-dark .bx-messenger-file-download-link:hover {
	color: #d6d6d6;
}

.bx-messenger-dark .bx-messenger-textarea-file:hover,
.bx-messenger-dark .bx-messenger-textarea-file-active {
	background-position: -86px -519px;
}

.bx-messenger-dark .bx-notifier-popup-avatar,
.popup-window-dark.bx-messenger-mark .bx-notifier-popup-avatar {
	background: #757575;
}

.bx-messenger-dark .bx-messenger-textarea-icon-marketplace:hover {
	filter: none;
}

.bx-messenger-dark .bx-messenger-attach-rich-links .bx-messenger-attach-rich-link-panel {
	background: #333;
	display: grid;
}

.bx-messenger-dark .bx-messenger-attach-rich-link-name {
	color: rgba(255, 255, 255, 0.8)  !important;
}

.bx-messenger-dark .bx-messenger-attach-rich-link-desc {
	color: #d0d0d0 !important
}



.bx-messenger-dark.bx-messenger-mark .bx-messenger-popup-menu-item-text,
.popup-window-dark.bx-messenger-mark .bx-messenger-popup-menu-item-text {
	color: #ececec;
}

.bx-messenger-dark.bx-messenger-mark .bx-notifier-item-help-popup-img span,
.popup-window-dark.bx-messenger-mark .bx-notifier-item-help-popup-img span {
	background-color: #4a4a4a;
	color: rgba(255, 255, 255, 0.8)  !important;
}

.bx-messenger-dark .bx-messenger-cl-panel {
	border-top: 1px solid #505152 !important;
}

.bx-messenger-dark .bx-messenger-cl-panel-status-text {
	color: #ececec;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-textarea-file-popup .bx-messenger-popup-menu-item {
	background-color: #4a4a4a !important;
	color: #fff;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-cl-panel,
.popup-window-dark.bx-messenger-mark .bx-messenger-cl-panel {
	border-top: 1px solid rgba(255, 255, 255, 0.03);
}

.bx-messenger-dark .bx-messenger-textarea-with-text .bx-messenger-textarea-send-button {
	border-color: #cacaca;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-file-title,
.popup-window-dark.bx-messenger-mark .bx-messenger-file-title,
.bx-messenger-dark .bx-messenger-file-title {
	color: #a6cbff;
}

.bx-messenger-dark .bx-messenger-textarea-file-popup {
	background-color: #6f6f6f !important;
	color: #fff;
	border-color: #3a3939;
	box-shadow: none;
}

.bx-messenger-dark .bx-messenger-custom-scroll div::-webkit-scrollbar {
	background-color: transparent;
}

.bx-messenger-dark .bx-messenger-body-dialog {
	background-color: #4a4a4a;
}

.bx-messenger-dark .bx-messenger-textarea-open-invite,
.bx-messenger-dark .bx-messenger-textarea-general-invite,
.bx-messenger-dark .bx-messenger-textarea-open-lines {
	background-color: #333!important;;
}

.bx-messenger-dark .bx-messenger-textarea-open-invite-text-box {
	color: #7d7d7d
}

.bx-messenger-dark .bx-messenger-attach-message span {
	color: #d6d6d6 !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-popup-menu-item .bx-messenger-menu-call-voice,
.popup-window-dark.bx-messenger-mark .bx-messenger-popup-menu-item .bx-messenger-menu-call-voice {
	width: 28px !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-popup-menu-item .bx-messenger-menu-call-video,
.popup-window-dark.bx-messenger-mark .bx-messenger-popup-menu-item .bx-messenger-menu-call-video {
	width: 28px !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-panel-call-disabled .bx-messenger-panel-button,
.bx-messenger-dark.bx-messenger-mark .bx-messenger-panel-call-disabled .bx-messenger-panel-button:hover {
    background-color: #6d6d6d;
    border-color: #848484;
}

.bx-messenger-dark.bx-messenger-mark #bx-messenger-image-uploader .popup-window-titlebar-text,
.popup-window-dark.bx-messenger-mark #bx-messenger-image-uploader .popup-window-titlebar-text {
	color: #dedede;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-history-items,
.popup-window-dark.bx-messenger-mark .bx-messenger-history-items {
	background-color: #313131 !important;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-history-item,
.popup-window-dark.bx-messenger-mark .bx-messenger-history-item {
	color: white;
	background-color: #737373;
	border: none;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-history-item-name,
.popup-window-dark.bx-messenger-mark .bx-messenger-history-item-name {
	color: #d6d6d6;
	font-weight: 600;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-history-item-text,
.popup-window-dark.bx-messenger-mark .bx-messenger-history-item-text {
	color: #d6d6d6;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-history-item-2 .bx-messenger-history-item-name,
.popup-window-dark.bx-messenger-mark .bx-messenger-history-item-2 .bx-messenger-history-item-name {
	color: #d6d6d6;
	font-weight: 600;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-history-item-3 .bx-messenger-history-item-name,
.popup-window-dark.bx-messenger-mark .bx-messenger-history-item-3 .bx-messenger-history-item-name {
	color: #d6d6d6;
	font-weight: 600;
}

.bx-messenger-dark .bx-messenger-panel-filter-box,
.popup-window-dark.bx-messenger-mark .bx-messenger-panel-filter-box{
	background-color: #313131;
	border-bottom: 2px solid rgba(255, 255, 255, 0.03) !important
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-history-with-disk .bx-messenger-history-type-message,
.popup-window-dark.bx-messenger-mark .bx-messenger-history-with-disk .bx-messenger-history-type-message {
	width: 498px;
	border-right-color: #383838;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-input-date,
.popup-window-dark.bx-messenger-mark .bx-messenger-input-date {
	border-radius: 20px;
	background: #313131 url(./../images/im-sprite-v37.png) no-repeat scroll -25px -304px;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-input-close,
.popup-window-dark.bx-messenger-mark .bx-messenger-input-close {
	border-radius: 20px;
	background: #313131 url(./../images/im-sprite-v37.png) no-repeat scroll -14px -62px;
}

.bx-messenger-dark .bx-notifier-item-button,
.popup-window-dark.bx-messenger-mark .bx-notifier-item-button,
.bx-messenger-dark.bx-messenger-mark .popup-window-button,
.popup-window-dark.bx-messenger-mark .popup-window-button {
	border: none;
	border-radius: 3px;
	color: #f1f1f1;
	padding: 2px 20px;
	background: #777777;
}

.bx-messenger-dark.bx-messenger-mark .bx-messenger-external-data-buttons,
.popup-window-dark.bx-messenger-mark .bx-messenger-external-data-buttons {
	border-top: 1px solid #7f8c8d;
}

.bx-messenger-dark .bx-notifier-item-button:hover,
.bx-messenger-dark .bx-notifier-item-button:active,
.popup-window-dark.bx-messenger-mark .bx-notifier-item-button:hover,
.popup-window-dark.bx-messenger-mark .bx-notifier-item-button:active,
.popup-window-dark.bx-messenger-mark .popup-window-button:hover,
.popup-window-dark.bx-messenger-mark .popup-window-button:active {
	background: #8e8e8e;
}

.popup-window-dark.bx-messenger-mark .bx-calendar-cell,
.popup-window-dark.bx-messenger-mark .bx-calendar-cell:link,
.popup-window-dark.bx-messenger-mark .bx-calendar-cell:active,
.popup-window-dark.bx-messenger-mark .bx-calendar-cell:visited {
	color: #c3c3c3;
}

.popup-window-dark.bx-messenger-mark .bx-calendar-active {
	background-color: #777777;
}

.popup-window-dark.bx-messenger-mark .bx-calendar-top-month,
.popup-window-dark.bx-messenger-mark .bx-calendar-top-year {
	color: #dcdcdc !important;
}

.bx-messenger-dark .bx-messenger-content-load-text,
.popup-window-dark .bx-messenger-content-load-text {
	color: #ababab;
}

.bx-messenger-dark .bx-messenger-textarea-with-text .bx-messenger-textarea-send-button:hover {
	border-color: #929292;
}

.bx-messenger-dark .bx-messenger-box-contact {
	border-right: 2px solid #404040;
}

.bx-messenger-dark .bx-messenger-content-item-avatar-block:hover .bx-messenger-content-item-avatar-name {
	color: #e2e2e2;
}
.bx-messenger-dark .bx-messenger-content-item-avatar-name {
	color: #b5b5b5;
}

.bx-messenger-dark .bx-messenger-command-popup-header,
.popup-window-dark .bx-messenger-command-popup-header {
	background-color: #4a4a4a;
	color: #c3c3c3;
}

.popup-window-dark .bx-messenger-command-popup-item-selected,
.popup-window-dark .bx-messenger-command-popup-item-selected:hover {
	background-color: #585858;
}

.popup-window-dark .bx-messenger-command-popup-item-category {
	background-color: #4a4a4a;
	color: #c3c3c3;
}

.popup-window-dark .bx-messenger-command-popup-item-command {
	color: #c3c3c3;
}

.popup-window-dark.bx-messenger-mark #bx-messenger-popup-newchat {
	color: #c3c3c3;
}

.bx-messenger-mark .bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-content-item-text-center {
	color: #fff;
}
.bx-messenger-mark .bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-message a,
.bx-messenger-mark .bx-messenger-content-item-new.bx-messenger-content-item-system .bx-messenger-ajax {
	color: #fff;
}

.popup-window-dark.bx-messenger-mark .bx-messenger-confirm {
	color: #cccccc;
}

.popup-window-dark.bx-messenger-mark .bx-messenger-popup-newchat-dest-even .bx-messenger-input {
	color: #c3c3c3;
}
.popup-window-dark .bx-messenger-menu-hr,
.bx-messenger-dark .bx-messenger-menu-hr {
	background-color: #5f5f5f !important;
}

.bx-messenger-dark .bx-messenger-cl-item {
	border-top-color: rgba(113, 113, 113, 0.11);
}

.bx-messenger-dark ::-webkit-scrollbar {
	width: 7px;
	background-image: none !important;
	background-color: #4a4a4a;
}

.bx-messenger-dark ::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 2px;
	border-color: rgb(74, 74, 74);
	background-color: rgb(117, 117, 117);
	background-image: none !important;
}

.bx-messenger-dark ::-webkit-scrollbar-thumb:hover {
	border-width: 1px 1px 1px 2px;
	border-color: rgb(74, 74, 74);
	background-color: rgb(156, 156, 156);
	background-image: none !important;
}

.bx-messenger-dark ::-webkit-scrollbar-track {
	border-width: 0;
}

.bx-messenger-dark ::-webkit-scrollbar-track:hover {
	border-left: solid 1px rgb(74, 74, 74);
	background-color: rgb(95, 95, 95);
}

.bx-messenger-dark .bx-messenger-cl-status-bot .bx-messenger-cl-user-title,
.bx-messenger-dark .bx-messenger-user-bot {
	color: #bcabff !important;
}

.popup-window-dark .bx-notifier-item-help-popup,
.bx-messenger-dark .bx-notifier-item-help-popup {
	background-color: rgb(104, 104, 104);
}

.bx-messenger-dark .bx-messenger-editform-wrap {
	background-color: #4a4a4a;
	border: none;
}

.bx-messenger-dark .bx-messenger-editform-textarea-input {
	background-color: transparent !important;
	color: #c3c3c3;
}

.popup-window-dark .bx-notifier-content-link-history,
.bx-messenger-dark .bx-notifier-content-link-history {
	border-top: none;
}

.bx-messenger-dark .bx-messenger-chatlist-group-add {
	background-color: #3a3a3a;
}

.bx-messenger-dark .bx-messenger-recent-wrap .bx-messenger-cl-count {
	margin-top: 6px;
}

.bx-messenger-dark .bx-messenger-cl-item-pinned:before {
	right: 5px;
	margin-top: 17px;
}

.popup-window-dark .bx-notifier-content-load-block-img,
.bx-messenger-dark .bx-notifier-content-load-block-img {
	mix-blend-mode: color-burn;
}

.popup-window-dark .bx-notifier-item-content .bx-messenger-attach-box,
.bx-messenger-dark .bx-notifier-item-content .bx-messenger-attach-box {
	opacity: 0.95;
}

.bx-messenger-dark .bx-desktop-accounts-pane {
	background: #313131 !important;
	border-right: solid 1px rgb(74, 74, 74) !important;
	color: #c3c3c3 !important;
}

.bx-messenger-dark div.tabAccount {
	border-bottom: solid 1px rgb(74, 74, 74) !important;
}

.bx-messenger-dark div.account {
	border-bottom: solid 1px rgb(74, 74, 74) !important;
}

.bx-messenger-dark div.tabAccount+div:not(.tabAccount) {
	color: #c3c3c3 !important;
	background-color: #4a4a4a !important;
	border-bottom: none !important;
}

.bx-messenger-dark div.activePortal {
	background-color: #404040 !important;
}

.bx-messenger-dark div.tabActivePortal {
	background-color: #4a4a4a !important;
}

.bx-messenger-dark span.accountCheckbox {
	background-color: #ffffff !important;
}

.popup-window-dark .bx-messenger-smile-nav {
	border-top-color: #616161;
}
.popup-window-dark .bx-messenger-smile-nav-name {
	border-top-color: #d4d4d4;
}

.bx-messenger-dark .bx-messenger-settings-content,
.popup-window-dark .bx-messenger-settings-content {
	color: #c3c3c3 !important;
}

.bx-messenger-dark.bx-messenger-mark .popup-window-close-icon:after,
.popup-window-dark.bx-messenger-mark .popup-window-close-icon:after {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuNzg3IDFMNSAzLjc4NyAyLjIxMyAxIDEgMi4yMTMgMy43ODcgNSAxIDcuNzg3IDIuMjEzIDkgNSA2LjIxMyA3Ljc4NyA5IDkgNy43ODcgNi4yMTMgNSA5IDIuMjEzIiBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
}

.bx-messenger-dark .bx-messenger-settings-table-extra,
.popup-window-dark .bx-messenger-settings-table-extra,
.bx-messenger-dark .bx-messenger-settings-table-extra td,
.popup-window-dark .bx-messenger-settings-table-extra td,
.bx-messenger-dark .bx-messenger-settings-table-extra th,
.popup-window-dark .bx-messenger-settings-table-extra th {
	border-color: #4a4a4a;
}

.bx-messenger-dark .bx-messenger-settings-table-extra .bx-messenger-settings-table-sep,
.popup-window-dark .bx-messenger-settings-table-extra .bx-messenger-settings-table-sep
{
	background-color: #4a4a4a;
	color: #ffffff;
}

.side-panel-content-container.bx-messenger-dark {
	background-color: #313131;
}

.bx-messenger-dark .bx-messenger-settings-contents,
.popup-window-dark .bx-messenger-settings-contents {
	border-color: transparent;
	background-color: #313131 !important;
}

.bx-messenger-dark select {
	background: #313131 !important;
	color: #c3c3c3 !important;
}

.bx-messenger-dark .bx-messenger-settings-tab,
.popup-window-dark .bx-messenger-settings-tab {
	background : #313131 !important;
	color: #c3c3c3 !important;
	text-shadow: none;
	border-color: transparent;
}

.bx-messenger-dark .bx-messenger-settings-tab-active,
.popup-window-dark .bx-messenger-settings-tab-active {
	background : #313131 !important;
	color: #c3c3c3 !important;
	text-shadow: none;
	border-color: transparent;
	border-top-color: #fff;
}

.bx-messenger-dark .bx-messenger-settings-notify-type,
.popup-window-dark .bx-messenger-settings-notify-type {
	background-color: #4a4a4a !important;
}

.bx-messenger-dark .disk-desktop-popup-wrapper {
	background: #313131;
}

.bx-messenger-dark .disk-desktop-popup-content-item-filename {
	color: #c3c3c3;
}

.bx-messenger-dark .disk-desktop-popup-content-item-fileinfo {
	color: rgba(191, 191, 191, 0.5);
}

.bx-messenger-dark .disk-desktop-popup-content-item-owner {
	color: rgba(136, 136, 136, 0.5);
}

.bx-messenger-dark .disk-desktop-popup-content-item-copy-link {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #313131 49%);
}

.bx-messenger-dark .disk-desktop-popup-content-item-copy-link-text {
	color: #ffffff;
}

.bx-messenger-dark .disk-desktop-popup-msg {
	color: #c3c3c3;
}

.bx-messenger-dark .disk-desktop-popup-msg-item .disk-desktop-popup-content-item-portal-name {
	color: rgba(191, 191, 191, 0.5);
}

.bx-messenger-dark .disk-desktop-popup-content:after {
	background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 0%, #313131 100%);
}

.bx-messenger-dark .disk-desktop-popup-header {
	background: #404040;
}

.bx-messenger-dark .disk-desktop-popup-header-synchronize-link,
.bx-messenger-dark .disk-desktop-popup-header-synchronize-text {
	color: #c3c3c3;
}

.bx-messenger-dark .disk-desktop-popup-header-actions-item-disk {
	filter: brightness(3);
}

.bx-messenger-dark .disk-desktop-popup-header-actions-item-portal {
	filter: brightness(3);
}

.bx-messenger-dark .disk-desktop-popup-header-actions-item-config {
	filter: brightness(3);
}

.bx-messenger-dark .disk-desktop-popup-header-synchronize-icon:not(:hover) {
	filter: brightness(3);
}

.bx-messenger-dark .bx-messenger-popup-menu-item .bx-messenger-menu-history {
	background: url(./../images/im-sprite-v37.png) -37px -1132px no-repeat
}

.bx-messenger-dark .bx-messenger-popup-menu-item .bx-messenger-menu-chat-mute {
	background: url(./../images/im-sprite-v37.png) no-repeat scroll -62px -1154px
}

.bx-messenger-dark .bx-messenger-popup-menu-item .bx-messenger-menu-chat-exit {
	background: url(./../images/im-sprite-v37.png) -39px -1155px no-repeat
}

.bx-messenger-dark .bx-desktop-separator {
	border-top-color: #5d5d5d;
}

.bx-messenger-dark .bx-messenger-box:hover .bx-messenger-resize,
.bx-messenger-dark .bx-messenger-textarea-place:hover .bx-messenger-textarea-resize {
	opacity: 0.5;
}

.bx-messenger-dark .bx-messenger-box-contact-active .bx-messenger-input-close {
	background: url(./../images/im-sprite-v37.png) no-repeat scroll -14px -62px #3D3D3D;
}

.bx-messenger-dark .bx-messenger-cl-search-wrap .bx-messenger-input-close:hover {
	background-position: 5px -62px;
}

.bx-messenger-dark .bx-messenger-message-edited .bx-messenger-content-item-date {
	color: #c3c3c3;
}

.bx-messenger-dark .bx-messenger-message-edited .bx-messenger-content-item-date:before {
	margin-top: 6px;
}

.bx-messenger-dark .bx-messenger-file-image-src {
	background-color: #313131 !important;
}

.bx-messenger-dark .bx-messenger-content-item-params {
	margin-left: 7px;
}


.bx-messenger-dark .bx-messenger-content-item-notice .bx-messenger-content-item-date {
	color: #c3c3c3;
}

.bx-messenger-dark .bx-messenger-content-item-content,
.bx-messenger-dark .bx-messenger-content-item-ol-output .bx-messenger-content-item-content {
	border-radius: 5px;
}

.bx-messenger-dark .bx-notifier-item-new,
.bx-messenger-dark .bx-notifier-item-new {
	background-color: #4c4c4c !important;
}

.popup-window-dark .bx-messenger-settings-level-meter-mask {
	background-color: #737373;
}

.popup-window-dark .bx-messenger-settings-level-meter-filler {
	background-color: #4c4c4c;
}

.bx-messenger-dark .bx-messenger-user-extranet {
	background: url(./../images/im-sprite-v37.png) no-repeat scroll -178px -962px;
}

.bx-messenger-dark .bx-messenger-chat-extranet:before{
	background: url(./../images/im-sprite-v37.png) no-repeat scroll -178px -962px;
}

.bx-messenger-dark .bx-messenger-file-download-link {
	margin-right: 11px;
	border-radius: 5px;
}

.bx-messenger-dark .bx-messenger-body-wrap {
	padding-bottom: 15px;
}

.bx-messenger-dark .bx-messenger-attach-rich-links .bx-messenger-file-image-src {
	border-radius: 5px 5px 0 0;
}

.bx-messenger-dark .bx-messenger-attach-rich-links .bx-messenger-file-image-src+.bx-messenger-attach-rich-link-panel {
	border-radius: 0 0 5px 5px;
}

.bx-messenger-dark .bx-messenger-attach-rich-links {
	border-radius: 5px;
}


.bx-messenger-dark ::selection {
	background: #03cbea;
	color: #fff
}

.bx-messenger-dark .bx-messenger-cl-search {
	border-bottom-color: rgba(255, 255, 255, 0.03);
}


.bx-messenger-dark .bx-messenger-file-image-text, .bx-messenger-file-image-src .bx-bxu-proper-canvas{
	border-radius: 0px;
}

.bx-messenger-dark .im-messenger-image-uploader {
	background-color: #4a4a4a;
}

.bx-messenger-dark .im-messenger-image-uploader-textarea-input {
	border-color: rgba(255, 255, 255, 0.2);
	color: #c3c3c3;
}

.bx-messenger-dark .bx-notifier-item-button-accept,
.popup-window-dark.bx-messenger-mark .popup-window-button-accept {
	color: #f1f1f1!important;
}

.bx-messenger-dark .bx-messenger-attach-rich-links .bx-messenger-attach-rich-link-panel {
	border-radius: 5px;
}

.bx-messenger-dark .bx-messenger-file-progress-infinite {
	filter: grayscale(1);
}

.bx-messenger-dark .bx-messenger-file-progress-line{
	filter: grayscale(1);
}

.bx-messenger-dark.bx-messenger-box .bx-messenger-content-like-button {
	color: #9a9a9a !important;
	filter: brightness(0.8);
}

.bx-messenger-dark .bx-messenger-content-item-liked .bx-messenger-content-like-button {
	color: #fff!important;
}

.popup-window-dark .bx-notifier-wrap,
.bx-messenger-dark .bx-notifier-wrap {
	background-color: #313131 !important;
}

.bx-messenger-dark .bx-messenger-box-create-desc {
	color: rgba(255, 255, 255, 0.7) !important;
	background-color: #4a4a4a !important;
}

.bx-messenger-dark .bx-messenger-panel-wrap {
	border-bottom: none;
}

.bx-messenger-dark .bx-messenger-content-item-liked .bx-messenger-content-like-digit {
	color: #fff!important;
}
.bx-messenger-dark .bx-messenger-content-item-liked .bx-messenger-content-like-button {
	background-position: -129px -1073px;
	filter: brightness(2);
}
.popup-window-dark .bx-messenger-title,
.bx-messenger-dark .bx-messenger-title {
	font-weight: bold;
	color: #fff;
}

.popup-window-dark .bx-messenger-history-items-wrap .bx-messenger-content-item-system a,
.bx-messenger-dark .bx-messenger-history-items-wrap .bx-messenger-content-item-system a {
	color: #a6cbff;
}

.bx-messenger-dark .bx-messenger-content-item-lines-writing .bx-messenger-content-item-content {
	background: transparent;
	border-color: #d6d6d6;
	border-style: dashed;
}