.icon-star,.reviewsItemRating i:after
{
	background-image: url(img/imageSprite.png);
	background-position: -275px -174px;
	height: 24px;
	width: 25px;
}
.icon-starActive,.reviewsItemRating i.active:after
{
	background-image: url(img/imageSprite.png);
	background-position: -300px -174px;
	height: 24px;
	width: 25px;
}
.icon-starSmall,.reviewsItemRating i:before
{
	background-image: url(img/imageSprite.png);
	background-position: -127px -124px;
	height: 15px;
	width: 16px;
}
.icon-starSmallActive,.reviewsItemRating i.active:before
{
	background-image: url(img/imageSprite.png);
	background-position: -111px -124px;
	height: 15px;
	width: 16px;
}
.icon-starBig,.writeReviewRatingList span:after,.writeReviewRatingList.hover span.active:after
{
	background-image: url(img/imageSprite.png);
	background-position: -264px -66px;
	height: 40px;
	width: 42px;
}
.icon-starBigActive,.writeReviewRatingList span.active:after,.writeReviewRatingList span.tmpActive:after,.writeReviewRatingList.hover span.active.tmpActive:after
{
	background-image: url(img/imageSprite.png);
	background-position: -222px -66px;
	height: 40px;
	width: 42px;
}
.icon-starMid,.writeReviewRatingList span:before
{
	background-image: url(img/imageSprite.png);
	background-position: -326px -106px;
	height: 32px;
	width: 34px;
}
.icon-starMidActive,.writeReviewRatingList span.active:before,.writeReviewRatingList span.tmpActive:before
{
	background-image: url(img/imageSprite.png);
	background-position: -292px -106px;
	height: 32px;
	width: 34px;
}
.icon-starSmall,.reviewsItemRating i:before
{
	background-image: url(img/imageSprite.png);
	background-position: -127px -124px;
	height: 15px;
	width: 16px;
}
.icon-starSmallActive,.reviewsItemRating i.active:before
{
	background-image: url(img/imageSprite.png);
	background-position: -111px -124px;
	height: 15px;
	width: 16px;
}
.officeBox+.officeBox,.reviewsItem+.reviewsItem
{
	border-top: solid 1px #e6e6e6;
}
.reviews,.writeReview
{
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 11px 12px rgba(190,190,190,.38);
	overflow: hidden;
}
@media all and (max-width:479px)
{
	.officeBox
	{
		font-size: 15px;
		padding: 15px;
	}
	.officeTitle
	{
		padding: 15px 15px 0;
	}
	.officeDownload
	{
		display: block;
		padding: 0 0 0 45px;
		width: auto;
	}
	.officeDownload i
	{
		left: 0;
	}
	.officeDownloadLinks
	{
		margin: 0;
	}
	.officeWorkerName,.officeWorker_top .officeWorkerName
	{
		font-size: 20px;
	}
	.writeReviewBottom
	{
		text-align: center;
	}
}
.reviews
{
	margin: 30px 0;
}
.reviewsItem
{
	font-size: 18px;
	padding: 20px 30px 20px 35px;
}
.reviewsItemHeader
{
	margin: 0 0 10px;
	padding: 0 150px 0 0;
	position: relative;
}
.reviewsItemRating
{
	position: absolute;
	right: 0;
	top: -2px;
	width: 145px;
}
.reviewsItemRating i
{
	float: left;
	height: 24px;
	position: relative;
	width: 29px;
}
.reviewsItemRating i:after
{
	content: "";
	left: 2px;
	position: absolute;
	top: 0;
}
.reviewsItemRating i:before
{
	content: "";
	display: none;
	left: 1px;
}
.reviewsItemDateTime,.reviewsItemName
{
	display: inline-block;
	vertical-align: middle;
}
.reviewsItemName
{
	font-weight: 700;
	padding: 0 20px 0 0;
}
.reviewsItemName_admin
{
	color: #92A93F;
}
.reviewsItemDateTime
{
	color: #999;
}
.reviewsItem .reviewsItem
{
	padding: 10px 0 0 40px;
}
.reviewsItem .reviewsItem .reviewsItemHeader
{
	padding-right: 0;
}
@media all and (max-width:767px)
{
	.reviewsItem
	{
		padding: 20px;
	}
	.reviewsItem .reviewsItem
	{
		padding-left: 0;
		padding-top: 20px;
	}
	.reviewsItemHeader
	{
		padding-right: 100px;
	}
	.reviewsItemRating
	{
		height: 15px;
		top: 7px;
		width: 90px;
	}
	.reviewsItemRating i
	{
		height: 15px;
		width: 18px;
	}
	.reviewsItemRating i:after
	{
		display: none;
	}
	.reviewsItemRating i:before
	{
		display: block;
	}
}
.writeReview
{
	margin: 30px 0;
	padding: 20px 30px 40px;
}
.writeReviewTitle
{
	color: #5F554E;
	font-family: Philosopher,"PT Sans",Arial,sans-serif;
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 20px;
}
.writeReviewTop
{
	margin: 0 -15px;
}
.writeReview select,.writeReviewEl, .ik_select.common_select
{
	margin: 0 0 30px;
}
.ik_select.common_select .ik_select_link.common_select-link{
    padding:0;
    background: none;
    border:none
}
.writeReviewEl
{
	float: left;
	padding: 0 15px;
	width: 33.3333%;
}
.writeReview select,.writeReview textarea,.writeReviewEl input, .ik_select.common_select
{
	background: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: inset 0 3px 4px rgba(0,0,0,.09);
	color: #999;
	font-size: 16px;
	line-height: 20px;
	padding: 19px 10px 19px 20px;
	text-indent: 0;
	width: 100%;
}
.writeReview select {
        padding: 0 19px;
}
.writeReview select:focus,.writeReview textarea:focus,.writeReviewEl input:focus, .ik_select.common_select:focus
{
	color: #000;
}
.writeReview textarea
{
	height: 140px;
	resize: none;
}
.writeReviewBottom
{
	display: table;
	margin: 30px 0 0;
	width: 100%;
}
.writeReviewRating,.writeReviewRatingList,.writeReviewRatingTitle
{
	display: inline-block;
	vertical-align: middle;
}
.writeReviewSubmit
{
	float: right;
}
.writeReviewRatingTitle
{
	font-size: 18px;
	margin: 0 15px 0 0;
}
.writeReviewRatingList
{
	width: 240px;
}
.writeReviewRatingList span
{
	cursor: pointer;
	float: left;
	height: 40px;
	position: relative;
	width: 48px;
}
.writeReviewRatingList span:after,.writeReviewRatingList span:before
{
	content: "";
	left: 3px;
	position: absolute;
	top: 0;
}
.writeReviewRatingList span:before
{
	display: none;
}
@media all and (max-width:999px)
{
	.writeReviewEl
	{
		width: 50%;
	}
	.writeReviewEl_wide
	{
		width: 100%;
	}
}
@media all and (max-width:767px)
{
	.writeReview
	{
		padding: 20px 20px 30px;
	}
	.writeReviewTitle
	{
		text-align: center;
	}
	.writeReviewEl
	{
		margin: 0 0 10px;
		width: 100%;
	}
	.writeReviewSubmit
	{
		display: block;
		float: none;
		margin: 15px 0 0;
		width: 100%;
	}
	.writeReviewBottom
	{
		margin: 18px 0 0;
	}
	.writeReviewRatingTitle
	{
		font-size: 16px;
	}
	.writeReviewRatingList
	{
		width: 200px;
	}
	.writeReviewRatingList span
	{
		height: 32px;
		width: 40px;
	}
	.writeReviewRatingList span:after
	{
		display: none;
	}
	.writeReviewRatingList span:before
	{
		display: block;
	}
}
.pagination a,.pagination span
{
	display: inline-block;
	vertical-align: middle;
}
.pagination
{
	border-top: solid 1px #e6e6e6;
	color: #999;
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
	text-align: center;
    display: block !important;
}
.pagination a
{
	color: #92A93F;
	margin: 4px 10px;
	text-decoration: none;
}
.pagination .nav-current-page
{
	background: #BFAD99;
	border-radius: 50%;
	color: #fff;
	line-height: 38px;
	margin: 4px 0;
	text-align: center;
	width: 38px;
}
.accordionItemName,.historyName
{
	font-family: Philosopher,"PT Sans",Arial,sans-serif;
	font-weight: 700;
	line-height: 1.2;
}
.pagination span
{
	margin: 4px 10px;
}
