.header__bg{ max-width: 100%; }

.mt-4{ margin-top: 40px; }
.mb-4{ margin-bottom: 40px; }

.card__content{ display: none; padding-top: 40px;}
.card__content.active{
	display: block;
}
.card-tabs{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 20px;
}
.card-tab{
	flex-basis: 49.5%;
	width: 49.5%;
	font-size: 37px;
	line-height: 41px;
	color: #383838;
	padding: 10px 0px;
}

.card-tab1{
	background-color: #C9E2E6;
	text-align: right;
	padding-right: 50px
}

.card-tab2{
	background-color: #D6CDC6;
	text-align: left;
	padding-left: 50px
}
.card-tab.active{
	border-bottom: 4px solid #92a93f;
}


.card-tab:hover{
	cursor: pointer;
}

.card-tab1:hover{
	background-color: #b8d7dc;
}
.card-tab2:hover{
	background-color: #cec4bc;
}

.w-section__title{
	color: #333333;
	margin-bottom: 30px;
	font-size: 32px;
	line-height: 1.2;
}
.card-loyalty-icon__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}

.card-loyalty-icon__item {
    border: 1px solid #ECECEC;
    flex-basis: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.card-loyalty-icon__item img{
	height: 84px;
}
.card-loyalty-icon__item p{
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: bold;
	color: #383838;
	text-align: center;
}


.card-loyalty__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card-loyalty__left, .card-loyalty__right{
	flex-basis: 49%;
	width: 49%;
}

.card-loyalty-info{
	padding: 20px 40px;
	border: 1px solid #ECECEC;
	height: 100%;
}

.card-loyalty-title{
	color: #383838;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 20px;
}

.card-loyalty-info ul li{
	font-size: 21px;
	font-weight: bold;
	line-height: 1.8;
	color: #383838;
}

.card-loyalty-info2{
	padding: 100px 40px;
	border: 1px solid #ECECEC;
}
.card-loyalty-info2 p{
	font-size: 20px;
	line-height: 1.3;
}
.card-loyalty-info2 a{
	text-decoration: underline;
}


.card__section__title{
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 36px;
	color: #333333;
	position: relative;
}

.card_bonus__wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.card_bonus__left {
	flex-basis: 49%;
	height: 100%;
}

.card_bonus__right {
	flex-basis:  49%;
	height: 100%;
}
.card_bonus__img {
	max-width: 90%
}

.card_bonus__right .card_bonus__img{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card_bonus__wrapper .btn{
	background: #92A93F;
    border: none;
    border-radius: 30px 0px;
    box-shadow: 0 11px 12px rgba(146,169,63,.38);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}



.card-bonus-icon__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}

.card-bonus-icon__item {
    border: 1px solid #ECECEC;
    flex-basis: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px 
}
.card-bonus-icon__item img{
	height: 84px;
}
.card-bonus-icon__item p{
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: bold;
	color: #383838;
	text-align: center;
}

.card-bonus__title{
	font-size: 32px;
	line-height: 36px;

	color: #333333;
}


.card-bonus__info{
	padding: 20px;
	border: 1px solid #ECECEC;
	height: 100%;
	box-sizing: border-box;
}

.card-bonus__info.accrual-bonuses {
    min-height: 411px;
}


.card-bonus__info-item{
	display: flex;

}

.card-bonus__info-img{
	flex-basis: 100px;
	margin-right: 10px;
}

.card-bonus__info-text{
	flex: 1;
}

.card-bonus__info-item.--center{
	align-items: center;
}

.card-bonus__info-item.--center .card-bonus__info-text p{
	margin-bottom: 0px;
}

.debiting_bonuses{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.debiting_bonuses__item{
	flex-basis: 30%;
	width: 30%;
}
.debiting_bonuses__item span{
	font-weight: bold;
	color: #383838;
	display: block;
	margin-top: 5px;
}

.get-bonus-card{
	display: flex;
	justify-content: space-between;
}

.get-bonus-card__item{
	flex-basis: 33%;
	border: 1px solid #ECECEC;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.get-bonus-card__item span{
	font-weight: bold;
	font-size: 17px;
	color: #383838;
	text-align: center;
	margin-top: 10px;
}

.questions__title{
	font-weight: bold;
	font-size: 24px;
	line-height: 1.3;
	color: #383838;
	margin-bottom: 10px
}
.questions__wrapper{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.questions__colum{
	flex-basis: 30%;
	width: 30%;
}
.questions__colum.--65 {
    flex-basis: 65%;
}
.questions__item{
	margin-bottom: 20px;
}

.questions__item p{
	margin: 0px;
	padding: 0px;
}

.questions__name{
	font-weight: bold;
	color: #333;
}

@media (max-width: 992px) {
	.card-bonus-icon__wrapper{
		flex-wrap: wrap;
		justify-content: center;
	}
	.card-bonus-icon__item{
		flex-basis: 30%;
		margin-bottom: 20px;
		margin-right: 3%;
	}
	.card_bonus__wrapper{
		flex-wrap: wrap;
	}
	.card_bonus__left, .card_bonus__right{
		flex-basis: 100%;
		width: 100%;
		margin-bottom: 20px;
	}

	.questions__colum{ flex-basis: 48%; }
	.questions__wrapper .questions__colum:nth-child(3){ flex-basis: 100%; display: flex;    justify-content: space-between;}
	.questions__wrapper .questions__colum:nth-child(3) .questions__item{
		flex-basis: 48%; 
	}
	.questions__colum.--65, .questions__colum.--30{
		flex-basis: 100%
	}

	.get-bonus-card__item{
		height: auto;
	}

	.order-1{
		order: 1;
	}
	.order-2{
		order: 2;
	}

	.card-loyalty__left img{
		max-width: 100%;
		height: auto;
	}
	.card-loyalty-info2{
		padding: 20px;
	}
}
@media (max-width: 765px) {
	.card-bonus-icon__wrapper{
		justify-content: space-between;
	}
	.card-bonus-icon__item{
		margin-right: 0px;
		flex-basis: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		height: auto;
		flex-direction: row;
	}
	.card-bonus-icon__item img{
		flex-basis: 80px;
		height: auto;
		width: 80px;
		margin-right: 10px;
	}
	.card-bonus-icon__item p{
		margin: 0px;
		flex: 1;
	}
	.debiting_bonuses{
		flex-wrap: wrap;
	}

	.debiting_bonuses__item{
		flex-basis: 100%;
		display: flex;
    	align-items: center;
    	margin-bottom: 20px
	}


	.debiting_bonuses__item img{
		flex-basis: 80px;
		width: 80px;
		margin-right: 10px;
	}

	.debiting_bonuses__item span{
		flex: 1;
	}

	.get-bonus-card {
		flex-wrap: wrap;
	}

	.get-bonus-card__item {
		flex-basis: 100%;
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
	}

	.get-bonus-card__item img{
		flex-basis: 80px;
		width: 80px;
		margin-right: 10px;
	}

	.get-bonus-card__item span{
		flex: 1;
	}	

	.questions__colum{
		flex-basis: 100%;
	}
	.questions__wrapper .questions__colum:nth-child(3){
		flex-direction: column;
	}
	.questions__wrapper .questions__colum:nth-child(3) .questions__item{
		flex-basis: 100%;
	}

	.card-bonus__info-img{
		flex-basis: 80px;

	}

	.card-bonus__info-img img{
		max-width: 100%;
		height: auto;
	}

	.card-tabs{
		flex-direction: column;
	}
	.card-tab{
		flex-basis: 100%;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.card-tab1{
		padding-right: 0px;
	}
	.card-tab2{
		padding-left: 0px;
	}

	.card-loyalty-icon__wrapper{
		flex-wrap: wrap;
	}
	.card-loyalty-icon__item{
		    flex-basis: 100%;
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    height: auto;
		    margin-bottom: 10px;
		    padding: 10px;
	}

	.card-loyalty-icon__item img{
		flex-basis: 80px;
		width: 80px;
		height: auto;
		margin-right: 10px;
	}
	.card-loyalty-icon__item p{
		margin-top: 0px;
		flex: 1;
	}
	.card-loyalty__left, .card-loyalty__right{
		flex-basis: 100%;
		width: 100%;
		margin-bottom: 20px;
	}
	.card-loyalty-info{
		padding: 20px;
		height: auto;

	}

	.card_bonus__img{
		max-width: 100%;
		display: block;
		margin: 0px auto;
	}

	.card_bonus__wrapper .btn{
		display: block;
	}

}