.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
{
	margin: 0 auto;
	padding: 0 20px;
	width: 1210px;
}
@media all and (max-width:1209px)
{
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 20px;
		width: 1000px;
	}
}

@media all and (max-width:999px)
{
	.showNav .indexMap,.showNav .indexSlider,.showNav .mainFooter,.showNav .pageHeader,.showNav .wrapContent
	{
		left: 280px;
	}
	.showNav .mainNav
	{
		left: 0;
	}
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 20px;
		width: 768px;
	}
}
@media all and (max-width:767px)
{
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 20px;
		width: 480px;
	}
}
@media all and (max-width:479px)
{
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 15px;
		width: auto;
	}
}
.textBox,.textBoxImageSection
{
	font-size: 18px;
	position: relative;
}
.textBox
{
	display: block;
	overflow: hidden;
	width: 100%;
}
.textBox+.textBoxWrap
{
	margin-top: 50px;
}
.textBox>*,.textBox>.cardsItemContent>*,.textBox>.contentBox>*,.textBox>.indexMapListContent>*,.textBox>.mainFooterCols>*
{
	margin: .8em 0;
}
.textBox>.cardsItemContent,.textBox>.contentBox,.textBox>.indexMapListContent,.textBox>.mainFooterCols
{
	margin: 0 auto;
}
.textBox *
{
	line-height: 1.2em;
}
.textBox>:first-child
{
	margin-top: 0;
}
.textBoxImageSection
{
	margin: 0 auto;
}
.textBoxImageSectionBg
{
	background-position: top center;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.textBoxImageSection .cardsItemContent,.textBoxImageSection .contentBox,.textBoxImageSection .indexMapListContent,.textBoxImageSection .mainFooterCols
{
	line-height: 700px;
	min-height: 700px;
	position: relative;
	vertical-align: middle;
	z-index: 10;
}
.textBoxImageSectionContent
{
	background: #fff;
	border-bottom: solid 10px #BFAD99;
	display: inline-block;
	padding: 25px 40px;
	vertical-align: middle;
	width: 470px;
}
@media all and (max-width:1209px)
{
	.textBoxImageSection .cardsItemContent,.textBoxImageSection .contentBox,.textBoxImageSection .indexMapListContent,.textBoxImageSection .mainFooterCols
	{
		line-height: 570px;
		min-height: 570px;
	}
}
@media all and (max-width:999px)
{
	.textBoxImageSection .cardsItemContent,.textBoxImageSection .contentBox,.textBoxImageSection .indexMapListContent,.textBoxImageSection .mainFooterCols
	{
		line-height: 1.2;
		min-height: 0;
	}
	.textBoxImageSectionBg
	{
		bottom: auto;
		height: 460px;
		position: relative;
		width: 100%;
	}
	.textBoxImageSectionContent
	{
		display: block;
		margin: -90px 0 0;
		padding: 10px 40px;
		width: auto;
	}
}
@media all and (max-width:767px)
{
	.textBoxImageSection
	{
		font-size: 16px;
	}
	.textBoxImageSectionBg
	{
		height: 285px;
	}
	.textBoxImageSectionContent
	{
		display: block;
		margin: -50px 0 0;
		padding: 4px 20px;
		width: auto;
	}
}
@media all and (max-width:479px)
{
	.textBoxImageSection .cardsItemContent,.textBoxImageSection .contentBox,.textBoxImageSection .indexMapListContent,.textBoxImageSection .mainFooterCols
	{
		padding: 0;
	}
	.textBoxImageSectionBg
	{
		height: 190px;
	}
	.textBoxImageSectionContent
	{
		display: block;
		margin: 0;
		padding: 4px 15px;
		width: auto;
	}
}
.textBox .important
{
	color: #92A93F;
	font-size: 24px;
}
.textBox h2,.textBox h3
{
	font-family: Philosopher,"PT Sans",Arial,sans-serif;
	font-size: 32px;
	font-weight: 700;
}
.textBox h2
{
	color: #5F554E;
	margin: 1em 0 .5em;
}
.textBox h3
{
	margin: .8em 0;
}
.textBox h4
{
	font-size: 20px;
}
.textBox ul
{
	list-style: none;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.textBox ul li
{
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 50px;
	position: relative;
}
.textBox ul li:before
{
	background: #E8D15E;
	border-radius: 50%;
	content: "";
	height: 7px;
	left: 33px;
	position: absolute;
	top: 7px;
	width: 7px;
}
.textBox a
{
	color: #92A93F;
	text-decoration: none;
	font-weight: bold;
}
.textBox img[align=left]
{
	margin-bottom: 1em;
	margin-right: 3.8%;
	margin-top: 1em;
	max-width: 50%;
}
.textBox img[align=right]
{
	margin-bottom: 1em;
	margin-left: 3.8%;
	margin-top: 1em;
	max-width: 50%;
}
@media all and (max-width:767px)
{
	.textBox+.textBoxWrap
	{
		margin-top: 20px;
	}
	.textBox img[align=left],.textBox img[align=right]
	{
		display: inline-block;
		margin: 1em 0;
		max-width: none;
		width: 100%;
	}
}
@media all and (max-width:479px)
{
	.textBox
	{
		font-size: 16px;
	}
	.textBox+.textBoxWrap,.textBox>img:first-child
	{
		margin-top: 0;
	}
	.textBox h2
	{
		font-size: 24px;
	}
	.textBox h3
	{
		font-size: 20px;
	}
	.textBox .important,.textBox h4
	{
		font-size: 18px;
	}
	.textBox ul li
	{
		padding-left: 15px;
	}
	.textBox ul li:before
	{
		left: 0;
	}
}
.jobsTabs,.jobsTitle
{
	font-size: 20px;
	text-align: center;
}
.jobs
{
	margin: 45px 0;
}
.jobsTabs
{
	margin: 15px -15px 20px;
}
.jobsTabs i
{
	font-style: normal;
}
.jobsTabs span
{
	border-bottom: dashed 1px #92A93F;
	color: #92A93F;
	cursor: pointer;
	font-size: 24px;
	font-weight: 700;
	margin: 0 10px;
	white-space: nowrap;
}
.jobsTabs span.active
{
	border: none;
	color: #000;
	cursor: default;
	padding: 0 0 1px;
}
.jobsPanel
{
	display: none;
}
.jobsPanel.active
{
	display: block;
	margin: 20px 0 0;
}
.jobsItemContent table
{
	margin: 0 280px 0 0;
}
@media all and (max-width:999px)
{
	.jobsItemContent table
	{
		margin: 0;
	}
}
.jobsItemContent .getIt
{
	float: right;
	margin: -62px 0 0;
}
@media all and (max-width:999px)
{
	.jobsItemContent .getIt
	{
		float: none;
		margin: 10px 0 0;
	}
}
@media all and (max-width:479px)
{
	.jobsTitle
	{
		font-size: 16px;
	}
	.jobsTabs i
	{
		display: none;
	}
	.jobsTabs span
	{
		font-size: 20px;
		margin: 0 3px;
	}
}
.accordionItem
{
	background: #fff;
	box-shadow: 0 13px 32px rgba(0,0,0,.08);
	font-size: 18px;
}
.accordionItem+.accordionItem
{
	margin: 20px 0 0;
}
.accordionItemHeader
{
	cursor: pointer;
	overflow: hidden;
	padding: 22px 40px 26px;
}
.accordionItemName
{
	color: #5F554E;
	float: left;
	font-size: 32px;
	padding: 0 10px 0 0;
}
.accordionItemSalary
{
	float: right;
	font-size: 20px;
	margin: 9px 0 0;
}
.accordionItemContent
{
	display: none;
	overflow: hidden;
	padding: 0 40px 40px;
}
.accordionItemContent table td
{
	padding: 5px 10px 10px 0;
	vertical-align: top;
}
.accordionItem.active .accordionItemContent
{
	display: block;
}
@media all and (max-width:999px)
{
	.accordionItemName
	{
		font-size: 24px;
	}
	.accordionItemSalary
	{
		margin: 4px 0 0;
	}
}
@media all and (max-width:767px)
{
	.accordionItemHeader
	{
		padding: 10px 20px;
	}
	.accordionItemName
	{
		display: block;
		float: none;
		font-size: 24px;
	}
	.accordionItemSalary
	{
		display: block;
		float: none;
		margin: 4px 0 0;
	}
	.accordionItemContent
	{
		padding: 0 20px 20px;
	}
	.accordionItemContent table td
	{
		display: block;
		padding: 6px 0;
	}
	.accordionItemContent table td:last-child
	{
		padding-bottom: 25px;
	}
	.accordionItemContent .btn,.accordionItemContent .search-button
	{
		display: block;
	}
}
@media all and (max-width:479px)
{
	.accordion
	{
		font-size: 16px;
	}
}
.form textarea {
    min-height: 80px !important;
}