
@font-face{
    font-family: 'WebSymbolsLigaRegular';
    src: url('/bitrix/fonts/websymbolsligaregular.ttf');
}
.cleanmaster-area{
    margin: 15px 0px;
}
.adm-btn.adm-btn-save.disable{
    pointer-events: none;
    cursor: default;
    background-color: #c4c4c4 !important;
    background-image: -webkit-linear-gradient(bottom, #c4c4c4, #fff)!important;
    opacity: 0.5;
    color: black;
    border: solid 1px #c4c4c4;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #c4c4c4;
}
.clean-action-menu,
.clean-action-wrapper{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}
.clean-action-menu ul{
    line-height: 20px;
}
.clean-action-wrapper{
    max-width: 800px;
    min-width: 800px;
    margin-left: 20px;
}
.clean-action-wrapper ul{
    margin-left: 20px;
}
.clean-action-wrapper .nav-buttons span{
    font-family: WebSymbolsLigaRegular;
    font-size: 40px;
    position: absolute;
    top: -10px;
    z-index: 10;
    color: #3F4B54;
}
.clean-action-wrapper .nav-buttons{
    margin-top: 20px;
}
.clean-action-wrapper .nav-buttons div{
    position: relative;
}
.clean-action-wrapper .nav-buttons div:first-child{
    /*margin: 50px 0 20px;*/
}
div.action-container-next span{
    right: -5px;
}
div.action-container-prev span{
    left: -5px;
}
div.action-container-next{
    float: right;
}
 div.action-container-prev{
    float: left;
}
.clean-action-wrapper .nav-buttons a.action-container-next{
    padding-right: 30px;
}
.clean-action-wrapper .nav-buttons a.action-container-prev{
    padding-left: 30px;
}
.clean-action-menu{
    border: rgba(123,152,165,0.4) 1px solid;
    padding: 15px 10px 25px 25px;
    box-shadow: 0 0 4px rgba(123,152,165,0.4);
    margin-top: 0px;
    border-radius: 10px;
}
.clean-action-menu h2{
    margin: 0 5px 10px;
}
.clean-action-menu li a {
    text-decoration:none;
    border-bottom-style:dotted;
	border-bottom-width:1px;
}
.action-container{
    display: none;
    margin: 0 0 10px 0;
    font-size: 14px;
}
.action-container h2{
	margin-top: 5px;
    margin-bottom: 12px;
    font-size: 22px;
    /*text-align: center;*/
}
.action-container:first-child{
    display: block;
}
.hide{
    display: none !important;
}
.show{
    display: inherit !important;
}