.status-item {
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 5px;
    color: white;
}
.status-item.complited {
    background: #92a93f;
}
.process {
  background-size: 90px 90px;
  background-image: linear-gradient(
    135deg,
    #8fa63c 25%,
    #788b34 25%,
    #788b34 50%,
    #8fa63c 50%,
    #8fa63c 75%,
    #788b34 75%,
    #788b34
  );
  animation: animate-stripes 2s linear infinite;
}
.checkout-left-block {
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 12px 3px #e9e9e9;
    border-radius: 10px;
}
.checkout-left-block img {
    max-width:100%;
}
.checkout-right-block {
    padding: 1rem;
}
.checkout-width-container {
    text-align: center;
    padding-top: 2rem;
}
.checkout-width-container a {
    background: #494949;
    color: white;
    border: none;
}
.checkout-width-container a:hover {
    color: white;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 90px 0;
  }
}


@keyframes progressBar {
  0% { width: 0; }
  50% {float: right;width: 100%;}
  100% { width: 0%; }
}
@media(min-width:649px){
    .checkout-right-block {
        padding-top: 5rem;
    }
}
@media (max-width:648px){
    .col-xs-4.first-item,
    .col-xs-4.second-item{
        padding-right: 3px;
    }
    .col-xs-4.third-item,
    .col-xs-4.second-item{
        padding-left: 3px;
    }
    .status-item {
        font-size: 11px;
    }
}
