.indexMapContent{
	overflow: hidden;
}
#content .icon-search,#content .indexMapSearchBox button i,#content .mainHeaderSearch button i
{
	background-image: url(img/imageSprite.png);
	background-position: -143px -124px;
	height: 15px;
	width: 15px;
}
#content .mapBox
{
	left: 0;
	max-width: 100%;
	overflow: hidden;
	width: 320px;
}
#content .mapBoxImg
{
	float: left;
	text-align: center;
	width: 45%;
}
#content .mapBoxImg img.loaded
{
	height: auto!important;
	width: 100%!important;
}
#content .mapBoxInfo
{
	float: right;
	width: 50%;
}
#content .mapBoxAddr
{
	margin: 0 0 7px;
}
#content .mapBoxMetro
{
	display: block;
	margin: 2px 0;
	padding: 0 0 0 18px;
    position: relative;
}
#content .mapBoxMetro i
{
	content: "";
	left: 0;
	position: absolute;
	top: 4px;
}
#content .mapBoxMetro.colorGreen
{
	color: #44b85c;
}
#content .mapBoxMetro.colorRed
{
	color: #ed1b35;
}
#content .mapBoxMetro.colorBlue
{
	color: #0078bf;
}
#content .mapBoxMetro.colorLightBlue
{
	color: #19c1f3;
}
#content .mapBoxMetro.colorBrown
{
	color: #894e35;
}
#content .mapBoxMetro.colorOrange
{
	color: #f58631;
}
#content .mapBoxMetro.colorPurple
{
	color: #8e479c;
}
#content .mapBoxMetro.colorYellow
{
	color: #ffcb31;
}
#content .mapBoxMetro.colorGrey
{
	color: #a1a2a3;
}
#content .mapBoxMetro.colorLime
{
	color: #b3d445;
}
#content .mapBoxMetro.colorTreal
{
	color: #79cdcd;
}
#content .mapBoxMetro.colorBlueGrey
{
	color: #acbfe1;
}
#content .mapBoxPhone
{
	color: #5F554E;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
#content .mapBoxOptions
{
	margin: 7px 0 0;
}
#content .mapBoxOptions span
{
	color: #999;
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin: 3px 0;
	padding: 0 0 0 10px;
	position: relative;
	vertical-align: top;
	width: auto;
}
#content .mapBoxOptions span:before
{
	color: #faa41a;
	content: '•';
	left: 0;
	position: absolute;
	top: 0;
}
#content .indexMapSearchBox button i,#content .metroStation:before
{
	content: "";
	top: 50%;
}
#content .indexMap
{
	background: #fff;
	left: 0;
	position: relative;
}
#content .indexMapTitle
{
	border-bottom: solid 1px #d2d2d2;
	color: #5F554E;
	font-size: 36px;
	font-weight: 700;
	padding: 16px 5px;
	text-align: center;
}
#content .indexMapTabs
{
	display: inline-block;
	font-family: "PT Sans",Arial,sans-serif;
	font-size: 22px;
	margin: 0 30px;
	vertical-align: middle;
	font-weight: 100;
}
#content .foodSliderBannerTitle,#content .indexBoxes .box1 .boxTitle,#content .indexBoxes .box2 .boxTitle,#content .indexBoxes .box3 .boxTitle,#content .indexBoxes .box4 .boxTitle,#content .indexSliderTitle
{
	font-family: Philosopher,"PT Sans",Arial,sans-serif;
}
@media all and (max-width:767px)
{
	#content .indexMapTabs
	{
		display: block;
		margin: 0;
		text-align: center;
	    width: 100%;
    	padding: 0 0 2rem 0;
	}
	#content .checkboxes-inline .bx-filter-parameters-box-title{
		white-space: normal;
	}
}
#content .indexMapTabs span
{
	border-bottom: dashed 1px #92A93F;
	color: #92A93F;
	cursor: pointer;
	display: inline-block;
	margin: 0 10px;
}
#content .indexMapTabs span.active
{
	border-bottom-color: #fff;
	color: #5F554E;
	cursor: default;
}
#content .indexMapOptions
{
	padding: 17px 0 0 0;
}
#content .indexMapSearch
{
	display: block;
	height: 40px;
	margin: 0 0 0 5px;
	max-width: 870px;
}
#content .indexMapSearchBox
{
	float: left;
	padding: 0 20px 0 10px;
	position: relative;
/* 	width: 50%; */
}
#content .indexMapSearchBox button
{
	background: 0 0;
	border: none;
	box-shadow: none;
	display: block;
	height: 40px;
	outline: 0;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 0;
	width: 30px;
}
#content .indexMapSearchBox button i
{
	left: 50%;
	margin: -8px 0 0 -8px;
	position: absolute;
}
@media all and (max-width:767px)
{
	.indexMapOptions
	{
		padding: 5px 0;
	}
	.indexMapSearch
	{
		display: table;
		height: auto;
		width: 100%;
	}
	.indexMapSearchBox
	{
		display: block;
		float: none;
		margin: 5px 0;
		width: auto;
	}
}
#content .indexMapMetro,#content .indexMapStreet
{
	display: block;
	width: 100%;
}
#content .indexMapItemType,#content .indexMapMetro input,#content .indexMapMetro select,#content .indexMapStreet input
{
	background: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
/* 	box-shadow: inset 3px 3px 4px rgba(0,0,0,#content .09); */
	box-sizing: border-box;
	color: #000;
	display: block;
	font-size: 15px;
	line-height: 38px;
    overflow: hidden;
    padding-left: 12px;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	width: 100%;
}
#content .indexMapItemType,#content .indexMapMetro select
{
	padding-bottom: 6px;
    padding-top: 6px;
}
#content .indexMapList,#content .indexMapYandex
{
	display: none;
}
#content .indexMapList.active,#content .indexMapYandex.active
{
	display: block;
}
#content .indexMapList
{
	border-top: solid 2px #f7f7f7;
	height: 430px;
}
#content .indexMapList table
{
	width: 100%;
}
#content .indexMapList table thead th
{
	color: #999;
	font-size: 14px;
	font-weight: 400;
	outline: 0;
	padding: 10px 10px 10px 0;
	text-align: left;
	vertical-align: middle;
}
#content .indexMapList table thead th div
{
	outline: 0;
}
#content .indexMapList table thead th.tablesorter-headerUnSorted
{
	cursor: pointer;
}
#content .indexMapList table thead th.tablesorter-headerUnSorted.sorter-false
{
	cursor: default;
}
#content .indexMapList table thead th.tablesorter-headerUnSorted.sorter-false span:after
{
	display: none;
}
#content .indexMapList table thead th.tablesorter-headerUnSorted span:after
{
	content: "";
	margin: -6px 0 0;
	position: absolute;
	right: 2px;
	top: 50%;
}
#content .indexMapList table thead th span
{
	display: inline-block;
	padding: 0 20px 0 0;
	position: relative;
	color: #5F554E;
    font-size: 18px;
    font-weight: bold;
}
#content .indexMapList table thead th.tablesorter-headerAsc span:after,#content .indexMapList table thead th.tablesorter-headerDesc span:after
{
	content: "";
	margin: -2px 0 0;
	position: absolute;
	right: 2px;
	top: 50%;
}
#content .indexMapList table tbody td
{
	color: #000;
	font-size: 18px;
	padding: 5px 5px 5px 0;
	vertical-align: top;
}
#content .indexMapList table tbody td a
{
	text-decoration: none;
	color: #5F554E;
	pointer-events: none;
}
#content .indexMapList table tbody td a:hover
{
	color: #92A93F;
}
@media all and (max-width:767px)
{
	.indexMapList table tbody td.indexMapListMetro
	{
		width: 1px!important;
	}
	.indexMapList table tbody td.indexMapListMetro .metroStation
	{
		display: none;
	}
}
#content .indexMapList table tbody tr+tr td
{
	border-top: solid 1px #e9e9e9;
}
@media all and (max-width:479px)
{
	.indexMapList table thead
	{
		display: none;
	}
	.indexMapList table tbody
	{
		display: block;
	}
	.indexMapList table tbody tr
	{
		display: block;
		padding: 5px 0;
		width: 100%;
	}
	.indexMapList table tbody tr td
	{
		display: block;
		font-size: 18px;
		line-height: 22px;
		padding: 0;
		width: auto;
	}
	.indexMapList table tbody tr td.indexMapListPhone
	{
		font-weight: 700;
		padding-left: 25px;
	}
	.indexMapList table tbody tr+tr td
	{
		border-top: none;
	}
	.indexMapList table
	{
		display: block;
	}
}
#content .indexMapListContent
{
	max-height: 428px;
	overflow: auto;
}
#content .metroStation
{
	font-size: 18px;
	font-weight: 700;
	padding: 0 0 0 27px;
	position: relative;
}
#content .metroStation:before
{
	left: 0;
	margin: -7px 0 0;
	position: absolute;
}
#content .clearFix:after,#content .indexBoxes .box1:after
{
	content: " ";
}
#content .metroStation.colorGreen
{
	color: #44b85c;
}
#content .metroStation.colorRed
{
	color: #ed1b35;
}
#content .metroStation.colorBlue
{
	color: #0078bf;
}
#content .metroStation.colorLightBlue
{
	color: #19c1f3;
}
#content .metroStation.colorBrown
{
	color: #894e35;
}
#content .metroStation.colorOrange
{
	color: #f58631;
}
#content .metroStation.colorPurple
{
	color: #8e479c;
}
#content .metroStation.colorYellow
{
	color: #ffcb31;
}
#content .metroStation.colorGrey
{
	color: #a1a2a3;
}
#content .metroStation.colorLime
{
	color: #b3d445;
}
#content .metroStation.colorTreal
{
	color: #79cdcd;
}
#content .metroStation.colorBlueGrey
{
	color: #acbfe1;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}
.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
.bx-filter-parameters-box-container .ks-cboxtags li label {
    padding: 4px 12px;
}
.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
{
	margin: 0 auto;
	padding: 0 20px;
	width: 1210px;
}
.icon-mBlue,.metroStation.colorBlue:before
{
	background-image: url(img/imageSprite.png);
	background-position: -149px -111px;
	height: 13px;
	width: 19px;
}
.icon-mBlueGrey,.metroStation.colorBlueGrey:before
{
	background-image: url(img/imageSprite.png);
	background-position: -260px -202px;
	height: 13px;
	width: 19px;
}
.icon-mBlueGreySmall,.mapBoxMetro.colorBlueGrey i
{
	background-image: url(img/imageSprite.png);
	background-position: -191px -139px;
	height: 10px;
	width: 14px;
}
.icon-mBlueSmall,.mapBoxMetro.colorBlue i
{
	background-image: url(img/imageSprite.png);
	background-position: -177px -139px;
	height: 10px;
	width: 14px;
}
.icon-mBrown,.metroStation.colorBrown:before
{
	background-image: url(img/imageSprite.png);
	background-position: -222px -202px;
	height: 13px;
	width: 19px;
}
.icon-mBrownSmall,.mapBoxMetro.colorBrown i
{
	background-image: url(img/imageSprite.png);
	background-position: -163px -139px;
	height: 10px;
	width: 14px;
}
.icon-mGreen,.metroStation.colorGreen:before
{
	background-image: url(img/imageSprite.png);
	background-position: -298px -202px;
	height: 13px;
	width: 19px;
}
.icon-mGreenSmall,.mapBoxMetro.colorGreen i
{
	background-image: url(img/imageSprite.png);
	background-position: -149px -139px;
	height: 10px;
	width: 14px;
}
.icon-mGrey,.metroStation.colorGrey:before
{
	background-image: url(img/imageSprite.png);
	background-position: -130px -111px;
	height: 13px;
	width: 19px;
}
.icon-mGreySmall,.mapBoxMetro.colorGrey i
{
	background-image: url(img/imageSprite.png);
	background-position: -135px -139px;
	height: 10px;
	width: 14px;
}
.icon-mLightBlue,.metroStation.colorLightBlue:before
{
	background-image: url(img/imageSprite.png);
	background-position: -339px -174px;
	height: 13px;
	width: 19px;
}
.icon-mLightBlueSmall,.mapBoxMetro.colorLightBlue i
{
	background-image: url(img/imageSprite.png);
	background-position: -187px -111px;
	height: 10px;
	width: 14px;
}
.icon-mLime,.metroStation.colorLime:before
{
	background-image: url(img/imageSprite.png);
	background-position: -241px -202px;
	height: 13px;
	width: 19px;
}
.icon-mLimeSmall,.mapBoxMetro.colorLime i
{
	background-image: url(img/imageSprite.png);
	background-position: -201px -111px;
	height: 10px;
	width: 14px;
}
.icon-mOrange,.metroStation.colorOrange:before
{
	background-image: url(img/imageSprite.png);
	background-position: -279px -202px;
	height: 13px;
	width: 19px;
}
.icon-mOrangeSmall,.mapBoxMetro.colorOrange i
{
	background-image: url(img/imageSprite.png);
	background-position: -205px -139px;
	height: 10px;
	width: 14px;
}
.icon-mPurple,.metroStation.colorPurple:before
{
	background-image: url(img/imageSprite.png);
	background-position: -317px -202px;
	height: 13px;
	width: 19px;
}
.icon-mPurpleSmall,.mapBoxMetro.colorPurple i
{
	background-image: url(img/imageSprite.png);
	background-position: -201px -124px;
	height: 10px;
	width: 14px;
}
.icon-mRed,.metroStation.colorRed:before
{
	background-image: url(img/imageSprite.png);
	background-position: -111px -111px;
	height: 13px;
	width: 19px;
}
.icon-mRedSmall,.mapBoxMetro.colorRed i
{
	background-image: url(img/imageSprite.png);
	background-position: -187px -124px;
	height: 10px;
	width: 14px;
}
.icon-mTreal,.metroStation.colorTreal:before
{
	background-image: url(img/imageSprite.png);
	background-position: -336px -202px;
	height: 13px;
	width: 19px;
}
.icon-mTrealSmall,.mapBoxMetro.colorTreal i
{
	background-image: url(img/imageSprite.png);
	background-position: -173px -124px;
	height: 10px;
	width: 14px;
}
.icon-mYellow,.metroStation.colorYellow:before
{
	background-image: url(img/imageSprite.png);
	background-position: -168px -111px;
	height: 13px;
	width: 19px;
}
.icon-mYellowSmall, .mapBoxMetro.colorYellow i {
    background-image: url(img/imageSprite.png);
    background-position: -121px -139px;
    height: 10px;
    width: 14px;
}
@media all and (max-width:1209px)
{
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 20px;
		width: 1000px;
	}
}
@media all and (max-width:999px)
{
	.showNav .indexMap,.showNav .indexSlider,.showNav .mainFooter,.showNav .pageHeader,.showNav .wrapContent
	{
		left: 280px;
	}
	.showNav .mainNav
	{
		left: 0;
	}
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 20px;
		width: 768px;
	}
}
@media all and (max-width:767px)
{
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 20px;
		width: 480px;
	}
}
@media all and (max-width:479px)
{
	.cardsItemContent,.contentBox,.indexMapListContent,.mainFooterCols
	{
		padding: 0 15px;
		width: auto;
	}
}
