.mega-menu table td .wrap > a{/*transition: color ease 0.3s;*/}
.light-menu-color .mega-menu table td .wrap > a:not(:hover), .light-menu-color .logo-row .top-description, .light-menu-color .logo_and_menu-row .top-btn:not(:hover) > span{color:#fff;}
.light-menu-color .logo_and_menu-row svg:not(.not_fill) path{fill:#fff !important;}
.top-block .top-block-item .personal.top>a{transition:none;}

body .wrapper1.long_banner.with_left_block .header_wrap .line-row{display:none !important;}
body .wrapper1.long_banner .top_big_one_banner .top_slider_wrapp{margin-bottom:0px;}
body .wrapper1.long_banner .drag-block.grey.TIZERS .tizers_block{margin-top:0px;}


/*long banner*/
@media (min-width:992px){
	.wrapper1.long_banner .header_wrap .wrapper_inner, .wrapper1.long_banner .header_wrap .maxwidth-theme, .wrapper1.long_banner .top-block > .maxwidth-theme > .wrapp_block{background: none;}
	.wrapper1.long_banner .header_wrap .top-block{border-bottom-color:transparent;}
	.wrapper1.long_banner .header_wrap .top-block .wrapp_block{position:relative;}
	.wrapper1.long_banner .header_wrap .top-block .wrapp_block:after{/*content:"";display:block;width:100%;height:1px;background: #000;opacity: 0.05;position:absolute;bottom:-14px;*/}
	.wrapper1.long_banner .header_wrap .line-row{border-top-color:transparent;background:#000;opacity:0.1;}
	.wrapper1.long_banner .header_wrap.light-menu-color .line-row{background:#fff;}
	.wrapper1.long_banner .header_wrap .wrapper_inner .logo_and_menu-row:after{content:"";display:block;width:100%;height:1px;background: #000;opacity: 0.05;position:absolute;bottom:0px;opacity:0;}

	.wrapper_inner > .right_block > .middle .maxwidth-theme{padding:0px;}

	.fill_bg_n .wrapper1.long_banner .menu-row.middle-block.bglight, .fill_bg_y .wrapper1.long_banner .menu-row.middle-block.bglight .mega-menu{border-color:transparent;}
	.fill_bg_n .wrapper1.long_banner .menu-row.middle-block.bglight .row .col-md-12:after, .fill_bg_y .wrapper1.long_banner .menu-row.middle-block.bglight .mega-menu .row .col-md-12:after{content:"";display:block;width:100%;height:1px;background: #000;opacity: 0.05;position:absolute;bottom:0px;}
	.wrapper1.long_banner .menu-row.middle-block.bglight .mega-menu, .wrapper1.long_banner .menu-row.middle-block.bglight .right-icons{border-top-color:transparent;}
	.wrapper1.long_banner .menu-row.middle-block.bglight .wrap_icon{border-left-color:transparent;}

	.wrapper1.long_banner .top_big_one_banner{margin-top: -100px;}
	.wrapper1.long_banner .top_big_one_banner .top_slider_wrapp .flexslider .slides > li, .wrapper1.long_banner .top_big_one_banner .top_slider_wrapp .flexslider{height:631px;}
	.wrapper1.long_banner .top_big_one_banner .top_slider_wrapp .flexslider .slides > li td{height:531px;}
	.wrapper1.long_banner .top_slider_wrapp .flexslider .slides > li{background-size: cover;}
	.wrapper1.long_banner .flexslider .wrapper_inner{padding-top: 100px;}
	.wrapper1.long_banner .flexslider .banner_title{padding-top: 0px;}
}

@media (max-width: 1420px){ 
.BIG_BANNER_INDEX .top_slider_wrapp .flexslider .flex-viewport,
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides,
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides>li, 
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides>li .wrapper_inner,
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides>li table,
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides>li tbody,
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides>li td, 
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides>li tr,
.BIG_BANNER_INDEX .top_big_banners.short_block .top_slider_wrapp .flexslider .slides>li, 
.BIG_BANNER_INDEX .top_big_banners.short_block .top_slider_wrapp .flexslider .slides>li td
{
    height: 100%;
}
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides>li{background-size:cover;}
.BIG_BANNER_INDEX .top_big_one_banner .top_slider_wrapp .flexslider .slides .main_info{background-image:none !important;}
}
@media screen and (min-width: 992px) and (max-width: 1420px){
    .BIG_BANNER_INDEX .top_big_banners.short_block  .top_slider_wrapp .flexslider
    {
        height: 35vw;
    }
}
@media screen and (max-width: 991px), projection and (max-width: 991px), tv and (max-width: 991px), handheld and (max-width: 991px){
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider
    {
        height: 35vw;
    }
}
@media screen and (max-width: 767px), projection and (max-width: 767px), tv and (max-width: 767px), handheld and (max-width: 767px){
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider
    {
        height: 35.5vw;
    }
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider .slides li td.text.left .banner_text{
        text-align: left;
        margin-left: 10px;
    }
}
@media screen and (max-width: 600px), projection and (max-width: 600px), tv and (max-width: 600px), handheld and (max-width: 600px){
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider
    {
        height: 35vw;
    }
}
@media screen and (max-width: 468px), projection and (max-width: 468px), tv and (max-width: 468px), handheld and (max-width: 468px){
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider
    {
        height: 34.6vw;
    }
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider .slides li td.text.left .banner_text{
        text-align: left;
        margin-left: 9px;
    }
}
@media screen and (max-width: 417px), projection and (max-width: 417px), tv and (max-width: 417px), handheld and (max-width: 417px){
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider
    {
        height: 34.4vw;
    }
}
@media screen and (max-width: 375px), projection and (max-width: 375px), tv and (max-width: 375px), handheld and (max-width: 375px){
    .BIG_BANNER_INDEX .top_slider_wrapp .flexslider
    {
        height: 33.5vw;
    }
}
