.colored_theme_bg,
.colored_theme_bg_before:before,
.colored_theme_hover_bg_before:hover:before,
.colored_theme_bg_before:before,
.colored_theme_hover_bg:hover,
.colored_theme_hover_bg-block:hover .colored_theme_hover_bg-el,
.video-block .image .play:after,
.landings-list__item--active,
.item-accordion-wrapper.opened .accordion-head:before {
  background-color: #d2334d;
  border-color: #d2334d;
}
.colored_theme_bg_hovered_hover:hover {
  background-color: #d84c63;
}
.colored_theme_hover_bg-block:hover .colored_theme_hover_bg-el-svg svg path {
  fill: #d2334d;
}
.colored_theme_n_hover_bg-svg-stroke:not(:hover) svg * {
  stroke: #d2334d !important;
}
.colored_theme_hover:hover {
  background-color: #d2334d !important;
}
.EXTENDED .blog-comment-meta .rating-vote a.active * {
  fill: #d2334d !important;
}
.EXTENDED .blog-comment-meta a {
  color: #d2334d !important;
}
a.scroll-to-top.ROUND_COLOR,
a.scroll-to-top.RECT_COLOR {
  background-color: #d2334d;
}
a.scroll-to-top.ROUND_COLOR:hover,
a.scroll-to-top.RECT_COLOR:hover {
  background-color: #b2777e;
}
.cluster_custom svg .cls-cluster2,
.cls-marker2 {
  fill: #d2334d !important;
}
.color-theme-hover:hover,
.color-theme-hover:hover * {
  color: #d2334d !important;
}
#main .basket_hover_block .tabs_content .foot > .pull-left:hover .svg-inline-closes * {
  fill: #d2334d !important;
}
#main .basket_hover_block .tabs_content .items .item .remove-cell:hover * {
  fill: #d2334d !important;
}
.mega_fixed_menu .right_block .contact_wrap .person_wrap .counters .count {
  background-color: #d2334d;
}
.uploader:hover {
  background: #d2334d;
  border-color: #d2334d;
}
.uploader:hover .resetfile:before {
  background-color: #d84c63;
}
.basket_print i {
  background-color: #c22942;
}
.rss_feed_icon {
  background: #cb2b50;
  color: #000;
}
.start_promo .item i.title a,
.start_promo .item i.price a,
.start_promo .item i.title span,
.start_promo .item i.price span,
.start_promo .item span.main_wrap i:after,
.start_promo .item p span,
.wrap_tizer .wrap_outer,
.wrap_tizer .wrap_outer .outer_text,
.wrap_tizer .wrap_outer .inner_text {
  background: #d22e48;
}
.start_promo .item i.title span,
.start_promo .item i.price span {
  box-shadow: -4px 1px 0px 4px #d22e48, 4px 1px 0px 4px #d22e48;
}
.start_promo .item i.price span {
  box-shadow: -4px 0px 0px 4px #d22e48, 4px 0px 0px 4px #d22e48;
}
.module-map .infoBox .close_info:hover {
  background-color: #cb2b50;
}
#header ul.menu.full > li.search_row #search-submit-button:hover,
#header ul.menu.full > li.search_row #search-submit-button.hover {
  border: transparent;
}
#header .catalog_menu ul.menu > li,
#header ul.menu.adaptive:not(.opened) li.menu_opener,
#header ul.menu.full.opened li:not(.search_row):hover,
#header ul.menu.full.opened li.current {
  border-bottom: 1px solid #9c212d;
}
#header .catalog_menu ul.menu > li:not(.current):not(.stretch):hover {
  border-bottom: 1px solid #a0223b;
  border-right: 1px solid #a0223b;
}
#header ul.menu.full.opened li:not(.search_row):hover,
#header ul.menu.full.opened li.current {
  border-top: 1px solid #d22e48;
}
#header .catalog_menu ul.menu > li.current > a {
  color: #fff;
  border-left: 1px solid #cf2c47;
}
#header .catalog_menu ul.menu > li {
  border-right: 1px solid #9c212d;
}
.header-cart-block .cart span.icon i {
  background-position: 0px -84px;
}
ul.menu li .child .child_wrapp,
.authorization-cols .form-block {
  border-top: 2px solid #cb2b50;
}
.catalog_detail ul.tabs.main_tabs {
  border-bottom: 2px solid #cb2b50;
}
ul.menu li b.space,
.breadcrumbs .drop b.space,
.hint .triangle {
  border-bottom: 6px solid #cb2b50;
}
.basket_button,
.basket_button span,
.button30,
.button30 span,
.popup .soc-avt .row a {
  color: #fff;
}
.breadcrumbs__item:hover .breadcrumbs__link .breadcrumbs__item-name {
  color: #d2334d;
}
.forgot:hover {
  color: #d2334d !important;
}
.delivery_note:hover .title {
  color: #d2334d;
}
.delivery_note:hover .svg * {
  fill: #d2334d;
}
.basket_hover_block .tabs_content .buttons .basket_back a:hover {
  background: #d84c63;
}
#main .basket_hover_block .cart-empty .cart-empty__info .btn:hover {
  background: #d84c63;
}
#bx-soa-order-form .btn.btn-default {
  background: #d2334d;
  border-color: #d2334d;
}
#bx-soa-order-form .btn.btn-default:hover {
  background: #d84c63;
  border-color: #d84c63;
}
#mobilefilter .bx_filter .bx_filter_button_box .bx_filter_parameters_box_container {
  background: #d2334d;
  border-color: #d2334d;
}
.sidebar_menu .menu_top_block.catalog_block ul.dropdown li.v_bottom .parent:hover .svg-inline-right {
  background: #d2334d !important;
}
.sidebar_menu .menu_top_block.catalog_block ul.dropdown li.v_bottom .parent:hover .svg-inline-down {
  background: #d2334d !important;
}
ul.tabs li.cur .triangle,
.view-list .view-header i.triangle {
  border-top: 5px solid #c22942 !important;
}
.basket_button.add span {
  background-position: 0px -6px;
}
.basket_button.read_more span {
  background-position: 1px -448px;
}
.basket_button.added span {
  background-position: 0px -45px;
}
.front_slider_wrapp .extended_pagination > li.active i.triangle {
  border-right-color: #c22942;
}
.catalog_detail .extended_info a.compare_item i {
  background-position: -32px -65px;
}
.catalog_detail .extended_info a.wish_item i {
  background-position: 3px -72px;
}
.display_list a.compare_item i {
  background-position: -32px -3px;
}
.display_list a.wish_item i {
  background-position: -3px -2px;
}
.display_list a.compare_item:hover i,
.display_list a.compare_item.added i {
  background-position: -32px -65px;
}
.display_list a.wish_item:hover i,
.display_list a.wish_item.added i {
  background-position: -3px -63px;
}
.popup .form .form_head {
  border-bottom-color: #cb2b50;
}
.item_slider .thumbs i.triangle {
  border-bottom: 5px solid #cb2b50;
}
blockquote:before {
  background-color: #cb2b50;
}
.module-gallery-list li .fancy_hover:hover {
  border: 2px solid #cb2b50;
}
.smartfilter .bx_ui_slider_track .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar_V:after {
  background: #d2334d;
}
.catalog_block .catalog_item .basket_button.read_more span {
  background-position: 1px -408px;
}
.catalog_block .catalog_item .basket_button.to-cart span {
  background-position: 0 -7px;
}
.catalog_block .catalog_item:hover .basket_button span {
  color: #fff;
  background-position: 0px -87px;
}
.catalog_block .catalog_item:hover .basket_button.read_more span {
  background-position: 1px -448px !important;
}
.catalog_item .basket_button.in-cart span,
.basket_button.in-cart span {
  background-position: 0px -127px !important;
}
.catalog_item:hover .item-title a,
.item:hover .info a,
.item:hover .name a,
.item:hover .title a,
.item .title a:hover {
  color: #c22942;
}
.style-switcher .left-block .section-block .subitems .subsection-block.active:before {
  background-color: #d2334d;
}
.style-switcher .right-block .action_block .header-inner:hover {
  color: #d2334d;
}
.style-switcher .right-block .action_block .header-inner:hover svg path {
  fill: #d2334d;
}
.style-switcher .presets .presets_subtabs .presets_subtab.active:after,
.style-switcher .presets .presets_block .item.active .inner,
.presets .presets_block .conf .preset-block .checked,
.dynamic_left_side .cl:hover,
.style-switcher > .close_block .svg:hover {
  background: #d2334d;
}
.style-switcher .contents.wizard .variant.active .checkbox {
  border-color: #d2334d;
}
@media (min-width: 501px) and (max-width: 700px) {
  .style-switcher > .close_block .svg {
    background: #d2334d;
  }
}
.presets .presets_block .conf .preset-block.current .image {
  box-shadow: 0px 0px 0px 1px inset #d2334d;
  border-color: #d2334d;
}
.contents.parametrs .dynamic_left_side .items_inner .bottom_description a svg path,
.colored_theme_svg svg path,
.colored_theme_svg,
.muted:not(.ncolor):hover svg path {
  fill: #d2334d;
}
.more-item-info.opened,
.more-item-info:hover,
.catalog_item:hover .more-item-info {
  background-color: #d2334d;
}
.more-item-info.opened,
.more-item-info:hover,
.catalog_item:hover .more-item-info {
  border-color: #d2334d;
}
.item_block.slide:hover .arrow-block {
  background-color: #d2334d;
  border-color: #d2334d;
}
#mobilemenu .expanded>.dropdown .menu_back:hover .svg-inline-back_arrow * {
  fill: #d2334d;
}
.catalog_item:hover .basket_button.added span {
  color: #fff;
}
.bx_filter_container #modef .triangle,
.left_block .internal_sections_list .child_wrapp .triangle {
  border-right: 6px solid #cb2b50;
}
#order_form_div .sale_order_table .ps_logo img:hover,
#order_form_div .sale_order_table .ps_logo input[type=radio]:checked + label img,
#order_form_div .sale_order_table.delivery label:hover img,
#order_form_div .sale_order_table.delivery input[type=radio]:checked + label img,
#order_form_div div.ps_logo.selected img,
#order_form_div .account label:hover img,
#order_form_div .account img.active {
  border: 2px solid #cb2b50;
}
.front_slider_wrapp .extended_pagination > li.active span,
a.b-share-popup__item:hover .b-share-popup__item__text {
  color: #fff !important;
}
ul.tabs li.cur span,
ul.tabs li.cur:hover span,
.front_slider_wrapp a.read_more {
  color: #fff;
}
a i.arrow b {
  background-position: -36px 0px;
}
.top-h-row .search #search-submit-button:hover i,
.top-h-row .search #search-submit-button.hover i {
  background-position: top center;
}
.catalog_detail a.compare_item:hover .icon i {
  background-position: -32px -65px;
}
.catalog_detail a.wish_item:hover .icon i {
  background-position: 2px -45px;
}
.button30.ask_question span.show_form,
.button30.ask_question span.hide_form {
  background-position: 5px -605px;
}
.button30.ask_question span.hide_form {
  color: #000;
}
.button30.ask_question span.hide_form:hover {
  color: #fff;
}
.question-list .q .ic b {
  background-position: -38px -188px;
}
.question-list .q.op .ic b {
  background-position: -8px -188px;
}
.number_list a.current span {
  color: #fff !important;
}
.basket_button span,
.compare_button span {
  background-position: 0px -87px;
}
.bx_filter_container_title .hint.active .hint_icon,
.bx_filter_container_title .hint.active .hint_icon,
.bx_filter_container_title .hint.active .hint_icon:hover,
#header .basket_fly .opener .basket_count:not(.empty) .count {
  color: #fff;
}
.left_block .internal_sections_list li.item:hover > a,
.left_block .internal_sections_list li.item.cur > a {
  color: #fff;
}
.left_block .internal_sections_list li * {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a.compare_item i {
  background-position: -31px -1px;
}
a.wish_item i {
  background-position: -2px -1px;
}
a.compare_item:hover i {
  background-position: -31px -33px;
}
a.wish_item:hover i {
  background-position: -2px -32px;
}
a.compare_item.added i {
  background-position: -31px -63px;
}
a.wish_item.added i {
  background-position: -2px -62px;
}
.module_products_list .basket_button.to-cart span {
  background-position: 0 -7px;
}
.module_products_list .basket_button.to-cart:hover span {
  background-position: 0px -87px;
}
.basket_button.in-cart span {
  background-position: 0px -127px;
}
.popup .close:hover i,
.popup .grey .close i,
.popup-window-close-icon.popup-window-titlebar-close-icon:hover:after {
  background-position: -1px -59px;
}
.card_popup_frame.popup .but_row a.to_basket .icon i {
  background-position: -5px -170px;
}
.soc-serv-main .button30 span,
.reviews-expanded .button30.add_review span,
.catalog_detail .basket_button.one_click span,
.button30.review_preview span,
.popup .grey .pop-up-title {
  color: #000;
  text-shadow: 0 1px 0px rgba(255,255,255,0.5);
  -moz-text-shadow: 0 1px 0px rgba(255,255,255,0.5);
  -o-text-shadow: 0 1px 0px rgba(255,255,255,0.5);
  -webkit-text-shadow: 0 1px 0px rgba(255,255,255,0.5);
}
.module-order-history .status.delivered {
  color: #fff;
}
.jobs_wrapp .item a:not(.opened):hover .icon i,
.staff_wrapp .section .section_title:not(.opened):hover .icon i {
  background-position: -31px -33px;
}
.jobs_wrapp .item a.opened:hover .icon i,
.staff_wrapp .section .section_title.opened:hover .icon i {
  background-position: 0 -34px;
}
.button30.add_review span {
  background-position: 4px -286px;
}
.button30.send_review span {
  background-position: 4px -365px;
}
.card_popup_frame.popup .but_row a.to_delay .icon i {
  background-position: -48px -257px;
}
.compare_button span {
  background-position: -32px -64px;
}
#header .basket_fly .opener .basket_count .icon i {
  background-position: -7px -89px;
}
#header .basket_fly .opener .basket_count.empty:hover .icon i {
  background-position: -7px -47px;
}
#header .basket_fly .opener .basket_count.empty .icon i {
  background-position: -7px -5px;
}
#header .basket_fly .opener .wish_count .icon i {
  background-position: -48px -424px;
}
#header .basket_fly .opener .wish_count:hover .icon i {
  background-position: -48px -383px;
}
ul.menu li a {
  color: #000;
}
.catalog_menu ul.menu li a {
  color: #fff;
}
a i.arrow.down b {
  background-position: -36px -35px;
}
.catalog_item:hover .basket_button span {
  color: #fff;
}
ul.specials_slider .basket_button span {
  background-position: 0 -7px;
}
ul.specials_slider .basket_button:hover span,
ul.specials_slider li:hover .basket_button span {
  background-position: 0px -87px;
}
ul.specials_slider  .basket_button.read_more span {
  background-position: 1px -408px;
}
ul.specials_slider li:hover .basket_button.read_more span {
  background-position: 1px -448px !important;
}
#header .basket_fly .opener .wish_count.empty:hover .icon i {
  background-position: -48px -341px;
}
#header .basket_fly .opener .wish_count.empty .icon i {
  background-position: -48px -299px;
}
.flex-direction-nav li:hover a,
.flex-direction-nav li:hover .js-click {
  background-color: #d2334d;
}
.colored-svg {
  stroke: #d2334d;
}
#basket-root .basket-items-list-header-filter-item.active:before {
  background-color: #d2334d;
}
#basket-root .basket-item-scu-item:hover,
#basket-root .basket-item-scu-item.selected,
#basket-root .basket-item-scu-item.not-available:hover {
  border-color: #d2334d;
}
#basket-root .basket-items-list .basket-item-block-info .basket-items-list-item-warning-container .alert.alert-warning a[data-entity="basket-item-remove-delayed"]:before {
  background-color: #d2334d;
}
#basket-root .basket-item-property-scu-text .basket-item-scu-item.selected,
.basket-coupon-alert .close-link:hover:after,
.basket-coupon-alert .close-link:hover:before,
#basket-root .basket-item-amount-btn-plus:hover:before,
#basket-root .basket-item-amount-btn-plus:hover:after,
.basket-item-amount-btn-minus:hover:after {
  background-color: #d2334d;
}
#basket-root .basket-checkout-section .btn.btn-default:hover,
body #basket-root .basket-checkout-section .btn.btn-default:active,
body #basket-root .basket-checkout-section .btn.btn-default:focus {
  border-color: #d84c63;
  background-color: #d84c63;
}
#basket-root #basket-warning {
  border-color: #d2334d;
}
#basket-root .basket-checkout-section .btn-default.basket-btn-checkout:not(:hover),
#basket-root .basket-checkout-section .btn-default.basket-btn-checkout:not(:active),
#basket-root .basket-checkout-section .btn-default.basket-btn-checkout:not(:focus) {
  background-color: #d2334d;
  border-color: #d2334d;
}
.sale-products-gift .product-item-scu-item-text-block:hover,
.sale-products-gift .product-item-scu-item-color-block:hover,
.sale-products-gift .product-item-scu-item-text-container.selected .product-item-scu-item-text-block,
.sale-products-gift .product-item-scu-item-color-container.selected .product-item-scu-item-color-block {
  outline-color: #d2334d;
}
.sale-products-gift .product-item-small-card .product-item-container .product-item .product-item-button-container .btn:not(:hover) {
  color: #d2334d;
  border-color: rgba(210,51,77,0.35);
}
.sale-products-gift .product-item-small-card .product-item-container .product-item .product-item-button-container .btn:hover {
  background-color: #d2334d;
  border-color: #d2334d;
}
#bx-soa-order .bx-soa-section .bx-soa-section-title:before {
  background-color: #d2334d;
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag,
#bx-soa-order-form .bx-soa-pickup-list-item:not(.bx-selected) .bx-soa-pickup-l-item-btn .btn.btn-default:not(:hover) {
  border-color: rgba(210,51,77,0.35);
  color: #d2334d;
}
#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left {
  border-color: rgba(210,51,77,0.35);
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag:hover {
  background-color: #d2334d;
  color: #fff;
}
#bx-soa-order .bx-soa .form-group .radio-inline.checked label:before,
#bx-soa-order .bx-soa .form-group .radio-inline label:hover:before,
#bx-soa-order .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container:before,
#bx-soa-order .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:before {
  background-color: #d2334d;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container,
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container,
#bx-soa-order .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container .bx-soa-pp-company-image,
#bx-soa-order .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container .bx-soa-pp-company-image {
  border-color: #d2334d;
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:before,
#bx-soa-order .bx-soa-pp-desc-container .checkbox label:hover:before,
#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:before {
  background-color: #d2334d;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-smalltitle,
#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left {
  color: #d2334d;
}
div[class*=bx-sls] .dropdown-block:hover .bx-ui-sls-clear:before,
div[class*=bx-sls] .dropdown-block:hover .bx-ui-sls-clear:after,
div[class*=bx-sls] .bx-ui-sls-clear:hover:before,
div[class*=bx-sls] .bx-ui-sls-clear:hover:after,
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover:before,
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover:after {
  background-color: #d2334d !important;
}
.set_block .item .item_inner .image .quantity,
body .sale_order_full_table:first-of-type:before {
  background-color: #d2334d;
}
@media all and (max-width: 950px) {
  .header_wrap.colored #header .center_block .main-nav {
    background: #d22e48;
  }
}
@media all and (max-width: 768px) {
  body .color-controls .flex-control-paging li a.flex-active,
  body .color-controls .flex-control-paging li:hover a:not(.touch) {
    background: #d22e48;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWFlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhmYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#d22e48 0%,#be283c 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d22e48),color-stop(100%,#be283c));
    background: -webkit-linear-gradient(top,#d22e48 0%,#be283c 100%);
    background: -o-linear-gradient(top,#d22e48 0%,#be283c 100%);
    background: -ms-linear-gradient(top,#d22e48 0%,#be283c 100%);
    background: linear-gradient(to bottom,#d22e48 0%,#be283c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@bcolor_00aae2',endColorstr='@bcolor_008fc7',GradientType=0);
  }
}
@media all and (max-width: 600px) {
  #header ul.menu.full.opened > li,
  .has_menu #header .center_block .main-nav {
    background-color: #d22e48;
  }
  .has_menu #header .center_block .main-nav:hover {
    background: #bf7986 none repeat scroll 0 0;
  }
  #header ul.menu.full.opened li.current {
    background: #be283c;
  }
}
@media all and (max-width: 550px) {
  body #footer .footer_inner .line {
    border-top: 4px solid #cb2b50;
  }
  .basket_wrapp .empty_cart:not(.bcart) .wraps_icon_block.basket .count span,
  .basket_wrapp .basket_empty .wraps_icon_block.basket .count span {
    color: #FFF;
    background: #d22e48;
  }
}
#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li:hover>a,
#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li.opened>a,
#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li.current > a {
  background: #bf7986;
}
#header .wrapper_middle_menu.wrap_menu ul.menu.opened > li {
  background: #c22942;
}
body .basket-link .js-basket-block .count,
.top_slider_wrapp .slides .wraps_buttons .wrap.added {
  background: #d2334d;
}
.button.transparent,
.h_color_white .header_wrap .menu > li.current > a span,
.h_color_white.wrapper #header ul.menu li .child .child_wrapp,
.m_color_white.wrapper #header ul.menu li .child .child_wrapp,
.basket_normal .popup.card_popup_frame .basket_popup_wrapp,
.basket_sort ul.tabs li.cur div,
.smartfilter .bx_ui_slider_track .bx_ui_slider_handle,
.bx_filter .button,
.bx_filter_vertical input[type="checkbox"]:checked + label.sku,
.sku_props .bx_item_detail_size ul li.active,
.bx_size_scroller_container .bx_size ul li.bx_active,
.bx_filter .bx_filter_param_label.active .bx_filter_param_btn,
.bx_catalog_item_scu .bx_item_detail_scu ul li.active span.cnt,
.item_slider .thumbs li.current,
.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-left-column,
.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-center-column,
.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-right-column,
.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-left-column,
.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-center-column,
.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-right-column,
.bx_element input[type=radio]:checked + label .bx_logotype,
.bx_element label.selected .bx_logotype {
  border-color: #d2334d;
}
a,
.link,
.button.transparent,
.button.transparent:hover,
.specials_slider_wrapp ul.tabs > li span,
.basket_wrapp .basket_block .link:hover + .wraps_icon_block + .text .title,
.stores .stores_list .item a span,
.phones .order_wrap_btn,
.footer_bottom .all_menu_block ul li a:hover,
.footer_bottom .submenu_top .menu_item a:hover,
.avtorization-call.enter:hover span,
.top-h-row .h-user-block a:hover,
ul.menu .child li.menu_item a,
#header .catalog_menu ul.menu > li.current > a,
ul.menu .child .depth3 a,
ul.menu .child li.menu_title a:hover,
#header ul.menu li .child.submenu .child_wrapp a:not(.title),
.img_block_capcha .reload,
.h_color_white .center_block .menu.full > li:hover > a,
.m_color_white #header .wrapper_middle_menu .menu.bottom > li:hover > a,
.m_color_white #header .wrapper_middle_menu .menu.bottom > li.hover > a,
body #header ul.menu li .child.line .child_wrapp > a:hover,
.basket_sort ul.tabs li .wrap_li > span *,
.basket_sort ul.tabs li .wrap_li > span,
.left_block .internal_sections_list .child_wrapp .child li.cur > a,
.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur,
.left_block .internal_sections_list .child_wrapp a:hover,
.breadcrumbs a:hover span,
.tabs-head li.current span,
.reviews-post-reply-buttons a:hover,
h4.hover,
.button.transparent.white:hover,
.button.white_bg,
.item .child_container .child_wrapp .menu_item.current a,
.item .child_container .child_wrapp .menu_item:hover a {
  color: #c22942;
}
button.button,
input.button,
.button,
#header ul.menu.full.opened li:not(.search_row):hover,
#header ul.menu.full > li.search_row #search-submit-button:hover,
table.title-search-result td.title-search-all a .icon,
.flex-direction-nav li:hover,
.flex-control-nav li .flex-active:before,
.flex-control-nav li a:hover:before,
.top_slider_wrapp .flex-direction-nav li:hover,
.like_icons .wish_item.added,
.like_icons .compare_item.added,
.light .stores .all_map,
.block_wr.dark,
.header_wrap #header .middle-h-row .logo_wrapp .logo a,
.h_color_colored .header_wrap #header,
.registraion-page .top p:after,
.has_menu.m_color_colored #header .catalog_menu,
.module-cart .remove-cell a:hover,
.cart_shell .remove-cell a:hover,
.bx_item_set_hor .bx_item_set_hor_item a.remove,
.bx_filter .bx_filter_parameters_box_title:before,
.bx_filter_vertical input[type="checkbox"] + label:before,
.filter input[type="checkbox"] + label:before,
.filter input[type="radio"] + label:before,
.bx_filter label.pal:hover .bx_filter_param_btn,
.bx_filter .bx_filter_param_label.active .bx_filter_param_btn,
.bx_filter_vertical input[type="checkbox"]:checked + label.sku,
.left_block .internal_sections_list li.cur,
.left_block .internal_sections_list li:hover,
.left_block .internal_sections_list .title .inner_block:hover:before,
.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur:before,
.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item:hover:before,
.left_block .internal_sections_list .child_wrapp ul.child li.cur:after,
.left_block .internal_sections_list .child_wrapp ul.child li:hover:after,
body #content .props_list tr td > span:before,
body #content .props_list tr td > .txt:before,
.module-pagination .nums .cur,
.more_text_ajax:before,
.captcha_reload:before,
.sku_props .bx_item_detail_size ul li.active,
.bx_size_scroller_container .bx_size ul li.bx_active,
.bx_catalog_item_scu .bx_item_detail_scu ul li.active span:not(.cnt_item),
.ik_select_list .ik_select_list_inner ul li.ik_select_active,
.bx_filter_select_popup ul li label.selected,
.filter_opener.opened,
.wr_scrollbar .scrollbar .handle,
a i.arrow,
.popup-window-close-icon.popup-window-titlebar-close-icon:hover,
.bx_kit_item .bx_kit_item_add,
.catalog_detail .offers_table td.opener:hover .opener_icon,
.opener_icon:hover,
.char_name .hint .icon:hover,
.char_name .hint.active .icon,
.location-block-wrapper .bx-sls .bx-ui-sls-clear:before,
h4:hover .opener_icon,
.bg_block:before,
#order_form_div input[type="submit"],
.module-order-history .item_name:hover .icon,
.module-order-history .item_name:hover .icon,
.faq.list .item .q:hover .opener_icon,
.jobs_wrapp .item .name tr:hover .opener_icon,
.owl-carousel.owl-theme.owl-bg-nav .owl-nav button:hover:not(.disabled) {
  color: #FFF;
  background: #d22e48;
}
.bigs .flex-direction-nav li {
  color: #FFF;
  background: #d22e48;
}
.btn.btn-default {
  background-color: #d2334d;
  border-color: #d2334d;
  color: #ffffff;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background-color: #d84c63;
  border-color: #d84c63;
}
.btn.btn-default.white:not(.grey) {
  color: #d2334d !important;
  border: 1px solid #d2334d;
  background: #ffffff;
}
.btn.btn-default.white:hover,
.btn-default.white:active,
.btn-default.white:focus {
  color: #ffffff !important;
  border-color: #d2334d;
  background: #d2334d;
}
.btn.btn-default.white.white-bg:hover,
.btn-default.white.white-bg:active,
.btn-default.white.white-bg:focus {
  color: #d2334d !important;
  border-color: #d2334d;
  background: #fff;
}
.btn.btn-primary {
  background-color: #00b290;
  border-color: #00b290;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #30c4a8;
  border-color: #30c4a8;
}
.btn.btn-success {
  background-color: #84bc29;
  border-color: #84bc29;
}
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus {
  background-color: #9dca53;
  border-color: #9dca53;
}
.btn.btn-info {
  background-color: #0ca9e3;
  border-color: #0ca9e3;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus {
  background-color: #39baec;
  border-color: #39baec;
}
.btn.btn-warning {
  background-color: #f38b04;
  border-color: #f38b04;
}
.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning:focus {
  background-color: #f8a132;
  border-color: #f8a132;
}
.btn.btn-danger {
  background-color: #dc130d;
  border-color: #dc130d;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger:focus {
  background-color: #e63f3a;
  border-color: #e63f3a;
}
.btn.btn-transparent {
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  color: #000000;
}
.btn.btn-transparent:hover,
.btn.btn-transparent:active,
.btn.btn-transparent:focus {
  background-color: #d84c63;
  border-color: #d84c63;
}
.btn.btn-transparent:hover {
  color: #ffffff;
}
.btn.btn-responsive-nav {
  background-color: #d2334d;
}
.btn.btn-responsive-nav:hover {
  color: #d2334d;
  border: 1px solid #d2334d;
  background-color: #ffffff;
  padding: 4px 7px 2px;
}
.btn.btn-link {
  color: #d2334d;
  border-color: rgba(210,51,77,0.35);
}
.btn.btn-link:hover {
  color: #d84c63;
  border-color: transparent;
}
.btn.btn-link:active {
  color: #932033;
}
.btn.btn-default.wc.vert .fa {
  background-color: #d2334d;
}
.btn.btn-default.wc.vert:hover .fa {
  background-color: #d84c63;
}
.btn.btn-transparent-border:hover {
  background-color: #d2334d;
  border: 1px solid #d2334d;
}
.btn.btn-transparent-border-color {
  border-color: rgba(210,51,77,0.35);
  color: #d2334d;
}
.btn.btn-transparent-border-color:hover {
  background-color: #d2334d;
  border-color: #d2334d;
}
@media (max-width: 767px) {
  .top_slider_wrapp.view_2 .btn.btn-transparent-border {
    border-color: rgba(210,51,77,0.35);
    color: #d2334d;
  }
  .top_slider_wrapp.view_2 .btn.btn-transparent-border:hover {
    background-color: #d2334d;
    border-color: #d2334d;
  }
  .top_slider_wrapp.view_2 .btn.btn-default.white:not(:hover) {
    border-color: rgba(210,51,77,0.35);
    color: #d2334d;
    color: #d2334d !important;
  }
  .top_slider_wrapp.view_2 .btn.btn-default.white:hover {
    background-color: #d2334d;
    border-color: #d2334d;
  }
  .top_slider_wrapp.view_2 .btn.btn-lg.white-border:not(:hover) {
    border-color: rgba(210,51,77,0.35);
    color: #d2334d;
    color: #d2334d !important;
  }
  .top_slider_wrapp.view_2 .btn.btn-lg.white-border:hover {
    background-color: #d2334d;
    border-color: #d2334d;
  }
}
.half_block.top_big_banners .btn.btn-transparent-border:not(:hover) {
  color: #d2334d;
  border-color: #d2334d;
}
.catalog_section_list .separator {
  color: rgba(210,51,77,0.35);
}
.btn-inline {
  color: #d2334d;
}
.btn-inline.black:hover {
  color: #d2334d;
}
.btn-inline.rounded:hover i {
  background: #d2334d;
}
.popup-window-content-white .popup-window-buttons .btn,
.basket-icons-wrapper__btn .btn.in-cart,
.basket-icons-wrapper__btn .btn.in-subscribe {
  background-color: #d2334d;
  border-color: #d2334d;
}
.popup-window-content-white .popup-window-buttons .btn:hover,
body .item:hover .cost .icons-basket-wrapper .btn,
.item .icons-basket-wrapper .btn.in-cart,
.basket-icons-wrapper__btn:hover .btn.in-cart,
.basket-icons-wrapper__btn:active .btn,
.basket-icons-wrapper__btn:focus .btn,
.item .icons-basket-wrapper .btn.in-subscribe {
  background-color: #d84c63;
  border-color: #d84c63;
}
._active .section-gallery-wrapper__item-nav:before {
  background-color: #d2334d;
}
.basket-icons-wrapper .like_icons > div span.in {
  border-color: #d2334d;
}
.basket-icons-wrapper .like_icons > div span:hover {
  border-color: #d84c63;
}
body .fa.big-icon {
  background: #d2334d;
}
body .fa.big-icon.grey {
  color: #d2334d;
  background: #efefef;
}
.icon-text {
  color: #fff;
  background: #d2334d;
}
.icon-text .fa {
  color: #fff;
}
.icon-text.grey {
  color: #222;
  background: #efefef;
}
.icon-text.grey .fa {
  color: #d2334d;
}
.introtext {
  border-bottom-color: #d2334d;
}
.preview-text-detail .colored_line {
  background-color: #d2334d;
}
.sort_display a.current {
  background-color: #d2334d;
}
.view_sale_block .quantity_block .values .item {
  background-color: #d2334d;
}
footer .info .email a:hover {
  color: #d2334d;
}
.logo.colored svg .icon-path,
.svg.colored * {
  fill: #d2334d;
}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a:before {
  background-color: #d2334d;
}
.bx_soc_comments_div .bx-catalog-tab-list1 li.active a {
  color: #d2334d;
}
.bx_soc_comments_div .bx-catalog-tab-list1 li.active a svg path {
  fill: #d2334d;
}
#mobileheader .mobileheader-v2 {
  background: #d2334d;
}
#mobilemenu .menu ul>li.selected a:before {
  background: #d2334d;
}
#mobilemenu .contacts a:hover {
  color: #d2334d;
}
#mobilemenu .menu>ul>li.counters .count {
  background: #d2334d;
}
#headerfixed .menu-block.rows:hover {
  background-color: #d2334d;
}
#headerfixed .menu-block .navs ul li.active > a,
#headerfixed .menu-block .navs ul li a:hover,
#headerfixed .menu-block .navs ul li a:focus {
  color: #d2334d;
}
.top-block.colored {
  background: #d2334d;
}
.top-block .social-icons li a:hover:before {
  background-color: #d2334d;
}
.top-block .top-block-item  .inline-search-show:hover>span {
  color: #d2334d;
}
.logo.colored img,
header .line-row,
#mobileheader .logo.colored img {
  background-color: #d2334d;
}
.logo-row .top-callback .phone .fa,
.logo-row .top-callback .email .fa {
  background-color: #d2334d;
}
.logo-row .top-callback .email,
.logo-row .top-callback .email a:hover {
  color: #d84c63;
}
.inline-search-block.fixed.big .search .close-block:hover .close-icons {
  background-color: #d84c63;
}
.menu-row.bgcolored .menu-only {
  background: #d2334d;
}
.wrapper1:not(.light-menu-color) .header_wrap:not(.light-menu-color) .logo_and_menu-row .wrap_icon .top-btn:hover .title {
  color: #d2334d;
}
.search-tags-cloud .tags a:hover {
  background: #d2334d;
}
.logo.colored a img {
  background-color: #d22e48;
}
.dark-color:hover,
a.colored,
.colored,
body#main .colored_theme_text,
body#main .colored_theme_text_with_hover:not(:hover),
body#main .colored_theme_hover_text:hover,
.top-block .menu >li>a:hover {
  color: #d2334d;
}
.colored_theme_block_text:hover .colored_theme_el_text {
  color: #d2334d !important;
}
.dark-color:hover svg:not(.not_fill) rect,
.dark-color:hover svg:not(.not_fill) circle {
  stroke: #d2334d;
}
body#main .colored_theme_text_with_hover:not(:hover) .svg svg path,
body#main .colored_theme_hover_text:hover svg path,
.fancybox-is-open svg:hover path {
  fill: #d2334d;
}
.bx_filter.compact .bx_filter_parameters_box.set .bx_filter_parameters_box_title.title,
.filter_title.active-filter .svg:before {
  background: #d2334d;
}
.smartfilter .bx_ui_slider_track .bx_ui_slider_handle:after {
  background: #d2334d;
}
#basket-root .basket-item-actions-remove:hover:after,
#basket-root .basket-item-actions-remove:hover:before,
#basket-root .basket-items-list-item-clear-btn:hover:after,
#basket-root .basket-items-list-item-clear-btn:hover:before,
#basket-root .basket-items-list-wrapper .basket-clear:hover:after,
#basket-root .basket-items-list-wrapper .basket-clear:hover:before {
  background: #d2334d;
}
.catalog_detail .bx-modal-container .btn.btn-add,
.personal_wrapper form input[type=submit] {
  color: #FFF;
  background: #d2334d;
}
.catalog_detail .bx-modal-container .btn.btn-add:hover,
.personal_wrapper form input[type=submit]:hover {
  background: #d84c63;
}
.colored #header .catalog_menu ul.menu > li,
header .wrap_menu {
  background: #c92c46;
}
.tabs-head li.current:before {
  background-color: #d22e48;
}
.like_icons .compare_item.added:not(.btn) i,
.like_icons .wish_item.added:not(.btn) i {
  background-color: #d22e48;
}
.icon_error_block:after {
  background-color: #d22e48 !important;
}
.specials_slider_wrapp ul.tabs li.cur span,
.tab_slider_wrapp ul.tabs li.cur span,
.popup .popup-intro {
  border-bottom-color: #d2334d;
}
.button:hover,
.like_icons .compare_item.added:hover,
.like_icons .wish_item.added:hover,
.light .stores .all_map:hover {
  background: #b1727a;
}
html:not(.bx-touch) .like_icons .compare_item.added:not(.btn):hover i,
html:not(.bx-touch) .like_icons .wish_item.added:not(.btn):hover i {
  background-color: #b1727a;
}
.wrapper_middle_menu.wrap_menu.mobile:hover {
  background: #b1727a;
}
.header_wrap #header .catalog_menu.menu_colored .inc_menu  ul.menu > li:not(.current):hover > a {
  background: #d54058;
}
.phone_block .phone_wrap .icons {
  color: #c22942;
}
header .menu_top_block li.catalog>.dropdown>li:hover>a,
header .menu_top_block li.catalog>.dropdown>li>.dropdown>li.current>a:not(.section) {
  color: #c22942;
}
header .menu_top_block li .dropdown>li.current >a.section1,
.menu_top_block li .dropdown>li >a.section1:hover,
#header .catalog_menu.menu_light ul.menu > li.current > a,
#header .catalog_menu.menu_light ul.menu > li:hover > a {
  color: #c22942;
}
.menu_top_block .dropdown> li.v_bottom a:hover .svg.svg-inline-down,
.left_menu > li.has-childs.v_bottom a:hover .svg.svg-inline-down {
  background-color: #d2334d;
}
.mega_fixed_menu .mega-menu table .wrap > .dropdown-menu .dropdown-submenu > a:hover>.arrow>i {
  background-color: #d2334d;
}
.mega_fixed_menu .svg.svg-close:hover * {
  fill: #d2334d;
}
.inline-search-block.bg-colored-block.show {
  background-color: #d2334d;
}
.menu-row.bgcolored .wrap_icon:hover {
  background-color: #d84c63;
}
.logo_and_menu-row .burger:hover .svg-burger {
  background-color: #d84c63;
}
body .basket-link.basket-count .count {
  background-color: #d2334d;
}
.logo_and_menu-row .basket-link:hover .title {
  color: #d2334d;
}
.top-block-item  .basket-link:hover  .title {
  color: #d2334d;
}
.top-btn:hover .svg:not(.inline) {
  background-color: #d2334d;
}
.top-btn .svg.inline:hover svg path,
.top-btn:hover .svg.inline svg path,
.svg.inline:not(.colored):hover svg path,
a:hover .svg.inline path {
  fill: #d2334d;
}
.fill_bg_n .menu-row.bgcolored,
.fill_bg_y .menu-row.bgcolored > .maxwidth-theme {
  background-color: #d2334d;
}
.menu-row.bgcolored .mega-menu table td:hover {
  background-color: #d84c63;
}
.menu-row.bgcolored .mega-menu table td.active {
  background-color: #b4283f;
}
body .has-secion-banner .fix-logo .menu-row .menu-only-wr {
  border-left-color: #b4283f;
}
.mega-menu ul.nav li.active,
.mega-menu ul.nav li:hover {
  background-color: #d2334d;
}
.mega-menu table td.active .wrap > a,
.mega-menu table td:not(.search-item):hover .wrap > a {
  color: #d2334d;
}
.mega-menu table td.active .wrap > a .svg path {
  fill: #d2334d;
}
.topmenu-LIGHT .mega-menu table td.active .wrap > .more-items span:before,
.topmenu-LIGHT .mega-menu table td:not(.search-item):hover .wrap > .more-items span:before {
  background-color: #d2334d;
}
.mega-menu table td .wrap > a .line-wrapper .line {
  background-color: #d2334d;
}
.topmenu-LIGHT .mega-menu table .tail {
  border-bottom: 6px solid #c52b45;
}
.mega-menu table .wide_menu .dropdown-menu li > a:hover,
.mega-menu table .wide_menu .dropdown-submenu:hover > a,
.mega-menu table .dropdown-submenu:hover > a:after,
.mega-menu table .dropdown-menu li.active > a,
.mega-menu table .dropdown-submenu.active > a,
.mega-menu table .dropdown-submenu.active  > a:after {
  color: #d2334d;
}
body .mega-menu table td .wrap > .dropdown-menu > li:first-of-type:before {
  background-color: #d2334d;
}
.menu-row.middle-block.bglight .mega-menu table td.icon.sale_icon .wrap > a:before {
  background-color: #d2334d;
}
.top_big_banners.half_block .flexslider .banner_title .head-title:after {
  background-color: #d2334d;
}
body .wrapper1 .menu-wrapper .menu_top_block.catalog_block .menu > li:not(.current):hover > a,
body .wrapper1 .menu-wrapper .menu_top_block.catalog_block .menu li:hover > a,
body .wrapper1 .menu-wrapper .menu_top_block.catalog_block .menu li.current > a,
.top-block .menu.topest li.current > a {
  color: #d2334d;
}
.top-block .menu.topest li.current > a .svg path,
body .wrapper1 .menu-wrapper .menu_top_block.catalog_block .menu > li:not(.current):hover > a .svg path,
.wrapper1.sticky_menu .menu-wrapper .menu_top_block.catalog_block .menu > li.current a .svg svg path {
  fill: #d2334d;
}
.wrapper1.sticky_menu .menu-wrapper .menu_top_block.catalog_block .menu > li .image .svg-inline-cat_icons * {
  fill: #d2334d;
}
.wrapper1.sticky_menu .menu-wrapper .menu_top_block.catalog_block .menu > li .image .svg-inline-picture * {
  fill: #d2334d;
}
.tabs .nav-tabs li.active:after {
  background: #d2334d;
}
.catalog_detail .active .title-tab-heading,
.catalog_detail .title-tab-heading:focus,
.catalog_detail .title-tab-heading:active,
.catalog_detail .title-tab-heading:hover {
  color: #d2334d;
}
.style-switcher .switch:hover,
.style-switcher .switch_presets:hover {
  background: #d2334d;
}
.style-switcher .header .header-inner:hover,
.style-switcher .header .header-inner:active,
.style-switcher .header .header-inner:focus {
  background-color: #d2334d;
  border-color: #d2334d;
}
.style-switcher .header .save_btn:hover {
  background: #d2334d;
}
.style-switcher .options .link-item.preset-block:hover .info .icon,
.style-switcher .options .link-item.preset-block.current .info .icon {
  border-color: #d2334d;
  background: #d2334d;
}
.style-switcher .options .preset-block.current {
  border-color: #d2334d;
}
.style-switcher .options > span.current:not(.block),
.style-switcher .options .link-item.current:not(.block):not(.preset-block) {
  background: #d2334d;
}
.style-switcher .options .link-item.current.block {
  border-color: #d2334d;
}
.style-switcher .tooltip-link:hover {
  background: #d2334d;
  border-color: #d2334d;
}
.style-switcher .options > div.base_color.current > span,
.style-switcher .options > div.base_color.current > span:hover {
  border-color: #d2334d;
}
.style-switcher .left-block .section-block.active:before {
  background: #d2334d;
}
.style-switcher .block-title .dotted-block {
  color: #d2334d;
}
.uploader:hover .action {
  background-color: #d84c63;
  border-color: #d84c63;
}
p.drop-caps:first-child:first-letter {
  color: #d2334d;
}
p.drop-caps.secundary:first-child:first-letter {
  background-color: #d2334d;
}
.label-info {
  background-color: #d2334d;
}
section.toggle label {
  color: #d2334d;
  border-color: #d2334d;
}
section.toggle.active > label {
  background-color: #d2334d;
  border-color: #d2334d;
}
.progress-bar-primary {
  background-color: #d2334d;
}
.slider-container .tp-caption a:not(.btn):hover {
  color: #d9546a;
}
.tp-bullets .bullet.selected,
.tp-bullets .bullet:hover {
  background: #d2334d !important;
}
.fa.colored {
  background: #d2334d;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #d2334d;
}
.page-top-wrapper.color {
  background: #d2334d;
}
.viewed_block .item_block:hover a {
  color: #d2334d;
}
.basket_fill_COLOR .wrap_cont .opener {
  background: #d2334d;
}
.basket_fill_COLOR .wrap_cont .opener >div:hover,
.basket_fill_COLOR .header-cart .basket_fly .opener >div.cur,
.basket_bottom_block.basket_fill_COLOR .maxwidth-theme .top-block-item .inner-table-block a:not(.basket):hover {
  background: #d84c63;
}
.basket_fill_COLOR.basket_bottom_block {
  background: #d2334d;
}
.basket_bottom_block .maxwidth-theme .top-block-item .inner-table-block a.basket {
  background: #c92c46;
}
#footer .footer_inner .line,
.page_not_found td.image img {
  background: #d9546a;
}
.header-cart .basket_fly .opener >div.cur svg path {
  fill: #d2334d;
}
.header-cart .basket_fly .items .item .buy_block .counter_block .plus:hover:before,
.header-cart .basket_fly .items .item .buy_block .counter_block .plus:hover:after,
.header-cart .basket_fly .items .item .buy_block .counter_block .minus:hover:after {
  background-color: #d2334d;
}
.subscribe-form input.send_btn {
  background-color: #cf2c47;
}
.bx_ordercart .bx_ordercart_order_pay .bx_bt_button {
  background: #d2334d;
}
.left_block .subscribe-form .wrap_bg {
  background-color: #cf2c47;
}
.news_blocks .info_block .item:before {
  background-color: #cf2c47;
}
.bx_ordercart .bx_ordercart_order_pay .bx_bt_button:hover {
  background: #d84c63;
}
a .zoom {
  background: #d2334d;
}
.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size ul li.bx_active a {
  background: #b1727a;
  color: #fff;
}
.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size ul li:not(.bx_active):hover a {
  color: #c22942;
}
a.dark_link:hover,
.dark_link:hover span,
.dl:hover a,
.selected a.dark_link,
a.muted:hover,
.hover_color_theme:hover {
  color: #c22942 !important;
}
.menu_top_block.catalog_block .dropdown>li.full>.dropdown>li>a:hover span,
body .menu_top_block.catalog_block .v_bottom li.current>a,
header .menu_top_block.catalogfirst li.full>.dropdown>li:not(.current)>a {
  color: #c22942;
}
.middle_phone .phone_wrap .icons,
.top_slider_wrapp .flexslider .slides > li:after {
  background-color: #cf2c47;
}
.bg_color_theme {
  background: #d2334d;
}
.text-color-theme,
.item-views.news2 .compact .item-wrapper .item .inner-text .title a:hover,
.bottom_nav.mobile_slider .btn.btn-transparent-border-color:hover {
  color: #d2334d;
}
.basket_normal .basket_wrapp .wraps_icon_block.basket .count span {
  background-color: #cf2c47;
}
.bx_filter .bx_filter_parameters_box_title:hover:after {
  color: #c22942;
}
.bx_filter .bx_filter_param_label.active .bx_filter_btn_color_icon,
.bx_catalog_item_scu ul li.active .cnt_item,
.bx_scu_scroller_container ul li.bx_active .cnt_item {
  box-shadow: 0 0 0 2px #cf2c47;
}
.bx_filter_vertical input[type="checkbox"]:not(:checked) + label.sku:hover span,
.sku_props .bx_item_detail_size ul li:not(.active):hover span,
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover span {
  color: #c22942;
}
.bx_filter_vertical input[type="checkbox"] + label.sku:hover,
.sku_props .bx_item_detail_size ul li:hover,
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover {
  border-color: #c22942;
}
body .bx_filter.compact .bx_filter_parameters_box.set .title.bx_filter_parameters_box_title {
  border: 1px solid #d2334d;
}
.more_text_ajax:after {
  background-color: #cf2c47;
}
.bx_ordercart .bx_sort_container a.current:after {
  background: #bf7986;
}
.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout {
  color: #d2334d;
  border: 1px solid #d2334d;
  background: #ffffff;
}
.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout:hover {
  color: #fff;
  border-color: #d2334d;
  background: #d2334d;
}
.button.transparent:not(.text):hover {
  border-color: #bf7986;
  background: #bf7986;
  color: #fff;
}
.button.transparent.grey_br:hover {
  border-color: #bf7986;
  background: #fff;
}
.bx_ordercart tbody td.control a:first-of-type:hover,
.bx_ordercart #basket_items_delayed tbody td.control a:last-of-type:hover,
.bx_ordercart #basket_items_subscribed  tbody td.control a:first-of-type:hover,
.bx_ordercart #basket_items_not_available  tbody td.control a:last-of-type:hover,
.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_coupon:not(:first-of-type) > span:hover {
  background-color: #bf7986;
}
.bx_ordercart .bx_sort_container a,
.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_title a:hover,
.bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_title a {
  color: #cf2c47;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a,
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {
  color: #FFF;
  background: #cf2c47;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a:hover,
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {
  background: #d84c63;
}
.sale_order_full_table input[name="BuyButton"] {
  background-color: #d22e48;
}
.sale_order_full_table input[name="BuyButton"] {
  background-color: #d84c63;
}
.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:active a,
.bx_ordercart .bx_item_detail_size_small_noadaptive ul li.bx_active a,
.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:hover a {
  border-color: #d84c63;
}
.color_link {
  color: #c22942 !important;
}
.detail .gallery-block .small-gallery ul.items li.flex-active-slide,
.detail .gallery-block .small-gallery ul.items li:hover {
  border-color: #d2334d;
}
.page_error_block svg path {
  fill: #d2334d;
}
.sections_wrapper svg path {
  fill: #d2334d;
}
.sale-personal-section-index-block-ico i,
.personal_wrapper .sale-personal-account-wallet-container .sale-personal-account-wallet-list-item:before {
  background-color: #d2334d;
}
.sale-personal-section-index-block-ico i.fa {
  color: #d2334d;
}
.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {
  border-color: #bf7986;
  color: #c22942;
}
.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item:hover {
  background-color: #bf7986;
}
.bx-sap .sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container,
.bx-sap .sale-acountpay-pp-company:hover .sale-acountpay-pp-company-graf-container,
.sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-image {
  border-color: #bf7986 !important;
}
.bx-sap .sale-acountpay-pp-company:not(.bx-selected):hover .sale-acountpay-pp-company-smalltitle,
.sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-smalltitle {
  color: #c22942 !important;
}
.bx-sap .sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container:before,
.bx-sap .sale-acountpay-pp-company:not(.bx-selected):hover .sale-acountpay-pp-company-graf-container:before {
  background-color: #d2334d;
  border: none;
}
.sale-personal-profile-list-container>tbody>tr>td:first-child b {
  color: #d2334d;
}
.personal_wrapper .sale-profile-detail-link-list a:before {
  background-color: #d2334d;
}
.personal_wrapper input[type=submit]:last-of-type,
.personal_wrapper .orders_wrapper .sale-order-list-inner-row:last-of-type > div:last-of-type a,
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-cancel {
  border-color: #d2334d;
  color: #d2334d !important;
}
.personal_wrapper input[type=submit]:hover:last-of-type,
.personal_wrapper .orders_wrapper .sale-order-list-inner-row:last-of-type > div:last-of-type a:hover,
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-cancel:hover {
  background: #d2334d;
  color: #fff !important;
}
.personal_wrapper .orders_wrapper .row.col-md-12.col-sm-12 > a,
.sale-order-detail-about-order-inner-container-list-item-link {
  color: #d2334d;
}
.personal_wrapper .orders_wrapper .sale-order-list-inner-row > div >a {
  background: #d2334d;
}
.personal_wrapper .orders_wrapper .sale-order-list-inner-row > div >a:hover {
  background: #d84c63;
}
.personal_wrapper .orders_wrapper .sale-order-list-change-payment {
  color: #d2334d;
}
.personal_wrapper .orders_wrapper .sale-order-list-button {
  background-color: #d2334d;
}
.personal_wrapper .orders_wrapper .sale-order-list-button:hover {
  background-color: #d84c63;
}
.bx_my_order_cancel a,
.personal_wrapper .orders_wrapper .sale-order-list-inner-row>div>a.sale-order-list-cancel-payment {
  color: #d2334d !important;
}
.personal_wrapper form[name=ShopForm] input[type=submit],
.personal_wrapper .sale-order-list-inner-row-template input[type=submit],
.personal_wrapper .sale-order-detail-inner-row-template input[type=submit],
.personal_wrapper .sale-order-payment-change-pp input[type=submit],
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-button,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element-new-window {
  background: #d2334d;
  color: #fff !important;
}
.personal_wrapper form[name=ShopForm] input[type=submit]:hover,
.personal_wrapper .sale-order-list-inner-row-template input[type=submit]:hover,
.personal_wrapper .sale-order-detail-inner-row-template input[type=submit]:hover,
.personal_wrapper .sale-order-payment-change-pp input[type=submit]:hover,
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-button:hover,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element:hover,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element-new-window:hover {
  background: #d84c63;
  border-color: transparent;
}
.reviews.item-views.front .item .image:before {
  background-color: #d2334d;
}
.item-views .item .bottom-props .value {
  background-color: #d2334d;
}
footer .light .bottom-menu .item .title a:hover,
footer .light .bottom-menu .wrap .item .title a:hover,
footer .light .info .email a:hover {
  color: #d2334d;
}
footer .info .subscribe_button .btn:hover {
  background-color: #d84c63;
  border-color: #d84c63;
}
.catalog-delivery-error-icon svg path,
.catalog-delivery-error-icon svg circle {
  fill: #d2334d;
}
.catalog-delivery-item.open .catalog-delivery-item-head:before {
  background-color: #d8475a;
}
.catalog-delivery-item .catalog-delivery-item-head:hover .catalog-delivery-item-opener {
  background-color: #d8475a;
  border-color: #d8475a;
}
.catalog-delivery-item.open .catalog-delivery-item-head:hover .catalog-delivery-item-opener {
  background-color: #d96976;
  border-color: #d96976;
}
.catalog-delivery .bx-sls .quick-location-tag {
  border-color: #f4cdd2;
  color: #dd6070;
}
.catalog-delivery .bx-sls .quick-location-tag:hover {
  background-color: #d8475a;
  border-color: #d8475a;
}
.bottom-icons-panel__content-link--active {
  color: #d2334d !important;
}
.bottom-icons-panel__content-link--active svg path {
  fill: #d2334d !important;
}
.bottom-icons-panel__content-link--active svg rect,
.bottom-icons-panel__content-link--active svg circle {
  stroke: #d2334d !important;
}
