label { margin: 0; }
html { box-sizing: content-box;}
body { line-height: normal;}

.landing-info-panel {
        background: #fff;
        border-bottom: 1px solid #edeef0;
        line-height: 34px;
        padding-bottom: 15px;
}

.landing-options {
	position: relative;
	padding: 0 5px;
	background: #f8f9fa;
}

.landing-options {
	margin: 6px 0 0;
}

.landing-info-panel-title {
	padding: 0 25px 0 9px;
	overflow: hidden;
}

.landing-info-panel-title input {
	width: 100%;
	height: 32px;
	border: none;
	outline: none;
	font: 19px/32px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.landing-edit-block-place.invisible {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.pinable-block:hover .landing-option-fixedbtn {
	visibility: visible;
}

.landing-options-item {
	position: relative;
	padding: 11px 30px 11px 0;
	border-bottom: 1px solid #e6e9ec;
	margin: 0 20px;
	/*overflow: hidden;*/
}

.landing-options-item-destination-group .landing-options-item {
        border-bottom: none;
}

.landing-options-item-destination-group .landing-options-item:last-child {
        border-bottom: 1px solid #e6e9ec;
}

.landing-options-item-destination .landing-options-item-param {
	float: left;
	margin: 11px 4px 11px 0;
}

.landing-options-item-destination .landing-options-item-inner {
	display: block;
}

.landing-options-item-param {
	color: #5e6675;
	font-size: 14px;
	text-align: left;
	padding-right: 10px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}

.landing-options-item-destination .landing-options-item-param {
	float: left;
	margin: 5px 4px 11px 0;
}

.landing-options-item-inner.wide {
	width: 100%;
}

.landing-options-item-inner {
	display: inline-block;
	vertical-align: middle;
}

.landing-options-item-inner-one {
    margin-bottom: 10px;
}

.landing-options-input {
        border: 1px solid #c6cdd3;
        border-radius: 2px;
        padding: 8px 10px;
        color: #535c69;
        font-size: 15px;
        background-color: #fff;
        outline: 0;
}

.landing-options-input-small {
        width: 40%;
}

textarea.landing-options-input {
        width: 60%;
}

textarea.landing-options-input {
    height: 50px;
    margin-bottom: 10px;
}

.landing-options-textarea {
        border: 1px solid #c6cdd3;
        border-radius: 2px;
        padding: 8px 10px;
        color: #535c69;
        font-size: 15px;
        background-color: #fff;
        width: 60%;
}

.landing-options-select {
        border: 1px solid #c6cdd3;
        border-radius: 2px;
        padding: 7px 10px;
        color: #535c69;
        font-size: 15px;
        background-color: #fff;
}

.landing-options-button {
        padding: 10px 20px;
        margin: 0 13px 0 0;
        height: 100%;
        border: 1px solid #c6cdd3;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #f8f9fa;
        font: bold 12px/17px 'OpenSans',Helvetica,Arial,sans-serif;
        color: #535c69;
        text-transform: uppercase;
        -webkit-transition: background .3s ease;
        -moz-transition: background .3s ease;
        transition: background .3s ease;
}

.landing-options-public-status {
        font: bold 14px 'HelveticaNeue',Helvetica,Arial,sans-serif;
        color: #535c69;
        margin-right: 20px;
}

.landing-options-public-status-active {
        color: green;
}

.landing-options-public-status-unactive {
        color: red;
}

.landing-additional-block {
	margin: 20px 0 0;
}

.landing-additional-alt {
	cursor: pointer;
	padding-bottom: 15px;
	/*border-bottom: 1px solid #f0f1f3;*/
}

.landing-options-additional {
    margin-bottom: 70px;
}

.landing-additional-alt-promo {
	overflow: hidden;
	padding-left: 10px;
	color: rgba(94, 102, 117, .7);
	min-height: 20px;
}

.landing-additional-alt-promo:before {
	content: "("
}

.landing-additional-alt-promo:after {
	content: ")"
}

.landing-additional-alt-promo-text {
	margin-right: 5px;;
	line-height: 18px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
	transition: border-bottom .3s ease;
}

.landing-additional-alt-promo-text:hover {
	border-bottom: 1px solid rgba(94, 102, 117, 0.7);
}

.landing-additional-alt-promo-text:last-child {
	margin-right: 0;
}

.landing-additional-alt-promo-wrap:before,
.landing-additional-alt-promo-wrap:after {
	display: inline-block;
}

.landing-additional-alt-promo-wrap:before{
	content: '(';
}
.landing-additional-alt-promo-wrap:after {
	content: ')';
}

.landing-additional-alt-promo-text:after {
	content: ","
}

.landing-additional-alt-promo-text:last-child:after {
	display: none;
}

.landing-additional-alt-more {
	display: inline-block;
	overflow: hidden;
	float: left;
	font-weight: bold;
	padding-left: 26px;
	cursor: pointer;
	color: #5e6675;
	position: relative;
}

.landing-additional-alt-more:hover {
	opacity: 1;
}

.landing-option-fn {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #535c69;
	margin-right: 5px;
	margin-top: 8px;
	width: 200px;
}

.landing-edit-footer-fixed {
	box-shadow: 0 -2px 4px 0 #c6c9cb;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background: #fff;
	text-align: left;
	z-index: 900;
}

.pinable-block:hover {
        visibility: visible;
}

.landing-form-footer-container {
	position: relative;
	text-align: center;
}

.landing-form-footer-container .landing-button-link {
	font: 12px/39px "OpenSans-Bold", Helvetica, Arial, sans-serif;
	transition: background .5s ease;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #535b69;
	border: none;
	position: relative;
	height: 39px;
	margin: 0;
}

.landing-form-footer-container .landing-button-link:hover {
	border: none;
	color: #80868e;
}

.landing-form-footer-container .task-option-fixedbtn {
	top: 9px;
	right: 30px;
}

.landing-message-label {
	font-size: 14px;
	color: #5e6675;
	background: #ebf5b5;
	line-height: 17px;
	padding: 11px 15px;
	position: relative;
	margin-bottom: 10px;
}

.landing-message-label.error {
	background: #fee7e7;
}

.landing-message-label.warning {
	background: #ffeca8;
}

.landing-field-label-title {
	display: block;
	color: #565e6a;
	font-size: 13px;
	text-align: left;
	font-weight: bold;
	line-height: 26px;
	padding-left: 30px;
}

.landing-hook-redefine-block {
        padding-top: 7px;
        height: 30px;
}

.landing-social-preview {
        margin-bottom: 30px;
        width: 527px;
        box-shadow: 2px 2px 12px -2px rgba(50, 50, 50, 0.75);
        cursor: pointer;
}

.landing-social-description {
        border: 1px solid #cdcdcd;
        width: 100%;
        color: #4b4f56;
        background-color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 16px;
}

.landing-social-img {
		height: 280px;
		overflow: hidden;
}

.landing-social-img img {
        width: 100%;
}

.landing-social-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        font-family: Georgia, serif;
        letter-spacing: normal;
        color: #1d2129;
        margin: 8px 12px;
}

.landing-social-text {
        font-size: 12px;
        max-height: 80px;
        overflow: hidden;
        margin: 10px 12px;
}


.landing-form-settings .ui-input {
	width: 600px;
}

.landing-form-site-name-block {
	position: relative;
}

.landing-form-site-name-block a {
	color: #2067b0;
	text-decoration: none;
}

.landig-form-site-name-btn {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%228px%22%20height%3D%2210px%22%20viewBox%3D%220%200%208%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Cpath%20d%3D%22M7.29424%2C3.02909%20C7.294695%2C1.35856%205.81644%2C0%204.001395%2C0%20C2.184966%2C0%200.707641%2C1.35856%200.707641%2C3.02909%20L0.707641%2C4.3971%20L0%2C4.3971%20L0%2C10%20L8%2C10%20L8%2C4.39666%20L7.29424%2C4.39666%20L7.29424%2C3.02909%20Z%20M1.947997%2C3.02909%20C1.947997%2C1.9885%202.868819%2C1.14272%204.000941%2C1.14272%20C5.131203%2C1.14272%206.051549%2C1.98894%206.051549%2C3.02909%20L6.051549%2C4.3971%20L1.947997%2C4.3971%20L1.947997%2C3.02909%20L1.947997%2C3.02909%20L1.947997%2C3.02909%20Z%20M4.566764%2C8.46377%20L3.436502%2C8.46377%20L3.605827%2C6.92798%20C3.396841%2C6.80827%203.255975%2C6.59457%203.255975%2C6.34955%20C3.255975%2C5.97236%203.589046%2C5.66598%204.001395%2C5.66598%20C4.41143%2C5.66598%204.74355%2C5.97238%204.74355%2C6.34955%20C4.74355%2C6.59457%204.604997%2C6.80785%204.394151%2C6.92798%20L4.566764%2C8.46377%20L4.566764%2C8.46377%20L4.566764%2C8.46377%20Z%22%20fill%3D%22%2328B9E9%22%20id%3D%22Shape%22%3E%3C/path%3E%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: right 14px center;
	border-radius: 3px;
	background-color: #EFF1F3;
	cursor: pointer;
	display: inline-block;
	height: 29px;
	line-height: 29px;
	margin-top: 8px;
	padding: 0 33px 0 11px;
}

.landig-form-site-name-btn:hover {
	text-decoration: underline;
}

.landing-form-flex-box {
	display: flex;
}

.landing-form-flex-box .ui-select {
	max-width: 600px;
	flex: 1;
}

.landing-form-input-right {
	color: #828b95;
	cursor: pointer;
	display: block;
	font-size: 13px;
	flex: 1;
	height: 39px;
	line-height: 39px;
	padding-left: 15px;
	white-space: nowrap;
}

.landing-form-input-right:hover {
	text-decoration: underline;
}

.landing-form-favicon-icon {
	display: inline-block;
	height: 16px;
	margin: 2px 17px 0 0;
	vertical-align: middle;
	width: 16px;
}

.landing-form-settings .ui-select,
.landing-form-settings .ui-input,
.landing-form-settings .ui-textarea {
	max-width: 600px;
	width: 100%;
	outline: none;
}

.landing-form-settings .ui-textarea {
	min-height: 70px;
	resize: none;
}

.landing-form-settings .ui-select.landing-form-select-small,
.landing-form-settings .ui-input.landing-form-select-small {
	width: 321px;
}

.ui-form.landing-form-collapsed {
	padding-bottom: 0;
}

.landing-slider-frame-popup .landing-slider-content {
	padding-bottom: 110px;
}

.landing-form-hidden-row {
	display: none;
	transition: background .2s linear;
}

.landing-form-collapsed-open .landing-form-hidden-row {
	display: table-row;
}

.landing-form-inner {
	overflow: hidden;
	transition: height 0.3s cubic-bezier(0, 1.1, 1, 1);
}

.landing-form-collapsed-open .landing-form-table-wrap {
	margin-bottom: 20px;
}

.landing-form-collapsed-open .ui-form-collapse-block:before {
	transform: rotate(180deg);
}

.landing-form-site-name-block .ui-input,
.landing-form-site-name-block .ui-select {
	display: inline-block;
	vertical-align: middle;
	width: 253px;
}

.landing-form-site-name-block .landing-input-align-top {
	vertical-align: top;
}

.landing-form-type-page {
	display: inline-block;
	margin-left: 25px;
	padding-left: 27px;
	position: relative;
	vertical-align: top;
	width: 94px;
}

.landing-form-type-page:first-child {
	margin-left: 0;
}

.landing-form-type-page .ui-radio {
	left: 1px;
	position: absolute;
	top: 3px;
}

.landing-form-type-page-img {
	cursor: pointer;
	display: block;
	height: 71px;
	width: 94px;
}

.landing-form-type-no .landing-form-type-page-img {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2294px%22%20height%3D%2271px%22%20viewBox%3D%220%200%2094%2071%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2294%22%20height%3D%2271%22%20rx%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-14%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-4%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20stroke-opacity%3D%220.364894701%22%20stroke%3D%22%23525C69%22%20stroke-width%3D%221%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2293%22%20height%3D%2270%22%20rx%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M2%2C1%20L92%2C1%20L92%2C1%20C92.5522847%2C1%2093%2C1.44771525%2093%2C2%20L93%2C8%20L1%2C8%20L1%2C2%20L1%2C2%20C1%2C1.44771525%201.44771525%2C1%202%2C1%20Z%22%20id%3D%22Rectangle-4%22%20fill%3D%22%232FC6F6%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-6%22%20fill%3D%22%23FFFFFF%22%20opacity%3D%220.546025815%22%20x%3D%224%22%20y%3D%223%22%20width%3D%2217%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-15%22%20transform%3D%22translate%281%2C%208%29%22%20fill%3D%22%23DADCE4%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%229%22%20width%3D%2292%22%20height%3D%2223%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%220%2038%2044%2038%2044%2052%200%2052%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%2249%2038%2092%2038%2092%2052%2049%2052%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2292%22%20height%3D%225%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%2257%22%20width%3D%2292%22%20height%3D%225%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
	background-repeat: no-repeat;
}
.landing-form-type-ltr .landing-form-type-page-img {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2294px%22%20height%3D%2271px%22%20viewBox%3D%220%200%2094%2071%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2294%22%20height%3D%2271%22%20rx%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-14%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-4%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20stroke-opacity%3D%220.364894701%22%20stroke%3D%22%23525C69%22%20stroke-width%3D%221%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2293%22%20height%3D%2270%22%20rx%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-16%22%20transform%3D%22translate%288.000000%2C%2012.000000%29%22%20fill%3D%22%23DADCE4%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%228%22%20width%3D%2279%22%20height%3D%2221%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Rectangle-7%22%20points%3D%220%2034%2036.9989392%2034%2036.9989392%2048.9418793%200%2048.9418793%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Rectangle-7%22%20points%3D%2242%2034%2078.9989392%2034%2078.9989392%2048.9418793%2042%2048.9418793%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2279%22%20height%3D%225%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%2253%22%20width%3D%2279%22%20height%3D%225%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M2%2C1%20L92%2C1%20L92%2C1%20C92.5522847%2C1%2093%2C1.44771525%2093%2C2%20L93%2C8%20L1%2C8%20L1%2C2%20L1%2C2%20C1%2C1.44771525%201.44771525%2C1%202%2C1%20Z%22%20id%3D%22Rectangle-4%22%20fill%3D%22%232FC6F6%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-6%22%20fill%3D%22%23FFFFFF%22%20opacity%3D%220.546025815%22%20x%3D%224%22%20y%3D%223%22%20width%3D%2217%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
	background-repeat: no-repeat;
}
.landing-form-type-all .landing-form-type-page-img {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2294px%22%20height%3D%2271px%22%20viewBox%3D%220%200%2094%2071%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2294%22%20height%3D%2271%22%20rx%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-14%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-4%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20stroke-opacity%3D%220.364894701%22%20stroke%3D%22%23525C69%22%20stroke-width%3D%221%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2293%22%20height%3D%2270%22%20rx%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-17%22%20transform%3D%22translate%288.000000%2C%2012.000000%29%22%20fill%3D%22%23DADCE4%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%228%22%20width%3D%2279%22%20height%3D%2219%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%2231%22%20width%3D%2238%22%20height%3D%2214%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%2241%22%20y%3D%2231%22%20width%3D%2238%22%20height%3D%2214%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2279%22%20height%3D%225%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%2249%22%20width%3D%2279%22%20height%3D%225%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M2%2C1%20L92%2C1%20L92%2C1%20C92.5522847%2C1%2093%2C1.44771525%2093%2C2%20L93%2C8%20L1%2C8%20L1%2C2%20L1%2C2%20C1%2C1.44771525%201.44771525%2C1%202%2C1%20Z%22%20id%3D%22Rectangle-4%22%20fill%3D%22%232FC6F6%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-6%22%20fill%3D%22%23FFFFFF%22%20opacity%3D%220.546025815%22%20x%3D%224%22%20y%3D%223%22%20width%3D%2217%22%20height%3D%222%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
	background-repeat: no-repeat;
}
.landing-form-type-mobile .landing-form-type-page-img {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2294px%22%20height%3D%2271px%22%20viewBox%3D%220%200%2094%2071%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0D%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2053.2%20%2872643%29%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0D%0A%20%20%20%20%3Ctitle%3E9%3C%2Ftitle%3E%0D%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%229%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-4%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22path-1-link%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2294%22%20height%3D%2271%22%20rx%3D%222%22%3E%3C%2Frect%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20stroke-opacity%3D%220.364894701%22%20stroke%3D%22%23525C69%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2293%22%20height%3D%2270%22%20rx%3D%222%22%3E%3C%2Frect%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M2%2C1%20L92%2C1%20L92%2C1%20C92.5522847%2C1%2093%2C1.44771525%2093%2C2%20L93%2C8%20L1%2C8%20L1%2C2%20L1%2C2%20C1%2C1.44771525%201.44771525%2C1%202%2C1%20Z%22%20id%3D%22Rectangle-4%22%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-6%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%20opacity%3D%220.546025815%22%20x%3D%224%22%20y%3D%223%22%20width%3D%2217%22%20height%3D%222%22%3E%3C%2Frect%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-15%22%20transform%3D%22translate%2826.000000%2C%208.000000%29%22%20fill%3D%22%23DADCE4%22%20fill-rule%3D%22nonzero%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2242%22%20height%3D%229%22%3E%3C%2Frect%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%2212%22%20width%3D%2242%22%20height%3D%2217%22%3E%3C%2Frect%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%2232%22%20width%3D%2242%22%20height%3D%2217%22%3E%3C%2Frect%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-7%22%20x%3D%220%22%20y%3D%2252%22%20width%3D%2242%22%20height%3D%2210%22%3E%3C%2Frect%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E);
	background-repeat: no-repeat;
}

.ui-checkbox-hidden-input.landing-form-type-page-block .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 155px;
}

.landing-form-type-page-title {
	color: #828b95;
	display: block;
	font-size: 11px;
	padding-top: 9px;
	text-align: center;
}

.landing-form-textarea-wrap {
	max-width: 578px;
}

.landing-form-textarea {
	box-sizing: border-box;
	height: 175px;
	line-height: 22px;
	width: 100%;
}

.ui-checkbox-hidden-input.landing-form-textarea-block .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 230px;
	overflow: visible;
}
.ui-checkbox-hidden-input.landing-form-page-background .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 504px;
}

.ui-checkbox-hidden-input.landing-form-meta-block .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 530px;
}

.ui-checkbox-hidden-input.landing-form-custom-html .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 180px;
}

.ui-checkbox-hidden-input.landing-form-custom-css .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 180px;
}

.ui-checkbox-hidden-input.landing-form-header-footer-fields .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 195px;
}

.landing-form-settings .ui-input-color.ui-input {
	width: 179px;
}

.landing-form-wrapper {
	max-width: 600px;
}

.landing-background-field .landing-ui-field-image-dropzone {
	background-color: #ffffff;
}

.landing-form-page-background .landing-form-wrapper {
	margin-top: 5px;
}

.landing-form-page-background .landing-background-field {
	margin-bottom: 8px;
}

.landing-form-social-view {
	background-color: #ffffff;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .11);
	padding-bottom: 10px;
	position: relative;
	width: 476px;
}

.landing-form-social-text-title {
	padding-bottom: 3px;
}

.landing-form-social-text-title .ui-editable-field-label,
.landing-form-social-text-title .ui-editable-field-input {
	color: #525c69;
	font-family: "Georgia", serif;
	font-size: 17px;
	height: 27px;
	line-height: normal;
	margin-top: 13px;
	vertical-align: top;
	width: 100%;
	padding-left: 12px;
}

.landing-form-social-text-title .ui-editable-field-label {
	height: auto;
	min-height: 27px;
	word-wrap: break-word;
}

.landing-form-social-text-title .ui-editable-field-input {
	margin: 10px 0 3px 6px;
	line-height: 27px;
	min-width: 243px;
	padding: 0 0 0 5px;
	max-width: 100%;
}

.landing-form-social-text-title .ui-title-input-btn {
	top: 15px;
}

.landing-form-social-text-title .ui-editable-field {
	height: auto;
	max-width: 463px;
}

.landing-form-social-text .ui-editable-field-textar-wrap {
	min-height: 19px;
	max-width: 100%;
	padding-left: 12px;
}

.landing-form-social-text .ui-editable-field-label,
.landing-form-social-text .ui-editable-field-textarea {
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	letter-spacing: 0.09px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	word-wrap: break-word;
	padding-left: 0;
}

.landing-form-social-text .ui-editable-field-textarea {
	box-sizing: border-box;
	min-height: 48px;
	margin: 0 0 -3px 0;
	padding-left: 5px;
	min-width: 458px;
}

.landing-form-social-text-block .ui-editable-field-textar-wrap .ui-title-input-btn {
	top: 2px;
}

.landing-form-social-text-block {
	padding-left: 3px;
}

.landing-form-social-site-name {
	color: #8f949c;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.05px;
	padding: 5px 0 0 11px;
	text-transform: uppercase;
}

.landing-form-social-img {
	background-size: cover;
	height: 248px;
	width: 476px;
}

.landing-form-meta {
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid rgba(151,151,151, .21);
	font-family: Arial, sans-serif;
	margin-bottom: 21px;
	padding: 20px 18px 21px;
}

.landing-form-meta-title {
	color: #1A0DAB;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 1px;
	word-wrap: break-word;
}

.landing-form-meta-link {
	color: #006621;
	line-height: 16px;
	font-size: 14px;
	margin-bottom: 1px;
}

.landing-form-meta-text {
	color: #545454;
	line-height: 1.4;
	font-size: 13px;
	word-wrap: break-word;
}

.landing-form-custom-fields .ui-textarea {
	line-height: 22px;
	height: 108px;
}

#landing-form-social-img .landing-ui-field-image-right,
#landing-form-social-img .landing-ui-field-header {
	display: none;
}

#landing-form-social-img .landing-ui-field-image-left {
	margin-right: 0;
}

#landing-form-social-img .landing-ui-field-image,
#landing-form-social-img .landing-ui-field-image-preview {
	margin: 0;
}
#landing-form-social-img .landing-ui-field-image-dropzone {
	height: 248px;
	margin: 0;
}

#landing-form-social-img .landing-ui-field-image-preview {
	height: 248px;
}

.landing-form-social-img-edit {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212px%22%20height%3D%2213px%22%20viewBox%3D%220%200%2012%2013%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cpath%20d%3D%22M0.867072382%2C9.63960703%20L0%2C13%20L3.1770988%2C12.0055317%20C2.9795051%2C11.4634489%202.68831437%2C10.9694647%202.31912613%2C10.549578%20C1.9057393%2C10.1270915%201.40915512%2C9.81770136%200.867072382%2C9.63960703%20Z%20M7.8959485%2C1.88795394%20L1.68214642%2C8.66463809%20C2.19822998%2C8.93502948%202.67661475%2C9.28081846%203.10430112%2C9.69420529%20C3.45528994%2C10.1400911%203.74908059%2C10.6366753%203.97527338%2C11.1696583%20L10.1851756%2C4.39687402%20C9.94468325%2C3.81579253%209.61709368%2C3.28280951%209.21540647%2C2.82002425%20C8.83061873%2C2.42223692%208.38343297%2C2.10764694%207.89204863%2C1.89055385%20L7.89464854%2C1.88665398%20L7.8959485%2C1.88795394%20Z%20M11.4487353%2C0.513897702%20C11.1341454%2C0.175908467%2010.7077589%2C-0.00998561159%2010.265773%2C0.000414057163%20C9.82638701%2C0.0108137259%209.40780035%2C0.214907225%209.10620995%2C0.565896046%20L8.73312184%2C0.972783086%20C9.22970602%2C1.20287576%209.68469153%2C1.52916536%2010.0759791%2C1.93475245%20C10.4711665%2C2.38713804%2010.7909563%2C2.90972139%2011.0275488%2C3.4778033%20L11.4019368%2C3.0696163%20C11.7243266%2C2.74202673%2011.9089207%2C2.28444131%2011.9193204%2C1.80345663%20C11.9271201%2C1.32247195%2011.7568255%2C0.857086771%2011.4461354%2C0.516497619%20L11.4500353%2C0.516497619%20L11.4487353%2C0.513897702%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23525C68%22%20fill-rule%3D%22nonzero%22%3E%3C/path%3E%3C/svg%3E);
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,.7);
	background-position: center;
	border-radius: 2px;
	cursor: pointer;
	height: 28px;
	top: 9px;
	right: 9px;
	position: absolute;
	width: 28px;
	z-index: 5;
}

.landing-ui-field-input {
	background-color: #ffffff;
	max-width: 476px;
	padding-right: 35px;
}

.ui-form-right-cell-favicon {
	display: flex;
	align-items: center;
}


.ui-form-right-cell-favicon a {
	color: #2067b0;
	text-decoration: none;
}

.landing-form-favicon-wrap {
	width: 16px;
	height: 16px;
	margin-right: 13px;
}

.landing-form-favicon-wrap img {
	max-width: 100%;
	height: auto;
}

.landing-background-field .landing-ui-field-image-alt {
	margin-bottom: 0;
}

.landing-form-field-section .landing-form-label-inner,
.landing-form-field-section .ui-form-right-cell {
	height: auto;
	max-height: 100px;
	transition: height, padding .2s ease;
}

.landing-form-field-section-hidden .landing-form-label-inner,
.landing-form-field-section-hidden .ui-form-right-cell {
	height: 0;
	overflow: hidden;
	padding: 0;
	border: none;
}

.landing-form-field-section-hidden .ui-form-label {
	border: none;
}

.landing-form-rights {
	width: 30%;
}

.landing-form-rights .ui-select {
	min-height: 105px;
	background: none;
}

.landing-form-rights-delete {
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	opacity: 0.3;
	transition: all .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%227%22%20height%3D%227%22%3E%3Cpath%20d%3D%22M5.526.276L3.5%202.303%201.474.276c-.369-.368-.83-.368-1.198%200-.368.369-.368.83%200%201.198L2.303%203.5.276%205.526c-.368.369-.368.83%200%201.198.369.368.83.368%201.198%200L3.5%204.697l2.026%202.027c.369.368.83.368%201.198%200%20.368-.369.368-.83%200-1.198L4.697%203.5l2.027-2.026c.368-.369.368-.83%200-1.198C6.355%200%205.803%200%205.526.276z%22%20opacity%3D%221%22/%3E%3C/svg%3E)
	no-repeat center;
}

.landing-form-rights-delete:hover {
	opacity: .7;
}

.landing-form-rights-right {
	width: 30%;
}

.landing-form-rights-left {
	display: flex;
}

.landing-icon-lock {
	display: inline-block;
	width: 11px;
	height: 14px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%229%22%20height%3D%2213%22%3E%3Cpath%20fill%3D%22%2316B9EB%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.012%2010.18h-1.03V8.897a.809.809%200%200%201-.303-.631c0-.45.366-.813.819-.813.452%200%20.818.364.818.813a.809.809%200%200%201-.304.631v1.283zM2.256%203.447a2.233%202.233%200%200%201%202.242-2.225c1.238%200%202.241.996%202.241%202.225v1.61H2.256v-1.61zm5.668%201.61v-1.61C7.924%201.57%206.39.046%204.498.046%202.605.046%201.07%201.569%201.07%203.447v1.61H.031v6.952h8.933V5.057h-1.04z%22/%3E%3C/svg%3E)
				no-repeat center;
	margin: 0 0 2px 5px;
}

.ui-checkbox-block-copyright .landing-icon-lock {
	margin-bottom: 0;
}

.ui-checkbox-block.ui-checkbox-block-copyright {
	display: flex;
	align-items: center;
}

.landing-form-hidden-row-highlight {
	background: rgba(187,237,33, .2);
}

.landing-domain {
	background: #fff;
	max-width: 605px;
	padding: 10px 16px 15px;
	border-radius: 2px;
}

.landing-domain-own {
	background: transparent;
	padding-bottom: 9px;
}

.landing-domain-name {
	position: relative;
	margin: 0 0 17px 2px;
	display: inline-block;
	padding-right: 20px;
}

.landing-domain-name-value {
	font-size: 21px;
	line-height: 27px;
	color: #525c69;
}

.landing-domain-name .ui-title-input-btn {
	top: 6px;
	right: -4px;
}

.landing-domain-status-title {
	color: #525c69;
	margin-bottom: 15px;
}

.landing-domain-status-text {
	color: #333;
}

.landing-domain-status-notice {
	color: #76715e;
	font-family:"OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing-domain-status {
	border-radius: 2px;
	padding: 16px 18px 18px;
	font: 16px/22px "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing-domain-status-configure {
	background: #ecfafe;
}

.landing-domain-status-active {
	background: #f3fbeb;
}

.landing-domain-status-wait {
	background: #fefcd6;
}