.swiper-pagination.sale-katalog {
    background-color: #92a93f;
    display: block;
    position: inherit;
}
.sale-katalog .swiper-pagination-bullet {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: white;
}
.swiper-container-cat{
    overflow: hidden;
}
.swiper-inner{
    position: relative;
}
.swiper-container.swiper-focus-sections {
    padding: 10px 0;
    width: 100%;
}
.swiper-container .swiper-button-next{
    right: 0;
    left: auto;
}
.swiper-container .swiper-button-prev{
    right: auto;
    left: 0;
}
.swiper-container .swiper-button-next:after, .swiper-container .swiper-button-prev:after {
    font-size: 1.3rem;
    color: black;
}
.slick-next,.slick-prev
{
    background: 0 0;
    border: none;
    border-radius: 0;
    bottom: 0;
    height: auto;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 1000px;
    top: 0;
    white-space: nowrap;
    width: 20%;
    z-index: 20;
}
.slick-next:hover,.slick-prev:hover
{
    background: rgba(0,0,0,.1);
}
.slick-next
{
    left: auto;
    right: 0;
}
.slick-next:after,.slick-prev:after
{
    background: #92A93F;
    border: none;
    border-radius: 0 2px 2px 0;
    content: "";
    height: 40px;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 100px;
    top: 40%;
    white-space: nowrap;
    width: 40px;
    z-index: 20;
}
.slick-next:before,.slick-prev:before
{
    background: url(controls.png) top left no-repeat;
    content: "";
    height: 14px;
    left: 0;
    line-height: 14px;
    margin: 13px 0 0 9px;
    position: absolute;
    top: 40%;
    width: 22px;
    z-index: 30;
}
.slick-prev:hover:before
{
    margin-left: 4px;
    width: 32px;
}
.slick-next:hover:before
{
    margin-right: 4px;
    width: 32px;
}
.slick-next:after
{
    border-radius: 2px 0 0 2px;
    left: auto;
    right: 0;
}
.slick-next:before
{
    background-position: top right;
    left: auto;
    margin: 13px 9px 0 0;
    right: 0;
}
.btn.catalog-skidok-href {
    width: 100%;
    margin-bottom: 10px;
}
.catalog-skidok-href a{
    color: white;
}
.sale-swiper .swiper-slide img {
     width:100%;
     height:auto;
}

.sale-swiper .swiper-wrapper {
     height:auto !important;
}

.sale-swiper .swiper-slide {
     height:auto !important;
}

@media (max-width: 800px){
.sale-swiper .swiper-slide img{
    max-height: 550px;
}
}

@media (max-width: 600px){
.sale-swiper .swiper-slide img{
    max-height: 450px;
}
}
@media (max-width: 550px){
.sale-swiper .swiper-slide img{
    max-height: 390px;
}
}
@media (max-width: 460px){
    .sale-swiper .swiper-container-cat, .sale-swiper .swiper-slide img{
        max-height:30rem;
    }
    .sale-swiper .swiper-slide img{
        max-height: 310px;
    }
    .sale-katalog .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 400px){
.sale-swiper .swiper-slide img{
    max-height: 275px;
}
}
@media (max-width: 320px){
.sale-swiper .swiper-slide img{
    max-height: 210px;
}
}

.swiper-pagination.sale-katalog {
    background-color: #92a93f;
    display: block;
    position: inherit;
}
.sale-katalog .swiper-pagination-bullet {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: white;
}
.swiper-container-cat{
    overflow: hidden;
}
.swiper-inner{
    position: relative;
}
.swiper-container.swiper-focus-sections {
    padding: 10px 0;
    width: 100%;
}
.swiper-container .swiper-button-next{
    right: 0;
    left: auto;
}
.swiper-container .swiper-button-prev{
    right: auto;
    left: 0;
}
.swiper-container .swiper-button-next:after, .swiper-container .swiper-button-prev:after {
    font-size: 1.3rem;
    color: black;
}
.slick-next,.slick-prev
{
    background: 0 0;
    border: none;
    border-radius: 0;
    bottom: 0;
    height: auto;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 1000px;
    top: 0;
    white-space: nowrap;
    width: 20%;
    z-index: 20;
}
.slick-next:hover,.slick-prev:hover
{
    background: rgba(0,0,0,.1);
}
.slick-next
{
    left: auto;
    right: 0;
}
.slick-next:after,.slick-prev:after
{
    background: #92A93F;
    border: none;
    border-radius: 0 2px 2px 0;
    content: "";
    height: 40px;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 100px;
    top: 40%;
    white-space: nowrap;
    width: 40px;
    z-index: 20;
}
.slick-next:before,.slick-prev:before
{
    background: url(controls.png) top left no-repeat;
    content: "";
    height: 14px;
    left: 0;
    line-height: 14px;
    margin: 13px 0 0 9px;
    position: absolute;
    top: 40%;
    width: 22px;
    z-index: 30;
}
.slick-prev:hover:before
{
    margin-left: 4px;
    width: 32px;
}
.slick-next:hover:before
{
    margin-right: 4px;
    width: 32px;
}
.slick-next:after
{
    border-radius: 2px 0 0 2px;
    left: auto;
    right: 0;
}
.slick-next:before
{
    background-position: top right;
    left: auto;
    margin: 13px 9px 0 0;
    right: 0;
}
.btn.catalog-skidok-href {
    width: 100%;
    margin-bottom: 10px;
}
.catalog-skidok-href a{
    color: white;
}
@media (min-width: 1100px){
.swiper-block{
    max-width: 1100px;
    margin: 0 auto;
}
}
.sale-swiper .swiper-slide img {
     width:100%;
     height:auto;
}

.sale-swiper .swiper-wrapper {
     height:auto !important;
}

.sale-swiper .swiper-slide {
     height:auto !important;
}

@media (max-width: 800px){
.sale-swiper .swiper-slide img{
    max-height: 550px;
}
}

@media (max-width: 600px){
.sale-swiper .swiper-slide img{
    max-height: 450px;
}
}
@media (max-width: 550px){
.sale-swiper .swiper-slide img{
    max-height: 390px;
}
}
@media (max-width: 460px){
    .sale-swiper .swiper-container-cat, .sale-swiper .swiper-slide img{
        max-height:30rem;
    }
    .sale-swiper .swiper-slide img{
        max-height: 310px;
    }
    .sale-katalog .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 400px){
.sale-swiper .swiper-slide img{
    max-height: 275px;
}
}
@media (max-width: 320px){
.sale-swiper .swiper-slide img{
    max-height: 210px;
}
}

