/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

/*увеличиваем все шрифты и подставляем корп шрифт*/
/*.fancybox-title, body, body .ymaps-map .ymaps-b-balloon, body div.bx-yandex-map {
    font: 17px/24px 'Philosopher',Arial,sans-serif;
}*/
/* 17px/24px AGOpus-Roman (Default) */
@font-face {
  font-family: "AGOpus-Roman";
  src: url("/fonts/AGOpus-Roman.ttf");
  src: url("/fonts/AGOpus-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html{font-size: 17px;}
body, body .ymaps-map{font: 17px/24px "AGOpus-Roman", Arial, sans-serif;}
.tooltip{font-family: "AGOpus-Roman", Arial, sans-serif;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Philosopher",Helvetica,Arial,sans-serif;}
body #basket-root *, #content #bx-soa-order-form *, .sale_order_full_table .sale-paysystem-wrapper *{font-family: "AGOpus-Roman", Arial, sans-serif !important;}
.bx_filter_select_popup ul li label{font-family: "AGOpus-Roman", Arial, sans-serif;}
#basket-root .basket-item-info-name, #basket-root .basket-item-info-name-link,
#basket-root .basket-items-list-header-filter-item, #basket-root .basket-item-property-value, #basket-root .basket-item-property-custom-value,
#basket-root .basket-item-property-name, #basket-root .basket-item-property-custom-name, #basket-root .basket-item-price-current-text,
#basket-root .basket-item-price-title, #basket-root .basket-item-amount-field-description,
#basket-root .basket-coupon-block-field-description, #basket-root .basket-coupon-alert, #basket-root .basket-coupon-alert .close-link,
#basket-root .basket-checkout-block-total-title, #basket-root .basket-checkout-block-total-description, #basket-root .basket-coupon-block-total-price-current,
#basket-root .basket-coupon-block-total-price-difference, #basket-root .basket-coupon-block-total-price-old,
#basket-root .basket-item-price-old-text, #basket-root .basket-item-price-difference, #basket-root .basket-item-property-scu-text .basket-item-scu-item-inner{font-family: "AGOpus-Roman", Arial, sans-serif;}
#bx-soa-order .bx-sls .bx-ui-sls-fake, #bx-soa-order .bx-sls .bx-ui-sls-route{font-family: "AGOpus-Roman", Arial, Helvetica, sans-serif;}
.personal_wrapper .orders_wrapper .sale-order-list-button, .personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat > a, .sale-order-detail-payment-options-methods-button-element, .sale-order-detail-payment-options-methods-button-element-new-window{font-family: "AGOpus-Roman", Arial, Helvetica, sans-serif;}
.personal_wrapper .orders_wrapper .row.col-md-12.col-sm-12 > a,
.sale-order-list-accomplished-date, .sale-order-list-accomplished-date-number,
.personal_wrapper .orders_wrapper .sale-order-title,
.personal_wrapper .orders_wrapper .sale-order-list-container .sale-order-list-accomplished-title, .personal_wrapper .orders_wrapper .sale-order-list-container .sale-order-list-title, .personal_wrapper .orders_wrapper .sale-order-detail-general-item,
.personal_wrapper .orders_wrapper .sale-order-list-inner-row > div > a, .personal_wrapper .sale-personal-account-wallet-container .sale-personal-account-wallet-title,
.btn.sale-account-pay-button, .bx-sls .bx-ui-sls-fake, .bx-sls .bx-ui-sls-route{font-family: "AGOpus-Roman", Arial, Helvetica, sans-serif;}
#main .catalog_detail .calculate-delivery-preview .font_sxs, #main .catalog_detail .calculate-delivery-preview .font_xs, #main .catalog_detail .cheaper_form>span, #main .catalog_detail .item-stock>span, #main .catalog_detail .price_txt, #main .catalog_detail .table_sizes span {
    font-size: 14px;
}
#basket-root .basket-items-list .basket-item-block-info .basket-items-list-item-warning-container .alert.alert-warning {
    text-align: left;
    background: #fff;
    border: none;
    color: #333;
    padding: 0 0 0 40px;
    font-size: 14px;
}
.font_upper_md {
    font-size: .9em;
}
.font_xs {
    font-size: 1.1em;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-smalltitle,
#bx-soa-order .bx-soa-section .bx-soa-section-title,
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-t,
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line{
	color: black;
}
#bx-soa-order.orderform--v1 .bx-soa-pp-company-description{
	color: #333;
}
.left_menu li a {
    font-size: 15px;
}
.menu-row .mega-menu table td.wide_menu>.wrap>.dropdown-menu ul.menu-wrapper>li>a {
    padding-top: 0!important;
    padding-bottom: 6px!important;
    font-size: 17px;
}
.subbottom .menu .mega-menu table td .wrap>a {
height: 40px;
padding: 14px 12px 36px 0;
font-size: .8em;
}
.menu_top_block.catalog_block .dropdown>li.full.v_bottom>.dropdown>li>a{
    font-size: 16px;
}
body .menu_top_block.catalog_block .dropdown>li>a {
    font-size: 16px;
}
.bx_filter .bx_filter_parameters_box_title {
    font-size: 14px;
}
/*конец*/

@media (max-width: 600px){
.compact-catalog .js-info-block {
    z-index: 99;
}
}
@media(max-width:581px){
#popup_iframe_wrapper .subscribe_frame{width: 100%;}
}
/* цвета стикеров */
.stickers [class*=sticker_] {
    background-color: #9EAD31;}
.stickers .sticker_aktsiya, .stickers .sticker_stock {
    background-color: #EFD657;}
.stickers .sticker_hit, .stickers .sticker_khit {
    background-color: #6F6F6E;}
.stickers .sticker_recommend, .stickers .sticker_sovetuem {
    background-color: #695B51;}

    
/* конец */

.d-none,
.topic__heading .element-count-wrapper
{display:none}
.catalog_section_list .section_item, .item.box-shadow.bg-fill-grey2{padding:28px 14px 27px;}
.catalog_section_list .section_item .image img {
    max-width: 100%;
    max-height: none;
}
@media (min-width: 401px){
.catalog_section_list .item_block.lg .section_item {
    padding-top: 25px;
}
}
header .address.tables, footer .info .address, .mega_fixed_menu .address {display: none}
.menu-item.dropdown.wide_menu.catalog.wide_menu, .menu-item.dropdown.wide_menu.catalog.wide_menu.active {
    background-color: #788b34;
}
.mCSB_container .menu-item.dropdown.wide_menu.catalog.wide_menu{
    background-color: white;
}

.alert.alert-warning.alert-show {
    padding: 0;
    margin-bottom: 0;
}
.tab_slider_wrapp .top_block {
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
}
.tab_slider_wrapp .top_block .right_block_wrapper {
    white-space: nowrap;
    margin-bottom: -7px;
    padding-top: 7px;
}
.tab_slider_wrapp .top_block .tabs {
    position: relative;
    z-index: 1;
    top: -3px;
}
.top_block ul.tabs li {
    margin: 0 26px 0 0;
    display: inline-block;
}
.tab_slider_wrapp .top_block .right_block_wrapper>a {
    top: 5px;
    display: inline-block;
    vertical-align: top;
}
/* меню */
/*.wrapper1 .menu-row .mega-menu table td.wide_menu>.wrap>.dropdown-menu.long-menu-items ul.menu-wrapper.menu-type-4>li .subitems-wrapper>ul>li{
    width: 100%;
    display: contents;
}
.mega-menu table td.wide_menu>.wrap>.dropdown-menu{
    min-width: auto;
.wrapper1 .menu-row .mega-menu table td.wide_menu>.wrap>.dropdown-menu.long-menu-items .menu-navigation__content ul.menu-wrapper.menu-type-4{
    width: 100%
}
.catalog .menu-navigation__content {
    flex-grow: inherit;
    min-width: 35%;
}

}*/
.menu-row .mega-menu table td.wide_menu.catalog>.wrap>.dropdown-menu ul.menu-wrapper>li>a {
    word-break: break-word;
}
.dropdown-menu.with_right_block .mCSB_container {
    display: flex;
    flex-direction: row;
}
.menu-navigation{
    height:auto;
}
.catalog .menu-navigation__content, .catalog .menu-navigation__sections-wrapper{
    width:auto;
    background: white;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow-y: auto;
}
.catalog .dropdown-menu{
    background-color: transparent;
    box-shadow: none;
}
.catalog .mCustomScrollBox{
    overflow: 
}


.menu-row .mega-menu table td.wide_menu.catalog>.wrap>.dropdown-menu ul.menu-wrapper>li>a {

    padding: 10px !important;
}
@media (max-width: 450px){
h1 {
    font-size: 1.4em;
}
.breadcrumbs__item-name.font_xs {
    font-size: 0.8em;
}
}
/*товары 18+*/
.item-adult-content {
    display: none;
}
.catalog1 .item:hover .item-adult-content {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000085;
    z-index: 999;
}
.call_form{
    cursor: pointer;
}
.icons-basket-wrapper .call_form.btn{
    color:#333;
    padding: 10px 4px !important;
}
.catalog_block_template .owl-carousel .owl-stage-outer:hover{overflow-y:hidden;}
.ajax_load.block .owl-item .item_block .footer_button {
    display: block;

    visibility: visible;
    height: auto;
}
.owl-stage .owl-item .catalog_item:not(.touch) {
    z-index: 58;
    height: auto !important;
}
/*@media(min-width:615px){
    .catalog_block_template .owl-carousel .owl-stage-outer{min-height: 502px;}
}*/
/*товары 18+*/
.table-view .product-info-headnote {
    display: none;
}
.item-noadult-text {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.item-noadult-text a{
    color: black;
}
.item-adult-content {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000a6;
    z-index: 999;
    justify-content: center;
}
.item-adult-text-cont {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    padding: 3rem 2rem;
    position: fixed;
    top: 40%;
    width: 30%;
    background: white;
}
@media(max-width:768px){
    .item-adult-text-cont {
    top: 30%;
    width: 80%;
}
}
.item-adult-text {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}
.item-adult-appruve{
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
    border: 1px solid;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #92a93f;
    border-color: #92a93f;
    color: #ffffff;
    white-space: unset;
}

/* .remove-cell,  */
#bx-soa-order .bx-price-old {
    display: none;
}

.form_head h2{display: none;}
.header_wrap #header{
    height:149px;
}
.menu-row{
    top:-30px;
    transition: top .3s linear;
}
.sticky-header .menu-row{
    position:fixed;
    width:100%;
    top:0;
        transition: top .3s linear;
}
.mega-menu table td>.wrap>a .fa {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.2rem;
}
@media(min-width:992px){
[data-property_id="699"] .bx_filter_parameters_box_title{
    background: #92a93f;
    color: white;
}
}
/* поиск магазинов */
input.yamaps-suggest-input{
    width: 100%;
    font-size: 1.3rem;
    padding: 5px 10px;
}
#mobileheader .title-block {
    height: 100%;
    padding: 9px 5px 5px 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important;
    font-weight: 100 !important;
    text-align: left !important;
    line-height: inherit !important;
    white-space: inherit !important;
    width: 36%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width: 470px){
#mobileheader .wrap_icon {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
}
.title-block a{
    color: white;
    font-weight: 600;
}
.wicons a {
    cursor: pointer;
    font-weight: 600;
}
.product-view .btn-exlg.call_form {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 47px;
}
/* .bx-soa-pp-company--hasprice .bx-soa-pp-list-description a{display:none;} */
/*это затемнение экрана при вызове формы*/
.modal_background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.6);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*это контейнер самой формы*/
.modal_form{
    background: #ffffff;
    border-radius: 2px;
    width: 80%;
    padding: 40px 30px;
    position: relative;
    display: none;
    max-width: 100%;
}
.delivery-left-block, .map-body{
        width: 100% !important;
    }
@media(min-width:1568px){
    .modal_form{
        width: 60%;
    }
}
@media(min-width:799px){
    .dilevery-wrapper .body{
        display: flex;
    }
    .delivery-left-block, .map-body{
        width: 50% !important;
    }
    .delivery-left-block{
        margin-right: 1rem;
    }
}
@media(max-width:798px){
    .modal_form{
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .map-body{
        max-height: 300px !important;
    }
    .delivery-left-block,.delivery-left-block p{
        margin-bottom: 1rem;
    }
}
@media (max-height: 680px){
.map-body {
    max-height: 220px !important;
}
}
.compact-catalog .item .stickers{display:block !important;}

/*это кнопка для закрытия формы*/
a.close_form, .success-btn.choose{
    margin-top: 1rem;
}
.close_form_nosave, .close_form_nosave_order {
    position: absolute;
    top: 7px;
    right: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    border: 1px solid #80808063;
    width: 25px;
    height: 25px;
    text-align: center;
        cursor: pointer;
}
@media (max-width: 992px){
#bx-soa-order .bx-soa-section .bx-soa-section-content {
    padding-left: 32px !important;
}
#bx-soa-order .bx-soa-section-content .bx-soa-coupon {
    margin-left: -29px;
}
#bx-soa-order #bx-soa-basket .bx-soa-section-content,#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr.bx-soa-basket-info .bx-soa-item-td:first-child,
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-content {
    padding: 0 !important;
    padding-left: 0 !important;
}
}
@media (max-width: 450px){
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td.bx-soa-item-properties {
    width: 50%!important;
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr.bx-soa-basket-info .bx-soa-item-td {
    padding: 5px !important;
}
}
@media (max-width: 500px){
.compact-catalog .ajax_load.block .catalog_item .footer_button, .compact-catalog .item .item_info.catalog-adaptive .counter_wrapp.list {
    position: inherit;
}
.compact-catalog .ajax_load .item .catalog_item>div, .compact-catalog .ajax_load .item .catalog-adaptive {
    padding: 19px 19px 20px;
}
.compact-catalog .ajax_load.block .catalog_item .footer_button .counter_wrapp>div:not(.button_block), .compact-catalog .item .item_info.catalog-adaptive .counter_wrapp.list>div:not(.button_block){
    width: 100%;
    height: 2rem;
    margin-bottom: 0.4rem;
    border-right-width: 1px;
}
.compact-catalog .ajax_load.block .catalog_item .footer_button .counter_wrapp>div.d-none, .compact-catalog .item .item_info.catalog-adaptive .counter_wrapp.list>div.d-none{
    display: none !important;
}
.counter_block.big input[type=text], body .item .item_info.catalog-adaptive .counter_block:not(.big) input[type=text], body .item .item_info.catalog-adaptive .counter_wrapp.list .counter_block {
    height: 2rem;
}
.compact-catalog .ajax_load .cost.prices .price+.price,
.compact-catalog .ajax_load .has-sku .wish_item_button,
.compact-catalog .ajax_load .sale_block{display: block !important}
.compact-catalog .ajax_load .sale_block .inner-sale{display:block}
}
#bx-soa-order.orderform--v1 .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:before,
.filter input[type="checkbox"]:checked + label:before{background: #92a93f}

/* картинки подразделов */
.section-compact-list__item.item {
    background-repeat: no-repeat;
    background-position: 100%;
    z-index: 1;
}
.section-compact-list__item.item:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    background: url(/bitrix/templates/aspro_max/images/section-pattern.png) no-repeat 100% 0;
    z-index: 0;
    top: 0px;
}
.section-compact-list__item.item:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255, 255, 255, 0.23) 100%);
    z-index: -1;
    top: 0px;
}
.section-compact-list__info span {
    background: white;
    box-shadow: 10px 0 10px 5px white;
    font-weight: 600;
}

/* скругления */
/*.top_big_banners.short_block .top_slider_wrapp .flexslider .slides>li{
    border-radius: 60px 0;
}*/

/* слайдер верхних категорий */
.swiper-focus-sections{
    padding: 10px 0;
/*     background-color: #92a93f33; */
    padding:10px 0;
    width: 100%;
}
/*.swiper-focus-sections:before {
    content: '';
    display: block;
    height: 100%;
    width: 30px;
    left: 0;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 2;
}
@media(max-width:767px){
    .swiper-focus-sections:before {
        width: 10px;
    }
}*/
.swiper-slide.section-detail-list__item{
    width:auto !important;
}
.swiper-slide.section-detail-list__item .bordered{
    padding: 0 10px;
}

.swiper-slide.section-detail-list__item a{
        color: #333;
}
.swiper-slide.section-detail-list__item .section-detail-list__info{
    padding: 5px;
    line-height: 1;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-button-next, .swiper-button-prev {
    background-color: #ffd83a;
    border-radius: 3px;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right:0;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.3rem;
    color: black;
}
.ajax_load.block .footer_button .btn.no-address {
    white-space: break-spaces;
    padding:10px 0;
}
.counter_wrapp.list .button_block .no-address{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:456px){
    .counter_wrapp.list .button_block .no-address{
        white-space: break-spaces;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
    }
}

.fastview-product .button_block .no-address{
    white-space: break-spaces;
    padding: 10px 5px;
}
.ajax_load.table .main_item_wrapper.table-view__item .btn.no-address {
    white-space: break-spaces;
    padding: 5px 0;
}
/* старая цена */
.price_name{display:none;}
body .prices .price_matrix_block .price_group:first-of-type{
margin-bottom:0;}
body .prices .price_group.min{margin-top:0}
body .prices .price_group.min .price span, body .prices .price_group.min .prices-wrapper > .price:first-of-type span{color:red}
.prices-wrapper{
    display: flex;
    flex-flow: column-reverse;
}

.product-action .info_item .price_txt, .middle_info1 .text-form .price_txt{display:none}
body .char_block #rs_grupper li span {
    font-size: 15px;
}
body .char_block #rs_grupper li b {
    color: #0c0c0c;
    font-size: 15px;
    font-weight: 500;
}
body .char_block #rs_grupper li {
    margin-left: 0;
}
.catalog-delivery.cansearch .catalog-delivery-title{padding: 20px;}
.catalog-delivery.cansearch h2{display:none}
.BIG_BANNER_INDEX>.maxwidth-theme .top_big_banners.top_margin_banner{margin-top:0}
#bx-soa-order.orderform--v1 .bx-soa-pp-item-container .bx-soa-pp-company-graf-container:before {
    border: 1px solid #b4b4b4;
    background: #f5f5f5;
}
.top_big_one_banner .top_slider_wrapp .flexslider .slides>li td.text.left{
    display: table-cell;
}
body .top_slider_wrapp .flexslider .slides li td.text.left .banner_title{
    text-align: left;
}
/* испправление кнопки закрыть на корзине */
#basket-root #basket-warning .close {
    font-size: 0;
}
#basket-root #basket-warning .close:before {
    content: 'x';
    display: block;
    font-size: 1rem;
}

.sale_block .value {
    font-size: 0.7rem;
    line-height: 0.9rem;
}
#mobileheader .title-block{width:50%}
.fast-view-nav.next,
.fast-view-nav.prev{display:none}

/*стили загрузки адреса при авторизации*/
.loader-onlogin {
    font-size: 1.5rem;
    text-align: center;
    position: relative !important;
}
.loader-onlogin i.fa.fa-spinner.fa-spin {
    display: block;
}
.modal_form.modal_address {
    width: auto
}
@media (max-width: 798px){
.modal_form.modal_address {
    height: auto
}
}

.fix-logo .logo-block {
    left: 22px;
}
@media (max-width: 1199px){
.fix-logo .logo-block {
    left: 30px;
}
}
#mobileheader .fa-map-marker{
    margin-right: 7px;
}
.header-delivery-icon{
    padding: 4px 6.7px;
    border-radius: 50%;
    background: #92a93f;
    color: white;
    margin-right: 10px;
}
.menu-item .wrap{
    text-align: center;
}
.logo-row .subbottom>.menu {
    padding-right: 0;
}
.header-user-menu {
    display: flex;
    padding: 10px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
.header-user-menu-item .fa-list-ul{
    padding: 7px;
}
.header-user-menu-item .fa-user{
    padding: 7px 9.7px 7px 9.6px;     
}
.header-user-menu-item .fa
{
    border-radius: 50%;
    background: #92a93f;
    color: white;
    margin-bottom: 4px;
}
.header-user-menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-user-menu-link{
    text-align: center;
    font-size: 0.7rem;
    color: #333;
    font-weight: 600;
    width: 100%;
}
footer .info .phone.blocks .phone .svg.svg-inline-phone {
    top: -2px;
    position: inherit;
    margin-right: 4px;
}
.footer-add-info span {
    margin: 9px 0;
    display: block;
    white-space: break-spaces;
}
footer .info .phone>.wrap a {
    width: min-content;
    display: inline-block;
}
footer .info .phone.blocks .phone>.wrap>div {
    padding: 0;
}
@media (max-width: 767px){
body .top_slider_wrapp .flexslider .slides li td.text.left .banner_text, .flexslider .left .text .section, body .top_slider_wrapp .flexslider .slides li td.text.right .banner_text {
    margin-left: 10px;
    text-align: left;
}
}
@media (max-width: 470px){
body .top_slider_wrapp .flexslider .slides li td.text.left .banner_text, .flexslider .left .text .section, body .top_slider_wrapp .flexslider .slides li td.text.right .banner_text {
    margin-left: 8px;
    text-align: left;
}
}
#mobileheader .burger img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 8px;
}
#mobileheader .burger.c img{
    display: none;
}
.catalog_item_wrapp .item-attent{
    width: 100%;
    background: #ffd841;
    color: #333;
    padding: 1px 5px;
    display: block; 
}
